<nav id="sidebar" class="active bg-imp">
    <ul class="list-unstyled components mb-5 p-3">
      <li class="active">
        <div class="accordion" id="accordionExample">
          <div class="bg-imp">
            <div class="card-header border-0" id="SalesheadingOne">
              <h2 class="mb-0 colorp borderRadiusBottom">
                <a routerLink="/dashboard" routerLinkActive="active" class="">Dashboard</a>
              </h2>
            </div>
            
            <div class="card-header border-0" >
              <h2 class="mb-0 colorp borderRadiusBottom">
                <a routerLink="/task-scheduler"  routerLinkActive="active">Task Scheduler Details</a>
              </h2>
            </div>

            <!-- <div class="card-header border-0" id="SalesheadingOne">
              <h2 class="mb-0 colorp borderRadiusBottom">
                <a routerLink="/application-check-up" routerLinkActive="active"> Application Check-up</a>
              </h2>
            </div> -->
            <div class="card-header border-0" id="SalesheadingOne">
              <h2 class="mb-0 colorp borderRadiusBottom">
                <a routerLink="/application-pool" routerLinkActive="active"> Web Server</a>
              </h2>
            </div>
            <!-- <div class="card-header border-0" id="SalesheadingOne">
              <h2 class="mb-0 colorp borderRadiusBottom">
                <a routerLink="/iis-server-status" routerLinkActive="active"> IIS Server Status</a>
              </h2>
            </div> -->
            <div class="card-header border-0" id="SalesheadingOne">
              <h2 class="mb-0 colorp borderRadiusBottom">
                <a routerLink="/database-health-status" routerLinkActive="active"> Database Health Status</a>
              </h2>
            </div>
            
            <!-- <div class="card-header border-0" id="SalesheadingOne">
              <h2 class="mb-0 colorp borderRadiusBottom">
                <a routerLink="/auto-clear-log-details" routerLinkActive="active"> Auto Clear Logs </a>
              </h2>
            </div> -->
            <div class="card-header border-0" id="SalesheadingOne">
              <h2 class="mb-0 colorp borderRadiusBottom">
                <a routerLink="/reports" routerLinkActive="active"> Reports </a>
              </h2>
            </div>
            <div class="card-header border-0" id="SalesheadingOne">
              <h2 class="mb-0 colorp borderRadiusBottom">
                <a routerLink="/settings" routerLinkActive="active">Settings</a>
              </h2>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </nav>