<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <app-header></app-header>
    </div>
    <div class="col-md-12">
      <div class="row d-flex">
        <div class="col-md-2 {{ sideBarClass }} p-md-0" *ngIf="isLeftMenuOpen">
          <app-left-navigation></app-left-navigation>
        </div>
        <div (click)="toggleMenu()" class="{{ mainClass }}">
          <main id="main" class="w-100">
            <section class="section gamedetails">
              <div class="row">
                <div class="col-md-12">
                  <!--your code will come here start-->
                  <div class="col-md-12">
                    <div class="row">
                      <h3 class="editmemberUA mb-2">
                        Two-factor Authentication Security
                      </h3>
                      <hr class="hr" />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-8">
                        <p>
                          Step 1 : Download Google Authenticator on your phone
                          directly from AppStore or GooglePlay.
                        </p>
                        <div class="row">
                          <img
                            src="../../../../../assets/images/google-play.png"
                            alt=""
                            class="google-playimg"
                          />
                          <img
                            src="../../../../../assets/images/apple-store.png"
                            alt=""
                            class="google-playimg"
                          />
                        </div>
                        <p class="mt-4">
                          Step 2 : Setup account within Google Authenticator.
                        </p>
                        <p>
                          Step 3 : Scan QR in Google Authenticator and enter the
                          verification code.
                        </p>
                      </div>
                      <div class="col-md-4 text-center">
                        <img src="../../../../../assets/images/qr.png" alt="" />
                        <input
                          type="text"
                          class="form-control mt-3 inpuths"
                          placeholder="Enter QR Code"
                        />
                        <button class="btn btn-success mt-4 w-100">
                          Enable Two Factor Authentication
                        </button>
                      </div>
                    </div>
                  </div>
                  <!--your code will come here end-->
                </div>
              </div>
            </section>
          </main>
        </div>
      </div>
    </div>
  </div>
</div>
