<main id="main" class="main m-0">
  <section class="section gamedetails">
    <div class="row">
      <div class="col-md-12">
        <!--your code will come here start-->
        <div class="row">
          <div class="col-md-3">
            <label>Enter IP</label>
            <input
              type="text"
              name=""
              class="form-control"
              id=""
              placeholder="Search"
            />
          </div>
          <div class="col-md-3">
            <label>Enter Player</label>
            <input
              type="text"
              name=""
              class="form-control"
              id=""
              placeholder="Search"
            />
          </div>
          <div class="col-md-3">
            <label>From Date</label>
            <input
              type="date"
              name=""
              class="form-control"
              id=""
              placeholder="Month"
            />
          </div>
          <div class="col-md-3">
            <label>To Date</label>
            <input
              type="date"
              name=""
              class="form-control"
              id=""
              placeholder="Month"
            />
          </div>
          <div class="col-md-3 mt-3">
            <button
              type="button"
              class="btn bwidth border-pink btn-pink radius-all"
            >
              Search
            </button>
          </div>
          <div class="col-md-9 content">
            <p class="mt-4">
              Red Color denotes Players ; Green Color denotes all the Masters.
            </p>
          </div>
        </div>
        <!--your code will come here end-->
      </div>
    </div>
  </section>
  <div class="col-md-12 mt-3">
    <table class="table tableall">
      <thead>
        <tr>
          <th scope="col " class="first">#</th>
          <th scope="col">IP</th>
          <th scope="col">Duplicate counts</th>
          <th scope="col" class="last"></th>
        </tr>
      </thead>
    </table>
  </div>
</main>
