<div id="content" class="p-3">
    <div class="row">
      <!-- last transection -->

      <div class="col my-3">
        <div class="card xs-card-group h-100">
          <div class="card-body px-1">
            <div class="d-flex align-items-start">
              <div class="flex-shrink-0">
                <img src="assets/images/total_server.png" alt="..." />
              </div>
              <div class="flex-grow-1">
                Total Server
                <p class="small m-0">Connected : 5 Servers</p>
                <p class="small m-0">Disconnect : 3 Servers</p>
                <p class="small m-0">Last Updated : 5 min</p>
              </div>
              <div class="flex-grow-1">8</div>
            </div>
          </div> 
        </div>
      </div>
      <div class="col my-3">
        <div class="card xs-card-group h-100">
          <div class="card-body px-1">
            <div class="d-flex align-items-start">
              <div class="flex-shrink-0">
                <img src="assets/images/task_schedular.png" alt="..." />
              </div>
              <div class="flex-grow-1">
                Task Scheduler
                <p class="small m-0">Connected : 5 Servers</p>
                <p class="small m-0">Disconnect : 3 Servers</p>
                <p class="small m-0">Last Updated : 5 min</p>
              </div>
              <div class="flex-grow-1">8</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col my-3">
        <div class="card xs-card-group h-100">
          <div class="card-body px-1">
            <div class="d-flex align-items-start">
              <div class="flex-shrink-0">
                <img src="assets/images/console_app.png" alt="..." />
              </div>
              <div class="flex-grow-1">
                Console Apps
                <p class="small m-0">Connected : 5 Servers</p>
                <p class="small m-0">Disconnect : 3 Servers</p>
                <p class="small m-0">Last Updated : 5 min</p>
              </div>
              <div class="flex-grow-1">8</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col my-3">
        <div class="card xs-card-group h-100">
          <div class="card-body px-1">
            <div class="d-flex align-items-center h-100">
              <div class="flex-shrink-0">
                <img
                  src="assets/images/alarm.png"
                  alt="..."
                />
              </div>
              <div class="flex-grow-1">
                Alarm
                <!-- <p class="small m-0">Last Updated : 12 April 24</p> -->
              </div>
              <div class="flex-grow-1">
                <i class="fa fa-clock-o"></i>15 min
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7 my-3">
        <div class="card xs-card-group h-100">
          <div class="card-body">
            <div class="row align-items-center">
              <div class="col-4">
                <h6 class="colorp m-0">
                  <img src="assets/images/task_schedula.png" alt="" />
                  Task Scheduler
                </h6>
              </div>
              <div class="col-8">
                <ul
                  class="list-unstyled p-0 m-0 d-flex align-items-center justify-content-between"
                >
                  <li>
                    <p class="small m-0">
                      Last Updated :
                      <span class="text-warning">12 April 2024</span>
                    </p>
                  </li>
                  <li>
                    <p class="small m-0">
                      Server :
                      <span class="text-warning">
                        <select name="" id="">
                          <option value="">All</option>
                          <option value="">Server 1</option>
                          <option value="">Server 2</option>
                          <option value="">Server 3</option>
                          <option value="">Server 4</option>
                        </select>
                      </span>
                    </p>
                  </li>
                  <li>
                    <p class="small m-0">
                      Detail :
                      <span class="text-warning">
                        <select name="" id="">
                          <option value="">Today</option>
                          <option value="">7 days</option>
                          <option value="">1 month</option>
                          <option value="">1 year</option>
                        </select>
                      </span>
                    </p>
                  </li>
                </ul>
              </div>
              <!-- //performanceChart -->
              <div class="col-md-12">
                <div id="performanceChart">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 my-3">
        <div class="card xs-card-group h-100">
          <div class="card-body">
            <div class="row align-items-center h-100">
              <div class="col-5">
                <h6 class="colorp m-0">
                  <!-- <img src="assets/images/task_schedula.png" alt="" /> -->
                  Total Server Storage
                </h6>
              </div>
              <div class="col-7 p-0">
                <ul
                  class="list-unstyled p-0 m-0 d-flex align-items-center justify-content-between"
                >
                  <li>
                    <p class="small m-0">
                      Server :
                      <span class="text-warning">
                        <select name="" id="">
                          <option value="">All</option>
                          <option value="">Server 1</option>
                          <option value="">Server 2</option>
                          <option value="">Server 3</option>
                          <option value="">Server 4</option>
                        </select>
                      </span>
                    </p>
                  </li>
                  <li>
                    <p class="small m-0">
                      Last Updated :
                      <span class="text-warning">12 April 2024</span>
                    </p>
                  </li>
                  <li>
                    <img src="assets/images/three_dot.svg" alt="" />
                  </li>
                </ul>
              </div>
              <div class="col-md-12">
                <div id="serverStoragChart"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 my-3">
        <div class="education">
          <div class="card lg-card">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-md-6 my-2">
                  <h6 class="colorp m-0">
                    <img src="assets/images/task_schedula.png" alt="" />
                    Server Information
                  </h6>
                </div>
                <div class="col-md-6 my-2 text-end">
                  <ul
                    class="list-unstyled p-0 m-0 d-flex align-items-center justify-content-end"
                  >
                    <!-- <li class="me-3">
                      <p class="small m-0">
                        Last Updated :
                        <span class="text-warning">12 April 2024</span>
                      </p>
                    </li> -->
                    <li class="me-3">
                      <p class="small m-0">
                        Server :
                        <span class="text-warning">
                          <select name="" id="">
                            <option value="">All</option>
                            <option value="">Server 1</option>
                            <option value="">Server 2</option>
                            <option value="">Server 3</option>
                            <option value="">Server 4</option>
                          </select>
                        </span>
                      </p>
                    </li>
                    <li>
                      <p class="small m-0">
                        Detail :
                        <span class="text-warning">
                          <select name="" id="">
                            <option value="">Today</option>
                            <option value="">7 days</option>
                            <option value="">1 month</option>
                            <option value="">1 year</option>
                          </select>
                        </span>
                      </p>
                    </li>
                  </ul>
                </div>
                <div class="col-md-12">
                  <div class="table-responsive">
                    <table class="table table-hover mt-3 table-striped">
                      <thead>
                        <tr class="btn-s">
                          <th id="table_Head"><input type="checkbox" /></th>
                          <th id="table_Head">S.No</th>
                          <th id="table_Head">Server name</th>
                          <th id="table_Head">IP address</th>
                          <th id="table_Head" class="pl-5">Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><input type="checkbox" /></td>
                          <td>1</td>
                          <td id="for_table_color">Cylsys.com</td>
                          <td>192.168.1.21</td>

                          <td class="text-center">
                            <label class="radioBTN connected">
                              <input
                                type="radio"
                                checked="checked"
                                name="radio1"
                              />
                              <span class="checkmark"></span>
                            </label>
                          </td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" /></td>
                          <td>1</td>
                          <td id="for_table_color">Cylsys.com</td>
                          <td>192.168.1.21</td>

                          <td class="text-center">
                            <label class="radioBTN disconnected">
                              <input
                                type="radio"
                                checked="checked"
                                name="radio2"
                              />
                              <span class="checkmark"></span>
                            </label>
                          </td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" /></td>
                          <td>1</td>
                          <td id="for_table_color">Cylsys.com</td>
                          <td>192.168.1.21</td>

                          <td class="text-center">
                            <label class="radioBTN connected">
                              <input
                                type="radio"
                                checked="checked"
                                name="radio3"
                              />
                              <span class="checkmark"></span>
                            </label>
                          </td>
                          <!-- <td>
                            <ul
                              class="list-unstyled d-flex justify-content-center align-items-center p-0"
                            >
                              <li class="mx-3">
                                <label class="switch">
                                  <input type="checkbox" checked />
                                  <span class="slider round"></span>
                                </label>
                              </li>
                              <li class="mx-3">
                                <img
                                  src="assets/images/pause-circle.svg"
                                  alt=""
                                />
                              </li>
                            </ul>
                          </td> -->
                        </tr>
                        <tr>
                          <td><input type="checkbox" /></td>
                          <td>1</td>
                          <td id="for_table_color">Cylsys.com</td>
                          <td>192.168.1.21</td>

                          <td class="text-center">
                            <label class="radioBTN disconnected">
                              <input
                                type="radio"
                                checked="checked"
                                name="radio4"
                              />
                              <span class="checkmark"></span>
                            </label>
                          </td>
                        </tr>
                        <tr>
                          <td><input type="checkbox" /></td>
                          <td>1</td>
                          <td id="for_table_color">Cylsys.com</td>
                          <td>192.168.1.21</td>

                          <td class="text-center">
                            <label class="radioBTN connected">
                              <input
                                type="radio"
                                checked="checked"
                                name="radio5
                                "
                              />
                              <span class="checkmark"></span>
                            </label>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7 my-3">
        <div class="education h-100">
          <div class="card lg-card h-100">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-md-4 my-2">
                  <h6 class="colorp m-0">
                    <img
                      src="assets/images/File.png"
                      alt=""
                    />
                    File Summary
                  </h6>
                </div>
                <div class="col-md-8 my-2 text-end">
                  <ul
                    class="list-unstyled p-0 m-0 d-flex align-items-center justify-content-end"
                  >
                    <li class="me-3">
                      <p class="small m-0">
                        Last Updated :
                        <span class="text-warning">12 April 2024</span>
                      </p>
                    </li>
                    <li class="me-3">
                      <p class="small m-0">
                        Server :
                        <span class="text-warning">
                          <select name="" id="">
                            <option value="">All</option>
                            <option value="">Server 1</option>
                            <option value="">Server 2</option>
                            <option value="">Server 3</option>
                            <option value="">Server 4</option>
                          </select>
                        </span>
                      </p>
                    </li>
                    <li>
                      <p class="small m-0">
                        Detail :
                        <span class="text-warning">
                          <select name="" id="">
                            <option value="">Today</option>
                            <option value="">7 days</option>
                            <option value="">1 month</option>
                            <option value="">1 year</option>
                          </select>
                        </span>
                      </p>
                    </li>
                  </ul>
                </div>
                <div class="col-md-12">
                  <div class="table-responsive">
                    <table class="table table-hover mt-3 table-striped">
                      <thead>
                        <tr class="btn-s">
                          <th id="table_Head">
                            <input type="checkbox" />
                          </th>

                          <th id="table_Head">App name</th>
                          <th id="table_Head">File Name</th>
                          <th id="table_Head" class="">Success Records</th>
                          <th id="table_Head" class="">Failed Records</th>
                          <th id="table_Head" class="">Total Records</th>
                          <th id="table_Head" class="">Upload Date</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <input type="checkbox" />
                          </td>
                          <td id="for_table_color">MISPV</td>
                          <td>log.text</td>
                          <td>15</td>
                          <td>5</td>
                          <td>20</td>
                          <td>20/04/2024</td>
                        </tr>
                        <tr>
                          <td>
                            <input type="checkbox" />
                          </td>
                          <td id="for_table_color">MISPV</td>
                          <td>log.text</td>
                          <td>15</td>
                          <td>5</td>
                          <td>20</td>
                          <td>20/04/2024</td>
                        </tr>
                        <tr>
                          <td>
                            <input type="checkbox" />
                          </td>
                          <td id="for_table_color">MISPV</td>
                          <td>log.text</td>
                          <td>15</td>
                          <td>5</td>
                          <td>20</td>
                          <td>20/04/2024</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 my-3">
        <div class="education">
          <div class="card lg-card">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-md-6 my-2">
                  <h6 class="colorp m-0">
                    <img
                      src="assets/images/File.png"
                      alt=""
                    />
                    Error Log
                  </h6>
                </div>
                <div class="col-md-6 my-2 text-end">
                  <ul
                    class="list-unstyled p-0 m-0 d-flex align-items-center justify-content-end"
                  >
                    <li class="me-3">
                      <p class="small m-0">
                        Last Updated :
                        <span class="text-warning">12 April 2024</span>
                      </p>
                    </li>
                    <li class="me-3">
                      <p class="small m-0">
                        Server :
                        <span class="text-warning">
                          <select name="" id="">
                            <option value="">All</option>
                            <option value="">Server 1</option>
                            <option value="">Server 2</option>
                            <option value="">Server 3</option>
                            <option value="">Server 4</option>
                          </select>
                        </span>
                      </p>
                    </li>
                    <li>
                      <p class="small m-0">
                        Detail :
                        <span class="text-warning">
                          <select name="" id="">
                            <option value="">Today</option>
                            <option value="">7 days</option>
                            <option value="">1 month</option>
                            <option value="">1 year</option>
                          </select>
                        </span>
                      </p>
                    </li>
                  </ul>
                </div>
                <div class="col-md-12">
                  <div class="table-responsive">
                    <table class="table table-hover mt-3 table-striped">
                      <thead>
                        <tr class="btn-s">
                          <th id="table_Head">Log Code</th>
                          <th id="table_Head">Log Details</th>
                          <th id="table_Head">Application Name</th>
                          <th id="table_Head">Server Name</th>
                          <th id="table_Head">Occur Time</th>
                          <th id="table_Head">Page / Function</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>404</td>
                          <td id="for_table_color">
                            indicates that the page you're trying to access
                            doesn't exist
                          </td>
                          <td>MISPV</td>
                          <td>Cylsys.com</td>
                          <td>23/04/2024, 12 p.m</td>
                          <td>MISPV File utility</td>
                        </tr>
                        <tr>
                          <td>404</td>
                          <td id="for_table_color">
                            indicates that the page you're trying to access
                            doesn't exist
                          </td>
                          <td>MISPV</td>
                          <td>Cylsys.com</td>
                          <td>23/04/2024, 12 p.m</td>
                          <td>MISPV File utility</td>
                        </tr>
                        <tr>
                          <td>404</td>
                          <td id="for_table_color">
                            indicates that the page you're trying to access
                            doesn't exist
                          </td>
                          <td>MISPV</td>
                          <td>Cylsys.com</td>
                          <td>23/04/2024, 12 p.m</td>
                          <td>MISPV File utility</td>
                        </tr>
                        <tr>
                          <td>404</td>
                          <td id="for_table_color">
                            indicates that the page you're trying to access
                            doesn't exist
                          </td>
                          <td>MISPV</td>
                          <td>Cylsys.com</td>
                          <td>23/04/2024, 12 p.m</td>
                          <td>MISPV File utility</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 my-3">
        <div class="education">
          <div class="card lg-card">
            <div class="card-body">
              <div class="row align-items-center">
                <div class="col-md-6 my-2">
                  <h6 class="colorp m-0">
                    <img
                      src="assets/images/File.png"
                      alt=""
                    />
                    Health Check-Up
                  </h6>
                </div>
                <div class="col-md-6 my-2 text-end">
                  <ul
                    class="list-unstyled p-0 m-0 d-flex align-items-center justify-content-end"
                  >
                    <li class="me-3">
                      <p class="small m-0">
                        Last Updated :
                        <span class="text-warning">12 April 2024</span>
                      </p>
                    </li>
                    <li class="me-3">
                      <p class="small m-0">
                        Server :
                        <span class="text-warning">
                          <select name="" id="">
                            <option value="">All</option>
                            <option value="">Server 1</option>
                            <option value="">Server 2</option>
                            <option value="">Server 3</option>
                            <option value="">Server 4</option>
                          </select>
                        </span>
                      </p>
                    </li>
                    <li>
                      <p class="small m-0">
                        Detail :
                        <span class="text-warning">
                          <select name="" id="">
                            <option value="">Today</option>
                            <option value="">7 days</option>
                            <option value="">1 month</option>
                            <option value="">1 year</option>
                          </select>
                        </span>
                      </p>
                    </li>
                  </ul>
                </div>
                <div class="col-md-12">
                  <div class="table-responsive">
                    <table class="table table-hover mt-3 table-striped">
                      <thead>
                        <tr class="btn-s">
                          <th id="table_Head">
                            <input type="checkbox" />
                          </th>
                          <th id="table_Head">S.No</th>
                          <th id="table_Head">Application name</th>
                          <th id="table_Head">Memory 78 %</th>
                          <th id="table_Head">Disk 1%</th>
                          <th id="table_Head" class="text-center">
                            Network
                          </th>
                          <th id="table_Head" class="text-center">
                            Power Usage
                          </th>
                          <th id="table_Head" class="text-center">
                            Action
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <input type="checkbox" />
                          </td>
                          <td>1</td>
                          <td id="for_table_color">Cylsys HRMS</td>
                          <td>1326.58 MB</td>
                          <td>0.1 MB / Sec</td>
                          <td>0 MBPS</td>
                          <td>
                            <span class="btn text-success w-100 text-center"
                              >Very Low</span
                            >
                          </td>
                          <td>
                            <ul
                              class="list-unstyled d-flex justify-content-center align-items-center p-0"
                            >
                              <li class="mx-3">
                                <a href="" class="text-success">Start</a>
                              </li>
                              <li>/</li>
                              <li class="mx-3">
                                <a href="" class="text-danger">Stop</a>
                              </li>
                            </ul>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <input type="checkbox" />
                          </td>
                          <td>1</td>
                          <td id="for_table_color">Cylsys HRMS</td>
                          <td>1326.58 MB</td>
                          <td>0.1 MB / Sec</td>
                          <td>0 MBPS</td>
                          <td>
                            <span class="btn text-danger w-100 text-center"
                              >High</span
                            >
                          </td>
                          <td>
                            <ul
                              class="list-unstyled d-flex justify-content-center align-items-center p-0"
                            >
                              <li class="mx-3">
                                <a href="" class="text-success">Start</a>
                              </li>
                              <li>/</li>
                              <li class="mx-3">
                                <a href="" class="text-danger">Stop</a>
                              </li>
                            </ul>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <input type="checkbox" />
                          </td>
                          <td>1</td>
                          <td id="for_table_color">Cylsys HRMS</td>
                          <td>1326.58 MB</td>
                          <td>0.1 MB / Sec</td>
                          <td>0 MBPS</td>
                          <td>
                            <span class="btn text-warning w-100 text-center"
                              >Low</span
                            >
                          </td>
                          <td>
                            <ul
                              class="list-unstyled d-flex justify-content-center align-items-center p-0"
                            >
                              <li class="mx-3">
                                <a href="" class="text-success">Start</a>
                              </li>
                              <li>/</li>
                              <li class="mx-3">
                                <a href="" class="text-danger">Stop</a>
                              </li>
                            </ul>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
crossorigin="anonymous"></script>
<script src="assets/js/apexcharts/apexcharts.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/main.js"></script>
<script src="assets/js/include.js"></script>
<script src="assets/js/custom.js"></script>
<script src="assets/js/progressBar.js"></script>
<script>
document.addEventListener("DOMContentLoaded", () => {
  new ApexCharts(document.querySelector("#performanceChart"), {
    series: [
      {
        name: "Today",
        data: [31, 40, 28, 51, 42, 82, 56],
      },
      // {
      //   name: "Month",
      //   data: [11, 32, 45, 32, 34, 52, 41],
      // },
      // {
      //   name: "Year",
      //   data: [15, 11, 32, 18, 9, 24, 11],
      // },
    ],
    chart: {
      height: 350,
      type: "bar",
      toolbar: {
        show: false,
      },
    },
    markers: {
      size: 4,
    },
    colors: ["#376681"],
    fill: {
      type: "gradient",
      gradient: {
        shadeIntensity: 1,
        opacityFrom: 0.3,
        opacityTo: 0.4,
        stops: [0, 90, 100],
      },
    },
    dataLabels: {
      enabled: false,
    },
    stroke: {
      curve: "smooth",
      width: 2,
    },
    xaxis: {
      type: "datetime",
      categories: [
        "2018-09-19T00:00:00.000Z",
        "2018-09-19T01:30:00.000Z",
        "2018-09-19T02:30:00.000Z",
        "2018-09-19T03:30:00.000Z",
        "2018-09-19T04:30:00.000Z",
        "2018-09-19T05:30:00.000Z",
        "2018-09-19T06:30:00.000Z",
      ],
    },
    tooltip: {
      x: {
        format: "dd/MM/yy HH:mm",
      },
    },
  }).render();
});
</script>
<script>
document.addEventListener("DOMContentLoaded", () => {
  new ApexCharts(document.querySelector("#serverStoragChart"), {
    series: [44, 55, 13, 43, 22, 11],
    chart: {
      type: "donut",
    },
    labels: [
      "800 GB",
      "1000 GB",
      "400 GB",
      "1200 GB",
      "900 GB",
      "700 GB",
    ],
    responsive: [
      {
        breakpoint: 480,
        options: {
          chart: {
            width: 200,
          },
          legend: {
            position: "bottom",
          },
        },
      },
    ],
  }).render();
});
</script>   