<main id="main" class="main m-0">
  <section class="section gamedetails">
    <div class="row">
      <div class="col-md-3">
        <h3 class="text-pink">
          <img src="images/useraccese.png" alt="" /> List of Users
        </h3>
      </div>
      <div class="col-md-6 mt-3">
        <div class="row ">
          <div class="input-group flex-nowrap">
            <input type="text" class="form-control bg-dark  border-end-0 border-pink radius-left-tb"
              placeholder="Search here" aria-label="Username" aria-describedby="addon-wrapping" />
            <span class="input-group-text bg-dark  border-pink radius-right-tb" id="addon-wrapping"><i
                class="fa fa-search"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-2 text-end mt-3">
        <a class="btn btn-pink radius-all"><i class="fa fa-pen"></i> Create</a>
      </div>
      <div class="col-md-1 text-end mt-3">
        <p>(Total : 0)</p>
      </div>
    </div>
    <div class="col-md-12 mt-3">
      <div class="border text-center p-5">
        <h4>No data found</h4>
      </div>
    </div>
  </section>
</main>