<main id="main" class="main m-0">
  <section class="section gamedetails">
    <div [formGroup]="betTickerForm" class="tab-pane fade show active" id="pills-batlist" role="tabpanel"
      aria-labelledby="pills-batlist-tab" tabindex="0">
      <div class="row mb-3">
        <div class="col-md-3">
          <h3 class="text-pink">Bet Ticker</h3>
        </div>
        <hr />
      </div>
      <div class="row mb-3 align-items-center">
        <div class="col-md-3">
          <label>Select Member</label>
          <select formControlName="memberName" id="ab" class="form-select">
            <option value="null">All</option>
            <option *ngFor="let member of allMembers" [value]="member.userId">
              {{ member.username }}
            </option>
          </select>
        </div>
        <div class="col-md-3">
          <button class="btn btn-pink border-pink rounded-pill mt-4 w-100 " (click)="clearMemberName()">
            <i class="fa fa-user-cog"> &nbsp;</i>Clear Members
          </button>
        </div>

        <div class="col-md-3">
          <label>From Date</label>
          <input type="date" formControlName="fromDate" name="fromDate" class="form-control" id=""
            placeholder="Month" />
        </div>
        <div class="col-md-3">
          <label>To Date</label>
          <input type="date" formControlName="toDate" name="toDate" class="form-control" id="" placeholder="Month" />
        </div>
      </div>
      <div class="row mb-3 align-items-end">
        <div class="col-md-4 mb-3">
          <label>Select Sport</label>
          <select formControlName="sportsId" id="ab" class="form-select pointer" (change)="changeGame($event)">
            <option value="null">All</option>
            <option *ngFor="let game of games" [value]="game.sportId">
              {{ game.sportName }}
            </option>
          </select>
        </div>
        <div class="col-md-4 mb-3">
          <label>Select Match</label>
          <select formControlName="matchId" id="ab" class="form-select pointer" (change)="changeMatch($event)">
            <option [value]="null">All</option>
            <option [value]="match.matchId" *ngFor="let match of matchList">
              {{ match.matchName }}
            </option>
          </select>
        </div>
        <div class="col-md-4 mb-3">
          <label>Select Market Type</label>
          <select formControlName="marketId" id="ab" class="form-select pointer" (change)="changeMarketType($event)">
            <option [value]="null">All</option>
            <option [value]="market.marketId" *ngFor="let market of marketList">
              {{ market.marketName }}
            </option>
          </select>
        </div>
        <div class="col-md-4">
          <label>Stakes From Value</label>
          <input formControlName="stakesFromValue" type="number" class="form-control" value=""
            placeholder="Enter Stake From..." />
        </div>
        <div class="col-md-4">
          <label>Stakes To Value</label>
          <input formControlName="stakesToValue" type="number" class="form-control" value=""
            placeholder="Enter Stake To..." />
        </div>
        <div class="col-md-4 my-3 my-md-0">
          <button type="button" class="btn btn-pink rounded-pill" (click)="searchList()">
            Search
          </button>
          <button *ngIf="allBets.length > 0" type="button" class="btn btn-pink rounded-pill ms-2 "
            (click)="exportExcel()">
            Export
          </button>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-12">
        <div class="table-responsive tableRes tableFixHead" *ngIf="allBets.length > 0 && !this.isLoading">
          <table class="table tableall" >
            <thead>
              <tr>
                <th scope="col" class="first">#</th>
                <th scope="col" class="pointer" (click)="toggleSort('username')">
                  Member
                </th>
                <th scope="col" class="pointer" (click)="toggleSort('placedDate')">
                  Place time
                </th>
                <th scope="col" class="pointer" (click)="toggleSort('event')">
                  Events
                </th>
                <th scope="col" class="pointer" (click)="toggleSort('betCategory')">
                  Market
                </th>
                <th scope="col" class="pointer" (click)="toggleSort('selectionName')">
                  Selection
                </th>
                <th scope="col" class="pointer" (click)="toggleSort('betRate')">
                  Odds Placed
                </th>
                <th scope="col" class="pointer" (click)="toggleSort('averagePriceMatched')">
                  Odds Matched
                </th>
                <th scope="col" class="pointer" (click)="toggleSort('stake')">
                  Matched
                </th>
                <th scope="col" class="pointer" (click)="toggleSort('stake')">
                  Unmatched
                </th>
                <th scope="col" class="pointer" (click)="toggleSort('profitLiability')">
                  Profit/Liability
                </th>
                <th scope="col" class="pointer" (click)="toggleSort('ip')" class="last">
                  IP
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="
                  let bets of allBets | sort : sortColumn : sortAscending;
                  let i = index
                ">
                <td class="col">
                  <span *ngIf="currentPage == 1">{{ i + 1 }}</span>
                  <span *ngIf="currentPage > 1">{{
                    i + 1 + (currentPage - 1) * limit
                    }}</span>
                </td>
                <td class="col">{{ bets.username }}</td>
                <td class="col">{{ bets.placedDate | date : "mediumTime" }}</td>
                <td class="col">{{ bets.event | truncate : 28 }}</td>
                <td class="col">
                  <span *ngIf="!bets.type" class="border r-2 bg-danger text-danger me-2 border-3 border-danger"></span>
                  <span *ngIf="bets.type" class="border bg-primary text-primary border-primary me-2 border-3"></span>
                  {{ bets.betCategory }}
                </td>
                <td class="col">{{ bets.selectionName }}</td>
                <td class="col">{{ bets.betRate }}</td>
                <td class="col">{{ bets.averagePriceMatched }}</td>
                <td class="col">
                  <ng-container *ngIf="bets.isMatched; else notMatched">
                    {{ bets.stake }}
                  </ng-container>
                  <ng-template #notMatched> -- </ng-template>
                </td>
                <td class="col">
                  <ng-container *ngIf="!bets.isMatched; else notMatched">
                    {{ bets.stake }}
                  </ng-container>
                  <ng-template #notMatched> -- </ng-template>
                </td>
                <td class="col text-center">
                  <span [ngClass]="bets.type ? 'text-danger' : 'text-success'">
                    <strong>{{ bets.profitLiability }}</strong>
                  </span>
                </td>
                <td class="col tooltipnk">
                  <i class="fa-sharp fa-solid fa-clipboard cursor-pointer" ngxClipboard [cbContent]="bets.ip"
                    [container]="container"></i>
                  <span class="tooltiptext tabTooltip px-5 w-auto">
                    <small #container>{{ bets.ip }}</small>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-md-12" *ngIf="allBets.length == 0">
          <div class="border text-center p-5">
            <h4 *ngIf="allBets.length == 0 && !isLoading">No data found</h4>
            <h4 *ngIf="isLoading">Loading...</h4>
          </div>
        </div>
      </div>
    </div>
    <!--<div *ngIf="allBets.length > 0 && !this.isLoading"><button
        class="btn rounded-pill "
        [disabled]="currentPage === 1"
        (click)="prev()"
      >
        Prev
      </button><span class="btn btn-pink rounded-pill ps-4 pe-4"
        >{{ currentPage / totalPages }}
      </span><button
        class="btn rounded-pill "
        [disabled]="currentPage === totalPages"
        (click)="next()"
      >
        Next
      </button></div>-->
    
  </section>
</main>