.green {
  background-color: #198754 !important;
}

.yellow {
  background-color: #ffc107 !important;
}

.red {
  background-color: #dc3545 !important;
}

.custom-ddl {
  background-color: transparent;
  color: none;
  border: none;
}