<div class="row m-0">
    <!-- nav tab start here -->
    <!-- <div class="accountStatement"> -->
      <div class="col-md-12 pb-2 pt-2 secondheader">
        <a><i class="fa fa-angle-left text-dark pointer" (click)="goBack()"></i
          >&nbsp;&nbsp; Casino Report History</a
        >
      </div>
      <hr class="text-color" />
        <!-- <div class="card-body"> -->
          <div class="col-md-12 ps-md-5 pe-md-5">
          <form action="" class="mb-4">
            <fieldset>
              <div class="row g-3 align-items-center">
                <div class="col-md-2 col-6">
                  <div class="input-group">
                   
                    <input
                      type="date"
                      class="w-100  btn btn-lg  text-dark border-dark input-group"
                      placeholder="Server"
                      aria-label="Server"
                    />
                  </div>
                </div>
                <div class="col-md-2 col-6">
                  <div class="input-group">
                   
                    <select name="" id="" class=" border-dark w-100 form-select">
                      <option value="0" >Casino Type</option>
                      <option value="1">Teenpatti</option>
                      <option value="2">20 20 Teenpatti</option>
                    </select>
                  </div>
                </div>
                
                
                

                <div class="col-md-2 col-6">
                  <button class="btn btn-primary btn-lg border-dark w-100">Submit</button>
                </div>

                <!-- <div class="col-auto">
                  <div class="document_button">
                    <button class="btn-transparent btnpdf">
                      <img
                        alt="icon"
                        src="assets/images/pdf-icon.png"
                      />
                    </button>
                    <button class="btn-transparent btnexc">
                      <img
                        alt="icon"
                        src="assets/images/excel-icon.png"
                      />
                    </button>
                  </div>
                </div> -->
              </div>
            </fieldset>
          </form>

          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th scope="col">Round ID</th>
                <th scope="col">Winner</th>
               
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="2" class="text-center">No Record Found</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    <!-- </div>
  </div> -->
