<!--body start-->
<div class="row m-0">
  <div class="col-md-12 pb-2 pt-2">
    <a
      routerLink="/profit-loss"
      class="text-color small text-decoration-none h6"
      ><i class="fa fa-angle-left text-white" (click)="goBack()"></i
      >&nbsp;&nbsp; Profit & Loss</a
    >
  </div>
  <hr class="text-color" />
  <div class="col-md-12 ps-md-5 pe-md-5 accordionn">
    <div class="innerpagem rounded">
      <div class="row p-0 mb-1">
        <strong
          ><p class="ms-3">
            {{ betsPnl[0]?.sportName
            }}<i class="fa fa-angle-right text-white ms-2 me-2"></i
            >{{ betsPnl[0]?.matchName }}-{{ betsPnl[0]?.refMarketId }}
          </p></strong
        >
      </div>
    </div>
  </div>

  <div class="col-md-12 ps-md-5 pe-md-5 accordionn">
    <div class="innerpagem rounded m-0 py-3 ps-md-3 pe-md-3 mb-1 overflow-auto">
      <table class="table tableall text-center text-white">
        <thead class="bg-color">
          <tr>
            <th class="text-center tstartcol pointer" (click)="toggleSort('createDateTime')">Placed</th>
            <th class="text-center pointer" (click)="toggleSort('matchTime')">Match Time</th>
            <th class="text-center pointer" (click)="toggleSort('selectionName')">Selection</th>
            <th class="text-center pointer" (click)="toggleSort('type')">Type</th>
            <th class="text-center pointer" (click)="toggleSort('odds')">Odds</th>
            <th class="text-center pointer" (click)="toggleSort('stake')">Stake</th>
            <th class="text-center pointer" (click)="toggleSort('winAmount')">Profit/Loss</th>
            <th class="text-center tlastcol pointer" (click)="toggleSort('status')">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of betsPnl|sort:sortColumn:sortAscending" class="text-white text-center">
            <td>{{ data.createDateTime | date : "d/MM/yy, h:mm a" }}</td>
            <td>{{ data.matchTime | date : "d/MM/yy, h:mm a" }}</td>
            <td>{{ data.selectionName }}</td>
            <td>
              <span
                *ngIf="data.isBack == false"
                class="border r-2 bg-danger text-danger border-danger me-2 border-3"
              ></span>
              <span
                *ngIf="data.isBack == true"
                class="border bg-primary text-primary border-primary me-2 border-3"
              ></span>
              {{ data.type }}
            </td>
            <td>{{ data.odds }}</td>
            <td>{{ data.stake }}</td>
            <td
              [ngClass]="data.status == 'WON' ? 'text-success' : 'text-danger'"
            >
              {{ data?.winAmount | number }}
            </td>
            <td
              [ngClass]="data.status == 'WON' ? 'text-success' : 'text-danger'"
            >
              {{ data?.status }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<br />
<div class="col-md-12 px-md-5 px-3 accordionn2">
  <div class="card">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-6">
          <small>Back subtotal:</small>
        </div>
        <div class="col-md-6 col-6">
          <small
            class="float-end me-1"
            *ngIf="currentBet.backSubTotal != 0"
            [ngClass]="
              currentBet.backSubTotal > 0 ? 'text-success' : 'text-danger'
            "
            >{{ currentBet.backSubTotal | number }}</small
          >
          <small class="float-end me-1" *ngIf="currentBet.backSubTotal == 0">{{
            currentBet.backSubTotal | number
          }}</small>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-6">
          <small>Lay subtotal:</small>
        </div>
        <div class="col-md-6 col-6">
          <small
            class="float-end me-1"
            *ngIf="currentBet.laySubTotal != 0"
            [ngClass]="
              currentBet.laySubTotal > 0 ? 'text-success' : 'text-danger'
            "
            >{{ currentBet.laySubTotal | number }}</small
          >
          <small class="float-end me-1" *ngIf="currentBet.laySubTotal == 0">{{
            currentBet.laySubTotal | number
          }}</small>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-6">
          <small>Turnover:</small>
        </div>
        <div class="col-md-6 col-6">
          <small
            class="float-end me-1"
            *ngIf="currentBet.turnOver != 0"
            [ngClass]="currentBet.turnOver > 0 ? 'text-success' : 'text-danger'"
            >{{ currentBet.turnOver | number }}</small
          >
          <small class="float-end me-1" *ngIf="currentBet.turnOver == 0">{{
            currentBet.turnOver | number
          }}</small>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-6">
          <small><strong>Market subtotal:</strong></small>
        </div>
        <div class="col-md-6 col-6">
          <small
            class="float-end me-1"
            *ngIf="currentBet.netMarketTotal != 0"
            [ngClass]="
              currentBet.netMarketTotal > 0 ? 'text-success' : 'text-danger'
            "
            >{{ currentBet.netMarketTotal | number }}</small
          >
          <small
            class="float-end me-1"
            *ngIf="currentBet.netMarketTotal == 0"
            >{{ currentBet.netMarketTotal | number }}</small
          >
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-6">
          <small>Commission:</small>
        </div>
        <div class="col-md-6 col-6">
          <small
            class="float-end me-1"
            *ngIf="currentBet.commission != 0"
            [ngClass]="
              currentBet.commission > 0 ? 'text-success' : 'text-danger'
            "
            >{{ currentBet.commission | number }}</small
          >
          <small class="float-end me-1" *ngIf="currentBet.commission == 0">{{
            currentBet.commission | number
          }}</small>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-6">
          <small>Fancy Commission:</small>
        </div>
        <div class="col-md-6 col-6">
          <small
            class="float-end me-1"
            *ngIf="currentBet.totalFancyCommission != 0"
            [ngClass]="
              currentBet.totalFancyCommission > 0 ? 'text-success' : 'text-danger'
            "
            >{{ currentBet.totalFancyCommission | number }}</small
          >
          <small class="float-end me-1" *ngIf="currentBet.totalFancyCommission == 0">{{
            currentBet.totalFancyCommission | number
          }}</small>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-6">
          <small>Bookmaker Commission:</small>
        </div>
        <div class="col-md-6 col-6">
          <small
            class="float-end me-1"
            *ngIf="currentBet.totalBookmakerCommission != 0"
            [ngClass]="
              currentBet.totalBookmakerCommission > 0 ? 'text-success' : 'text-danger'
            "
            >{{ currentBet.totalBookmakerCommission | number }}</small
          >
          <small class="float-end me-1" *ngIf="currentBet.totalBookmakerCommission == 0">{{
            currentBet.totalBookmakerCommission | number
          }}</small>
        </div>
      </div>
      <!--<div class="row">
                        <div class="col-md-6">
                            <small>Bookmaker Result Commission:</small>
                        </div>
                        <div class="col-md-6">
                            <small class="float-end  me-1" *ngIf="(currentBet.bookmakerResultCommission !=0)"[ngClass]="currentBet.bookmakerResultCommission >0 ?'text-success':'text-danger'">{{currentBet.bookmakerResultCommission | number}}</small>
                            <small class="float-end me-1" *ngIf="(currentBet.bookmakerResultCommission ==0)">{{currentBet.bookmakerResultCommission | number}}</small>

                        </div>
                    </div>-->
      <div class="row">
        <div class="col-md-6 col-6">
          <small><strong>Net Market Total:</strong></small>
        </div>
        <div class="col-md-6 col-6">
          <small
            class="float-end me-1"
            *ngIf="currentBet.netAmt != 0"
            [ngClass]="
              currentBet.netAmt > 0 ? 'text-success' : 'text-danger'
            "
            >{{ currentBet.netAmt | number }}</small
          >
          <small
            class="float-end me-1"
            *ngIf="currentBet.netAmt == 0"
            >{{ currentBet.netAmt | number }}</small
          >
        </div>
      </div>
    </div>
  </div>
</div>

<!--Body end-->
