<div class="tab-pane fade show active" id="pills-transferstatements" role="tabpanel"
  aria-labelledby="pills-transferstatements-tab" tabindex="0">
  <div class="row align-items-end" [formGroup]="filterForm">
    <div class="col-md-2">
      <label>From Date</label>
      <input type="date" formControlName="fromDate" name="fromDate" class="form-control mt-2" id="" />
    </div>
    <div class="col-md-2">
      <label>To Date</label>
      <input type="date" formControlName="toDate" name="toDate" class="form-control mt-2" id="" />
    </div>
    <div class="col-md-2">
      <button class="btn btn-pink rounded-pill w-100 mt-4" (click)="getTransferStatement()">
        Search
      </button>
    </div>
    <div class="col-md-6 text-end">
      <label>
        <p>
          Total Net Share <span class="text-success ps-2 pe-2"> 0 </span>
        </p>
      </label>
    </div>
  </div>
  <div class="col-md-12 mt-3">
    <div class="table-responsive tableFixHead tableRes">
      <table class="table tableall" *ngIf="transferStatements.length > 0 && !this.isLoading">
        <thead>
          <tr>
            <th scope="col" class=" pointer first" (click)="toggleSort('createdDate')">
              Date
            </th>
            <th scope="col" class=" pointer" (click)="toggleSort('fromUsername')">
              Payer/Payee
            </th>
            <th scope="col" class=" pointer last" (click)="toggleSort('amount')">
              Amount
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="
              let statements of transferStatements
                | sort : sortColumn : sortAscending
            ">
            <td>{{ statements?.createdDate | date }}</td>
            <td>
              {{ statements?.fromUsername }} ({{ statements?.toUsername }})
            </td>
            <td [ngClass]="
                statements?.amount > 0 ? 'text-success' : 'text-danger'
              ">
              {{ statements?.amount }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-12" *ngIf="transferStatements?.length == 0">
    <div class="border text-center p-5">
      <h4 *ngIf="transferStatements.length == 0 && !isLoading">
        No data found
      </h4>
      <h4 *ngIf="isLoading">Loading...</h4>
    </div>
  </div>

  <div *ngIf="transferStatements.length > 0 && !this.isLoading">
    <button class="btn rounded-pill " [disabled]="currentPage === 1" (click)="prev()">
      Prev
    </button>
    <span class="btn btn-pink rounded-pill ps-4 pe-4">{{ currentPage }} / {{ totalPages }}
    </span>
    <button class="btn rounded-pill " [disabled]="currentPage === totalPages" (click)="next()">
      Next
    </button>
  </div>
</div>