<!--body start-->
<div class="row m-0">
    <div class="col-md-12 pb-2 pt-2">
        <a  class="text-color small text-decoration-none"><i class="fa fa-angle-left text-white"(click)="goBack()"></i>&nbsp;&nbsp; Time
            Settings</a>
    </div>
    <hr class="text-color">
    <!--Artical Start-->
    <div class="col-md-12 ps-5 pe-5 accordionn">
        <div class="innerpagem p-3">
            <!--Time Settings start-->
            <div role="radiogroup" class="v-input--radio-group__input">
                <div class="v-radio pb-2">
                    <div class=""><input aria-checked="false" role="radio" type="radio" name="time" value="india"><span
                            style="padding-left: 8px;">Your device times</span>
                    </div>
                </div>
                <div class="v-radio pb-2 ">
                    <div class=""><input aria-checked="false" role="radio" type="radio" name="time" value="system"><span
                            style="padding-left: 8px;">System time (GMT+00:00)</span>
                    </div>
                </div>
                <div class="v-radio pb-2">
                    <div class=""><input aria-checked="false" role="radio" type="radio" name="time" value="india"><span
                            style="padding-left: 8px;">India Standard Time (GMT+5:30)</span>
                    </div>
                </div>
            </div>
            <!--Time Settings end-->
        </div>
    </div>
    <!--Artical end-->
</div>
<!--Body end-->