<!--body start-->
<div class="row m-0">
    <div class="col-md-12 pb-2 pt-2">
      <a  class="text-color small text-decoration-none"><i class="fa fa-angle-left text-white"(click)="goBack()"></i>&nbsp;&nbsp; Setting</a>
     </div>
     <hr class="text-color">
  <!--Artical Start-->
  <div class="col-md-12 ps-5 pe-5 accordionn mpse">
    <div class="innerpagem p-3">
      <!--Setting start-->
      <label class="form-check-label text-color" for="gridCheck">
        <h5>One Click Betting</h5>
      </label>
      <label class="switch float-end me-1"> <input type="checkbox" (click)="setOneclickBet($event)" [ngModelOptions]="{standalone: true}"
        [(ngModel)]="isOneclickBet"> <span class="slider round"></span></label>
      <hr class="hr" />

        <form  (ngSubmit)="onSubmitSave()">
          <div class="row">
          <div class="col-md-6 text-center mb-4">
            <div class="text-color text-start">
              <h6>Edit One-click Stakes</h6>
            </div>

              <div class="innerpagem pt-0" >
                <div class="row m-0 p-2 pb-3">
                  <span *ngIf="isLoading" class="h4 my-5">Loading...</span>
                  <ng-container *ngIf="!isEditMode">
                    <div  class="p-2 col-md-4 col-4"  *ngFor="let item of userConfig?.userConfig?.editOneClickStakeBtn">
                      <button type="button" class="btn bg-light w-100" aria-pressed="true" [disabled]="oneClickBetting==false" [ngClass]="(item == editOneClickStakeActiveBtn?'bg-color':'bg-light')" (click)="setOneClickActiveBtn(item)">+{{item | number}}</button>
                      <!-- <button type="button" class="btn bg-light w-100 active" aria-pressed="true" *ngIf="item==userConfig.userConfig.editOneClickStakeActiveBtn?"></button> -->
                    </div>
                  </ng-container>

                  <ng-container *ngIf="isEditMode">
                    <div  class="p-2 col-md-4 col-4" *ngFor="let item of editBetting.controls;let i=index">
                      <input type="number" class="text-center form-control bg-light" value="userConfig.userConfig.editOneClickStakeBtn[i]" [formControl]="getControl(i)" [max]="userBalance?.creditLimit">
                    </div>
                  </ng-container>
                  
                  <ng-container *ngIf="!isLoading" class="h4">
                    <div class="col-md-6 mt-3 col-6" ><button type="button" [disabled]="oneClickBetting==false" class="btn border w-100 btn-light"  (click)="isEditMode=!isEditMode">{{isEditMode?'Cancel':'Edit'}}</button> </div>
                    <div class="col-md-6 mt-3 col-6" ><button type="submit"  [disabled]="oneClickBetting==false" [disabled]="isEditMode==false"  [disabled]="editBetting.invalid"  class="btn btn-light border w-100"  [ngClass]="isEditMode? 'bg-color':''">Save </button> </div>
                  </ng-container>
                </div>
              </div>

          </div>
        <!-- <div class="col-md-6 text-center mb-4">
          <div class="text-color text-start">
            <h6>Edit Stakes</h6>
          </div>

          <div class="innerpagem pt-0">
            <div class="row m-0 p-2">
                <div class="p-2 col-md-4"  *ngFor="let item of userConfig.userConfig.EditStakesBtn"><button type="button" class="btn bg-light w-100 active" aria-pressed="true">+{{item | number}}</button></div>
                <div class="col-md-6 mt-3 "><button type="button" class="btn border w-100 btn-light" >Edit</button> </div>
                <div class="col-md-6 mt-3 "><button type="submit" class="btn btn-light bg-light border disabled w-100">Save </button> </div>
            </div>
          </div>

        </div> -->

        <div class="col-md-6 text-center">
          <div class="text-color text-start">
            <h6>Edit Stakes</h6>
          </div>

            <div class="innerpagem pt-0" >
              <div class="row m-0 p-2 pb-3">
                <span *ngIf="isLoading" class="h4 my-5">Loading...</span>
                <ng-container *ngIf="!isEditMode1">
                  <div  class="p-2 col-md-4 col-4"  *ngFor="let item of userConfig?.userConfig?.EditStakesBtn">
                    <button type="button" class="btn bg-light w-100 active" [disabled]="oneClickBetting==false" aria-pressed="true">+{{item | number}}</button>
                  </div>
                </ng-container>
                <ng-container *ngIf="isEditMode1">
                  <div  class="p-2 col-md-4 col-4" *ngFor="let item of editBettingEditStake.controls;let i=index">
                    <input type="number" class="text-center form-control bg-light" value="userConfig.userConfig.EditStakesBtn[i]" [formControl]="getControl1(i)">
                  </div>
                </ng-container>

                <ng-container *ngIf="!isLoading" class="h4">
                  <div class="col-md-6 mt-3 col-6"><button type="button" [disabled]="oneClickBetting==false" class="btn border w-100 btn-light"  (click)="isEditMode1=!isEditMode1">{{isEditMode1?'Cancel':'Edit'}}</button> </div>
                  <div class="col-md-6 mt-3 col-6"><button type="submit"  [disabled]="oneClickBetting==false" [disabled]="isEditMode1==false"class="btn btn-light bg-light border  w-100" [ngClass]="isEditMode1? 'bg-color':''">Save </button> </div>
                </ng-container>
              </div>
            </div>

        </div>
      </div>
        </form>


      <!--Setting end-->
    </div>
  </div>
  <!--Artical end-->
</div>
<!--Body end-->
