<div [formGroup]="loginHistoryForm" class="tab-pane fade show active" id="pills-loginhistory" role="tabpanel"
  aria-labelledby="pills-loginhistory-tab" tabindex="0">
  <div class="row align-items-end">
    <div class="col-md-2">
      <label>From Date</label>
      <input type="date" formControlName="fromDate" name="fromDate" class="form-control mt-2" id="" />
    </div>
    <div class="col-md-2">
      <label>To Date</label>
      <input type="date" formControlName="toDate" name="toDate" class="form-control mt-2" id="" />
    </div>
    <div class="col-md-2">
      <button class="btn btn-pink rounded-pill w-100 mt-4" (click)="searchLoginHistory()">
        Search
      </button>
    </div>
    <!-- <div class="col-md-2 pt-2">
  <button class="btn btn-pink rounded-pill w-100 mt-4">IP Logs</button>
  </div> -->
  </div>
  <div class="col-md-12 mt-3">
    <!-- <div class="border text-center p-5">
   <h4>No data found </h4>
 </div> -->
    <div class="table-responsive tableFixHead tableRes">
      <table class="table tableall" *ngIf="loginHistory.length > 0 && !this.isLoading">
        <thead>
          <tr>
            <th scope="col" class="first">#</th>
            <th scope="col" class="pointer" (click)="toggleSort('username')">
              Name
            </th>
            <th scope="col" class="pointer" (click)="toggleSort('createdDate')">
              Date
            </th>
            <th scope="col" class="pointer">IP</th>
            <th scope="col" class="pointer">Device</th>
            <th scope="col" class="pointer">Browser</th>
            <th scope="col" class="pointer last">OS</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="
              let history of loginHistory | sort : sortColumn : sortAscending;
              let i = index
            ">
            <td>
              <span *ngIf="currentPage == 1">{{ i + 1 }}</span>
              <span *ngIf="currentPage > 1">{{
                i + 1 + (currentPage - 1) * limit
                }}</span>
            </td>
            <td>{{ history.username }}</td>
            <td>{{ history.createdDate | date : "medium" }}</td>
            <td class="col tooltipnk">
              <i class="fa-sharp fa-solid fa-info"></i>
              <span class="tooltiptext tabTooltip px-5 w-auto">
                <small>{{ history.userIpAddress }}</small>
              </span>
            </td>
            <td>desktop</td>
            <td>Chrome 110.0</td>
            <td>Windows 10.0 x64</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="loginHistory.length > 0 && !this.isLoading">
    <button class="btn rounded-pill " [disabled]="currentPage === 1" (click)="prev()">
      Prev
    </button>
    <span class="btn btn-pink rounded-pill ps-4 pe-4">{{ currentPage }} / {{ totalPages }}
    </span>
    <button class="btn rounded-pill " [disabled]="currentPage === totalPages" (click)="next()">
      Next
    </button>
  </div>

  <div class="col-md-12 mt-3" *ngIf="loginHistory.length == 0">
    <div class="border text-center p-5">
      <h4 *ngIf="loginHistory.length == 0 && !isLoading">No data found</h4>
      <h4 *ngIf="isLoading">Loading...</h4>
    </div>
  </div>
</div>