<div class="tab-pane fade show active" id="pills-accountstatement" role="tabpanel"
  aria-labelledby="pills-accountstatement-tab" tabindex="0">
  <div class="row align-items-end" [formGroup]="filterForm">
    <div class="col-md-3">
      <label>Select Sport</label>
      <select formControlName="sportsId" id="ab" class="form-select pointer">
        <option value="null">All</option>
        <option *ngFor="let game of games" [value]="game.sportId">
          {{ game.sportName }}
        </option>
      </select>
    </div>
    <div class="col-md-3">
      <label>From Date</label>
      <input formControlName="fromDate" type="date" onfocus="(this.type='date')"
        onblur="if(this.value==''){this.type='text'}" name="fromDate" class="form-control" id="" />
    </div>
    <div class="col-md-3">
      <label>To Date</label>
      <input formControlName="toDate" type="date" onfocus="(this.type='date')"
        onblur="if(this.value==''){this.type='text'}" name="toDate" class="form-control" id="" />
    </div>
    <div class="col-md-3">
      <button class="btn btn-pink rounded-pill w-100 mt-4" (click)="getAccountStatement()">
        Search
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-3">
      <!-- <div class="border text-center p-5" *ngIf="accountStatement.length == 0">
        <h4 >No data found</h4>
      </div> -->
      <div class="table-responsive tableFixHead tableRes">
        <table class="table tableall" *ngIf="accountStatement.length > 0">
          <thead>
            <tr>
              <th scope="col" class="first">#</th>
              <th scope="col" class="pointer" (click)="toggleSort('settledDate')">
                Date
              </th>
              <th scope="col" class="pointer" (click)="toggleSort('marketName')">
                Market Description
              </th>
              <th scope="col" class="pointer" (click)="toggleSort('matchName')">
                P&L
              </th>
              <th scope="col" class="pointer" (click)="toggleSort('netAmt')">
                Net Amount
              </th>
              <th scope="col" class="last">Details</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="
                let acc of accountStatement | sort : sortColumn : sortAscending;
                let i = index
              ">
              <td>
                <span *ngIf="currentPage == 1">{{ i + 1 }}</span>
                <span *ngIf="currentPage > 1">{{
                  i + 1 + (currentPage - 1) * limit
                  }}</span>
              </td>
              <td>{{ acc.settledDate | date : "medium" }}</td>
              <td>{{ acc.marketName }}</td>
              <td>{{ acc.matchName }}</td>
              <td [ngClass]="acc.netAmt > 0 ? 'text-success' : 'text-danger'">
                {{ acc.netAmt | number }}
              </td>
              <td>
                <a (click)="openModal(acc)"><i class="fa-sharp fa-solid fa-eye text-pink cursor-pointer"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-12 mt-3" *ngIf="accountStatement.length == 0">
    <div class="border text-center p-5">
      <h4 *ngIf="accountStatement.length == 0 && !isLoading">No data found</h4>
      <h4 *ngIf="isLoading">Loading...</h4>
    </div>
  </div>

  <div *ngIf="accountStatement.length > 0 && !this.isLoading">
    <button class="btn rounded-pill " [disabled]="currentPage === 1" (click)="prev()">
      Prev
    </button>
    <span class="btn btn-pink rounded-pill ps-4 pe-4">{{ currentPage }} / {{ totalPages }}
    </span>
    <button class="btn rounded-pill " [disabled]="currentPage === totalPages" (click)="next()">
      Next
    </button>
  </div>
</div>

<!-- Modal start-->
<div class="modal" [ngStyle]="{ display: display }" id="staticBackdrop" data-bs-backdrop="static"
  data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header bg-pink">
        <h5 class="modal-title cassino " id="staticBackdropLabel">
          Game Detail &nbsp;
        </h5>
        <button type="button" (click)="closeModal()" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <table class="table tableall">
              <thead>
                <tr>
                  <th scope="col" class=" first">Game Info</th>
                  <th scope="col" class="last"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Game Date :</td>
                  <td>{{ selectedAccount?.settledDate | date : "medium" }}</td>
                </tr>
                <tr>
                  <td>Player Name :</td>
                  <td>testplayer</td>
                </tr>
                <tr>
                  <td>Game Type:</td>
                  <td>{{ selectedAccount?.sportName }}</td>
                </tr>
                <tr>
                  <td>Win/Loss:</td>
                  <td>{{ selectedAccount?.netAmt > 0 ? "WIN" : "LOSS" }}</td>
                </tr>
                <tr>
                  <td>Win Amt:</td>
                  <td [ngClass]="
                      selectedAccount?.marketSubTotal > 0
                        ? 'text-success'
                        : 'text-danger'
                    ">
                    {{ selectedAccount?.marketSubTotal | number }}
                  </td>
                </tr>
                <tr>
                  <td>Commission Amt:</td>
                  <td>{{ selectedAccount?.commission | number }}</td>
                </tr>
                <tr>
                  <td>Win Amt:</td>
                  <td [ngClass]="
                      selectedAccount?.netAmt > 0
                        ? 'text-success'
                        : 'text-danger'
                    ">
                    {{ selectedAccount?.netAmt | number }}
                  </td>
                </tr>
                <tr>
                  <td>Round Id:</td>
                  <td>{{ selectedAccount?.marketId }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-6">
            <table class="table tableall">
              <thead>
                <tr>
                  <th scope="col" class=" first">Winner</th>
                  <th scope="col" class=" last"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Winner Name :</td>
                  <td>{{ selectedAccount?.winningHorseName }}</td>
                </tr>
                <tr>
                  <td>Match :</td>
                  <td>{{ selectedAccount?.matchName }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="table-responsive tableRes tableFixHead">
            <table class="table tableall" *ngIf="accountStatement.length > 0">
              <thead>
                <tr>
                  <th scope="col" class=" pointer first" (click)="toggleSort('createDateTime')">
                    Place Date
                  </th>
                  <th scope="col" class=" pointer" (click)="toggleSort('createDateTime')">
                    Matched Date
                  </th>
                  <th class=" pointer" (click)="toggleSort('type')">
                    Type
                  </th>
                  <th class=" pointer" (click)="toggleSort('status')">
                    Status
                  </th>
                  <th class=" pointer" (click)="toggleSort('selectionName')">
                    Horse Name
                  </th>
                  <!-- <th class=" pointer" (click)="toggleSort('member')">Avg. Odds</th> -->
                  <th class=" pointer" (click)="toggleSort('odds')">
                    Odds
                  </th>
                  <th class=" pointer" (click)="toggleSort('stake')">
                    Stake
                  </th>
                  <!-- <th class=" pointer" (click)="toggleSort('member')">Matched Stake</th> -->
                  <th class=" pointer" (click)="toggleSort('netAmount')">
                    Profit/Loss (In INR)
                  </th>
                  <!-- <th scope="col" class=" last">IP</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="
                    let bet of selectedAccount?.bets
                      | sort : sortColumn : sortAscending
                  ">
                  <td>{{ bet.createDateTime | date : "medium" }}</td>
                  <td>{{ bet.createDateTime | date : "medium" }}</td>
                  <td>
                    <span *ngIf="bet.isBack == false" class="border r-2 bg-danger text-danger me-2 border-3 border-danger"></span>
                    <span *ngIf="bet.isBack == true"
                      class="border bg-primary text-primary border-primary me-2 border-3"></span>
                    {{ bet.type }}
                  </td>
                  <td>{{ bet.status }}</td>
                  <td>{{ bet.selectionName }}</td>
                  <!-- <td>{{ bet.odds | number }}</td> -->
                  <td>{{ bet.odds }}</td>
                  <!-- <td>{{ bet.stake }}</td> -->
                  <td>{{ bet.stake }}</td>
                  <td [ngClass]="
                      bet.netAmount > 0 ? 'text-success' : 'text-danger'
                    ">
                    {{ bet.netAmount | number }}
                  </td>
                  <!-- <td>
                  <div class="tooltipnk">
                    <i class="fa-sharp fa-solid fa-info"></i>
                    <span class="tooltiptext tabTooltip px-5 w-auto">
                      <small>{{ bet.ipAddress }}</small>
                    </span>
                  </div>
                </td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal end -->