<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <app-header></app-header>
    </div>
    <div class="col-md-12">
      <div class="row d-flex">
        <div class="col-md-2 {{ sideBarClass }} p-md-0" *ngIf="isLeftMenuOpen">
          <app-left-navigation></app-left-navigation>
        </div>
        <div (click)="toggleMenu()" class="{{ mainClass }}">
          <main id="main" class="main m-0">
            <section class="section dashboard">
              <!-- <div class="row mb-3 align-items-end">
                 <div class="col-md-6 col-lg-6 col-xl-6">
                  <div class="row ">
                    <div class="input-group flex-nowrap">
                      <span class="input-group-text bg-dark  border-pink radius-left-tb" id="addon-wrapping">
                        <i class="fa fa-search"></i>
                      </span>
                      <input type="text"
                        class="form-control bg-dark  border-start-0 border-pink radius-right-tb"
                        placeholder="Search" aria-label="Search" aria-describedby="addon-wrapping"
                        [(ngModel)]="searchTerm" (ngModelChange)="search()" />
                    </div>
                  </div>
                </div> -->
              <!-- <div class="col-md-12 col-lg-12 col-xl-2 text-end">
                  ( Total : {{ userList.length }} )
                </div>
              </div>-->
              <div class="row align-items-center">
                <h4 class="text-pink">
                  <img src="../../../../../assets/images/pnl.png" alt="" /> Bank
                  Transfer
                </h4>

                <div class="col-md-6 col-lg-6 col-xl-6 mt-2">
                  <div class="input-group flex-nowrap">
                    <span class="input-group-text bg-dark  border-pink radius-left-tb" id="addon-wrapping">
                      <i class="fa fa-search"></i>
                    </span>
                    <input type="text" class="form-control border-start-0 border-pink radius-right-tb"
                      placeholder="Search" aria-label="Search" aria-describedby="addon-wrapping"
                      [(ngModel)]="searchTerm" (ngModelChange)="search()" />
                  </div>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2 mt-2">
                  <button *ngIf="selectedUserForAdjustment.length > 0" (click)="openBulkTransferModal()" type="button"
                    class="btn btn-pink radius-all">
                    <i class="fa fa-pen"></i> Bulk Transfer
                  </button>
                </div>

                <div class="col-md-12 col-lg-12 col-xl-2 text-end">
                  ( Total : {{ userList.length }} )
                </div>

                <div class="col-lg-1 col-md-3 col-3 text-end">
                  <button *ngIf="userList.length > 0" type="button" class="btn-sm btn-pink rounded-pill ms-2 "
                    (click)="exportExcel()">
                    Export
                  </button>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-12 overflow-auto">
                  <div *ngIf="userList.length == 0" class="border text-center p-5">
                    <h4 *ngIf="userList.length == 0 && !isLoading">
                      No data found
                    </h4>
                    <h4 *ngIf="isLoading">Loading...</h4>
                  </div>
                  <div class="table-responsive tableRes tableFixHead">
                    <table #myTable class="table tableall" *ngIf="userList.length > 0 && !this.isLoading">
                      <thead>
                        <tr>
                          <!-- <th scope="col" class="first pointer">
                            <input type="checkbox" name="all" [checked]="isAllChecked()" (change)="checkAll($event)" />
                          </th> -->
                          <th scope="col" class="">
                            <i class="fa-sharp fa-regular fa-address-card"></i>
                          </th>
                          <th scope="col" class="pointer" (click)="toggleSort('username')">
                            UserName
                          </th>
                          <th scope="col" class="text-center pointer" (click)="toggleSort('userRoleName')">
                            RoleName
                          </th>
                          <th scope="col" class="text-center pointer" (click)="toggleSort('creditLimit')">
                            Credit Limit
                          </th>
                          <th scope="col" class="text-center pointer" (click)="toggleSort('exposure')">
                            Net Exposure
                          </th>
                          <th scope="col" class="text-center pointer" (click)="toggleSort('take')">
                            Take
                          </th>
                          <th scope="col" class="text-center pointer" (click)="toggleSort('give')">
                            Give
                          </th>
                          <th scope="col" class="text-center pointer">
                            Manage Transfer
                          </th>
                          <th scope="col" class="text-center pointer" *ngIf="clientId == 1 || clientId == 3">
                            My Casino Win
                          </th>
                          <th scope="col" class="text-center pointer" *ngIf="clientId == 1 || clientId == 3">
                            Manage Casino Transfer
                          </th>
                          <th scope="col" class="text-center pointer last" (click)="toggleSort('availableCredit')">
                            Available Credit
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <h1 class="text-center" *ngIf="userList.length == 0 && !this.isLoading">
                          No users Found
                        </h1>
                        <tr *ngFor="
                            let user of userList
                              | sort : sortColumn : sortAscending;
                            let i = index
                          ">
                          <!-- <td>
                            <input type="checkbox" class="pointer" (change)="checkUserForAdjustment(user.userId)"
                              *ngIf="user.take > 0 || user.give > 0" [(ngModel)]="user.state" />
                          </td> -->

                          <td>
                            <span *ngIf="currentPage == 1">{{ i + 1 }}</span>
                            <span *ngIf="currentPage > 1">{{
                              i + 1 + (currentPage - 1) * limit
                              }}</span>
                          </td>
                          <td>
                            <span (click)="showDownlineTree(user)">{{
                              user.username
                              }}</span>
                          </td>
                          <td class="text-center">{{ user.userRoleName }}</td>
                          <td class="text-center">
                            {{ user.creditLimit | indianCurrency }}
                          </td>
                          <td class="text-center" [ngClass]="user.exposure > 0 ? 'text-danger' : ''">
                            {{ user.exposure | indianCurrency }}
                          </td>
                          <td [ngClass]="user.take > 0 ? 'text-success' : ''" class="text-center">
                            <a class="pointer text-success text-decoration-none" *ngIf="user.take > 0">{{ user.take |
                              indianCurrency }}</a>
                            <span *ngIf="user.take <= 0">{{
                              user.take | indianCurrency
                              }}</span>
                          </td>
                          <td [ngClass]="user.give > 0 ? 'text-danger' : ''" class="text-center">
                            <a class="pointer text-danger text-decoration-none" *ngIf="user.give > 0">{{ user.give |
                              indianCurrency }}</a>
                            <span *ngIf="user.give <= 0">{{
                              user.give | indianCurrency
                              }}</span>
                          </td>

                          <td class="text-center">
                            <button *ngIf="user.give > 0" class="btn btn-sm btn-danger pointer text-decoration-none"
                              (click)="adjustWinningsForSingleUser(user, true)"
                              [disabled]="selectedUserForAdjustment.length > 1">
                              Give
                            </button>

                            <button *ngIf="user.take > 0" class="btn btn-sm btn-success pointer text-decoration-none"
                              (click)="adjustWinningsForSingleUser(user, false)"
                              [disabled]="selectedUserForAdjustment.length > 1">
                              Take
                            </button>
                          </td>
                          <td (click)="openCasinoSummary(user)" class="text-center pointer" *ngIf="clientId == 1 || clientId == 3">
                            <span *ngIf="user.casinoWinnings > 0" class="text-success">{{ user.casinoWinnings |
                              indianCurrency }}</span>
                            <span *ngIf="user.casinoWinnings < 0" class="text-danger">{{ user.casinoWinnings |
                              indianCurrency }}</span>
                            <span *ngIf="user.casinoWinnings == 0">{{
                              user.casinoWinnings | indianCurrency
                              }}</span>
                          </td>
                          <td class="text-center" *ngIf="clientId == 1 || clientId == 3">
                            <button (click)="openCasinoSettlement(user, false)" type="button"
                              *ngIf="user.casinoWinnings > 0"
                              class="btn btn-sm btn-success pointer text-decoration-none">
                              Take
                            </button>

                            <button (click)="openCasinoSettlement(user, true)" type="button"
                              *ngIf="user.casinoWinnings < 0"
                              class="btn btn-sm btn-danger pointer text-decoration-none">
                              Give
                            </button>
                          </td>
                          <td class="text-center">
                            {{ user.availableCredit | indianCurrency }}
                          </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <!-- <td></td> -->
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td class="text-success text-center">
                            {{ totalTake | indianCurrency }}
                          </td>
                          <td class="text-danger text-center">
                            {{ totalGive | indianCurrency }}
                          </td>
                          <td></td>
                          <td class="text-center" *ngIf="clientId == 1 || clientId == 3">
                            <span *ngIf="totalCasino < 0" class="text-danger">{{
                              totalCasino | indianCurrency
                              }}</span>
                            <span *ngIf="totalCasino == 0">{{
                              totalCasino | indianCurrency
                              }}</span>
                            <span *ngIf="totalCasino > 0" class="text-success">{{ totalCasino | indianCurrency }}</span>
                          </td>
                          <td *ngIf="clientId == 1 || clientId == 3"></td>
                          <td></td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>

                  <div *ngIf="userList.length > 0 && !this.isLoading">
                    <button class="btn rounded-pill " [disabled]="currentPage === 1" (click)="prev()">
                      Prev
                    </button>
                    <span class="btn btn-pink rounded-pill ps-4 pe-4">{{ currentPage }} / {{ totalPages }}
                    </span>
                    <button class="btn rounded-pill " [disabled]="currentPage === totalPages" (click)="next()">
                      Next
                    </button>
                  </div>

                  <!--
          <button [disabled]="currentPage === 1" (click)="prev()">Prev</button><span>{{ currentPage }} / {{ totalPages }}</span><button [disabled]="currentPage === totalPages" (click)="next()">
            Next
          </button> -->
                  <!-- <div *ngIf="userList.length > 0 && !this.isLoading"><a class="btn rounded-pill ">First</a><a class="btn rounded-pill ">Previous</a><a class="btn btn-pink rounded-pill ps-4 pe-4">1</a><a class="btn rounded-pill ">Next</a><a class="btn rounded-pill ">Last</a></div> -->
                </div>
              </div>
            </section>
          </main>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal end -->
<div *ngIf="modalNumber == 1" class="modal" [ngStyle]="{ display: display }" id="staticBackdrop"
  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-pink">
        <h5 class="modal-title cassino" id="staticBackdropLabel">
          Do you want bulk transfer?
        </h5>
        <button type="button" (click)="closeModal()" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 pt-2">
            <label for="">Narration</label>
            <input maxlength="150" type="text" class="form-control border-pink bg-transparent rounded-pill"
              [(ngModel)]="description" />
          </div>
        </div>
        <div class="row">
          <div class="col-6 text-center">
            <button class="btn btn-success mt-3" (click)="adjustWinnings()">
              Yes
            </button>
          </div>
          <div class="col-6 text-center">
            <button class="btn btn-danger mt-3" (click)="closeModal()">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal end -->

<div *ngIf="modalNumber == 3" class="modal" [ngStyle]="{ display: display }" id="staticBackdrop"
  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-pink">
        <h5 class="modal-title cassino" id="staticBackdropLabel">
          Transaction
        </h5>
        <button type="button" (click)="closeModal()" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-3">
            <label>Credit Limit:</label><br />{{ userDetails.creditLimit }}
          </div>
          <div *ngIf="isGiven" class="col-md-3">
            <label>Give Amount:</label><br />{{ userDetails.give }}
          </div>
          <div *ngIf="!isGiven" class="col-md-3">
            <label>Take Amount:</label><br />{{ userDetails.take }}
          </div>
          <div class="col-md-3">
            <label>NetExposure:</label><br />{{ userDetails.exposure }}
          </div>
          <div class="col-md-3">
            <label>Difference:</label><br />{{
            (userDetails.availableCredit - userDetails.exposure).toFixed(1)
            }}
          </div>
          <div class="col-md-12">
            <section class="section m-auto">
              <form [formGroup]="adjustWinningsForSingleUserForm">
                <div class="row mb-4 align-items-center">
                  <div *ngIf="isGiven" class="col-md-12 pt-3">
                    You Can Transfer {{ userDetails.give }} Amount
                  </div>
                  <div *ngIf="!isGiven" class="col-md-12 pt-3">
                    You Can Transfer {{ userDetails.take }} Amount
                  </div>
                  <div class="col-md-12 pt-2">
                    <input type="number" class="form-control border-pink bg-transparent rounded-pill"
                      formControlName="amount" readonly />
                  </div>
                  <div class="col-md-12 pt-2">
                    <label for="">Narration</label>
                    <input maxlength="150" type="text" class="form-control border-pink bg-transparent rounded-pill"
                      formControlName="description" />
                  </div>
                  <!-- <div class="col-md-12 pt-2">
                    <label for="">Narration</label>
                    <input type="text" class="form-control  border-pink bg-transparent  rounded-pill"
                      formControlName="amount" />
                  </div> -->
                </div>

                <div class="row">
                  <div class="col-md-6 text-end">
                    <button (click)="postAdjustWinningsForSingleUser()"
                      [disabled]="adjustWinningsForSingleUserForm.invalid" class="btn btn-danger rounded-pill w-80">
                      Save
                    </button>
                  </div>
                  <div class="col-md-6">
                    <button class="btn btn-danger rounded-pill w-80" type="button" (click)="closeModal()">
                      Cancel
                    </button>
                  </div>
                </div>
              </form>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal 4 start -->
<div *ngIf="modalNumber == 4" class="modal" [ngStyle]="{ display: display }" id="staticBackdrop"
  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-pink">
        <h5 class="modal-title cassino" id="staticBackdropLabel">
          Member Hierarchy
        </h5>
        <button type="button" (click)="closeModal()" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <section class="section w-75 m-auto">
            <table width="100%">
              <tr>
                <th>Sr. No.</th>
                <th>Role</th>
                <th>User Id</th>
              </tr>
              <tr *ngFor="let member of memberHierarchy; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ member.roleName }}</td>
                <td>{{ member.username }}</td>
              </tr>
            </table>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal end -->

<div *ngIf="modalNumber == 5" class="modal" [ngStyle]="{ display: display }" id="staticBackdrop"
  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-pink">
        <h5 class="modal-title cassino" id="staticBackdropLabel">
          Transaction
        </h5>
        <button type="button" (click)="closeModal()" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-3">
            <label>Credit Limit:</label><br />{{ userDetails.creditLimit }}
          </div>
          <div *ngIf="isGiven" class="col-md-3">
            <label>Give Amount:</label><br />{{ userDetails.casinoWinnings }}
          </div>
          <div *ngIf="!isGiven" class="col-md-3">
            <label>Take Amount:</label><br />{{ userDetails.casinoWinnings }}
          </div>

          <div class="col-md-12">
            <section class="section m-auto">
              <form [formGroup]="adjustWinningsForSingleUserForm">
                <div class="row mb-4 align-items-center">
                  <div *ngIf="isGiven" class="col-md-12 pt-3">
                    You Can Transfer {{ userDetails.casinoWinnings }} Amount
                  </div>
                  <div *ngIf="!isGiven" class="col-md-12 pt-3">
                    You Can Transfer {{ userDetails.casinoWinnings }} Amount
                  </div>
                  <div class="col-md-12 pt-2">
                    <strong>{{ userDetails.casinoWinnings }}</strong>
                  </div>
                  <div class="col-md-12 pt-2">
                    <label for="">Narration</label>
                    <input maxlength="150" type="text" class="form-control border-pink bg-transparent rounded-pill"
                      formControlName="description" />
                  </div>
                  <!-- <div class="col-md-12 pt-2">
                    <label for="">Narration</label>
                    <input type="text" class="form-control  border-pink bg-transparent  rounded-pill"
                      formControlName="amount" />
                  </div> -->
                </div>

                <div class="row">
                  <div class="col-md-6 text-end">
                    <button (click)="postAdjustCasinoWinnings()" [disabled]="adjustWinningsForSingleUserForm.invalid"
                      class="btn btn-danger rounded-pill w-80">
                      Save
                    </button>
                  </div>
                  <div class="col-md-6">
                    <button class="btn btn-danger rounded-pill w-80" type="button" (click)="closeModal()">
                      Cancel
                    </button>
                  </div>
                </div>
              </form>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="modalNumber == 6" class="modal" [ngStyle]="{ display: display }" id="staticBackdrop"
  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
  aria-hidden="true">
  <div class="casino-summary-modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-pink">
        <h5 class="modal-title cassino" id="staticBackdropLabel">
          Client Casino Summary
        </h5>
        <button type="button" (click)="closeCasnioSummaryModal()" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="table-responsive tableRes tableFixHead">
          <table class="table tableall b-0" *ngIf="casinoSummary.length > 0">
            <tbody>
              <tr>
                <th class="thts" class="cursor-pointer pointer" (click)="toggleSort('createdDate')">
                  <i class="fa-regular fa-calendar-days"></i>&nbsp; Sr No
                </th>
                <th class="thts" class="cursor-pointer pointer" (click)="toggleSort('amount')">
                  <i class="fa-solid fa-user"></i> Amount
                </th>
                <th class="thts" class="cursor-pointer pointer" (click)="toggleSort('status')">
                  <i class="fa-sharp fa-solid fa-indian-rupee-sign"></i>
                  Status
                </th>
                <th class="thts" class="cursor-pointer pointer" (click)="toggleSort('status')">
                  <i class="fa-sharp fa-solid fa-indian-rupee-sign"></i>
                  Provider Name
                </th>
                <th class="thts" class="cursor-pointer pointer" (click)="toggleSort('date')">
                  <i class="fa-solid fa-text-width"></i> Date
                </th>
                <!-- <th class="thts" class="cursor-pointer pointer" (click)="toggleSort('date')">
                  <i class="fa-solid fa-text-width"></i> Details
                </th> -->
              </tr>

              <tr *ngFor="
                  let summary of casinoSummary
                    | sort : sortColumn : sortAscending;
                  let i = index
                ">
                <td class="tds tdts">
                  <span>{{ i + 1 }}</span>
                </td>
                <td class="tds tdts">
                  <strong [ngClass]="{
                      'text-success': summary.amount > 0,
                      'text-danger': summary.amount < 0
                    }">
                    {{ summary.amount | indianCurrency }}
                  </strong>
                </td>
                <td class="tds tdts">
                  {{ summary.status }}
                </td>
                <td class="tds tdts">
                  {{ summary.providerName }}
                </td>
                <td class="tds tdts">
                  {{ summary.date | date : "medium" }}
                </td>
                <!-- <td class="tds tdts">
                  <button (click)="getReportDetails(user.userId, user.gameCode)" type="button" class="btn btn-pink rounded-pill" (click)="getCasinoReport()">
                    Details
                  </button>
                </td> -->
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td style="text-align: left">
                  <strong [ngClass]="totalAmount > 0 ? 'text-success' : 'text-danger'">{{ totalAmount | indianCurrency
                    }}</strong>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <!-- <td></td> -->
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>