<div class="row align-items-center py-2 border-bottom">
  <div class="col-lg-2 col-md-6 col-6">
    <div class="toggle-sidebar-btn d-flex align-items-center">
      <a
        (click)="toggleMenu()"
        class="navbar-toggler bg-color px-1 mx-0"
        type="button"
      >
        <i class="fa fa-bars-staggered"></i>
      </a>

      <a
        [routerLink]="['member/list']"
        routerLinkActive="router-link-active"
        class="navbar-brand m-0 d-block ms-3"
      >
        <img src="/assets/images/logo.svg" alt="" class="w-100" />
        <!-- <span>Sports</span>Zone365 -->
      </a>
    </div>
  </div>
  <div class="col-md-8 col-8 smallMobileHide">
    <div class="row">
      <div
        class="mb-2 mb-md-2"
        [ngClass]="
          clientId == 1 || clientId == 3 ? 'col-md-3 col-6' : 'col-md-4 col-6'
        "
      >
        <div class="balance-first">
          <div class="balance">
            <p>
              {{ adminDetails?.availableCredit | indianCurrency }}
              <br />
              <span>AVAILABLE BALANCE</span>
            </p>
          </div>
        </div>
      </div>
      <div
        [ngClass]="
          clientId == 1 || clientId == 3 ? 'col-md-3 col-6' : 'col-md-4 col-6'
        "
      >
        <div class="balance-up">
          <div class="balance">
            <p>
              {{ adminDetails?.balanceUp | indianCurrency }}
              <br />
              <span>BALANCE UP</span>&nbsp;
              <i class="fa-regular fa-circle-up"></i>
            </p>
          </div>
        </div>
      </div>
      <div
        [ngClass]="
          clientId == 1 || clientId == 3 ? 'col-md-3 col-6' : 'col-md-4 col-6'
        "
      >
        <div class="balance-down">
          <div class="balance">
            <p>
              {{ adminDetails?.balanceDown | indianCurrency }}
              <br />
              <span>BALANCE DOWN</span>&nbsp;
              <i class="fa-regular fa-circle-down"></i>
            </p>
          </div>
        </div>
      </div>
      <div
        *ngIf="clientId == 1 || clientId == 3"
        [ngClass]="
          clientId == 1 || clientId == 3 ? 'col-md-3 col-6' : 'col-md-3 col-6'
        "
      >
        <div class="casino-summary">
          <div class="balance">
            <div class="row text-center m-0">
              <div class="col-4">
                <p>
                  <span>
                    {{ adminDetails?.casinoBalanceUp | indianCurrency }}</span
                  >
                </p>
                <small>UP</small>
              </div>
              <div class="col-4">
                <p>
                  <span> | </span>
                </p>
                <small>BALANCE</small>
              </div>
              <div class="col-4">
                <p>
                  <span>
                    {{ adminDetails?.casinoBalanceDown | indianCurrency }}
                  </span>
                </p>
                <small>DOWN</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-2 col-md-6 col-6 text-center">
    <div class="user">
      <span>Welcome, {{ adminDetails?.username }}.</span>
      <!-- <a (click)="toggleMenu()" class="navbar-toggler bg-color  px-1 mx-0" type="button">
        
        <i class="fa fa-bars-staggered"></i>
      </a> -->
      <!--<a (click)="refreshPage()" class="btn btn-pink radius-all">
        <i class="fa fa-redo-alt disnone"></i> Refresh
      </a>-->
    </div>
  </div>

  <div class="col-md-12 smallMobileShow mt-3">
    <div class="row">
      <div class="col-md-3 col-6 mb-2 mb-md-2">
        <div class="balance-first">
          <div class="balance">
            <p>
              {{ adminDetails?.availableCredit | number }}
              <br />
              <span>AVAILABLE BALANCE</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="balance-up">
          <div class="balance">
            <p>
              {{ adminDetails?.balanceUp | number }}
              <br />
              <span>BALANCE UP</span>&nbsp;
              <i class="fa-regular fa-circle-up"></i>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="balance-down">
          <div class="balance">
            <p>
              {{ adminDetails?.balanceDown | number }}
              <br />
              <span>BALANCE DOWN</span>&nbsp;
              <i class="fa-regular fa-circle-down"></i>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6" *ngIf="clientId == 1 || clientId == 3">
        <div class="casino-summary">
          <div class="balance">
            <div class="row text-center">
              <p>
                <span class="f-13">
                  BALANCE UP
                  {{ adminDetails?.casinoBalanceUp | indianCurrency }}</span
                >
              </p>
              <p>
                <span class="f-13"
                  >BALANCE DOWN
                  {{ adminDetails?.casinoBalanceDown | indianCurrency }}
                </span>
              </p>
              <p>
                <span class="f-16">CASINO SUMMARY</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
