<div [formGroup]="filterForm" class="tab-pane fade show active" id="pills-batlist" role="tabpanel"
  aria-labelledby="pills-batlist-tab" tabindex="0">
  <div class="row mb-2">
    <div class="col-md-12">
      <h3 class="text-pink">All Bets</h3>
    </div>
  </div>

  <div class="row mb-2 align-items-end">
    <div class="col-md-6">
      <!--<label>Search</label>-->
      <input formControlName="searchText" type="number"
        class="form-control input-group-text bg-dark  border-pink radius-left-tb radius-right-tb" value=""
        placeholder="Enter Here..." />
    </div>
    <div class="col-md-6">
      <button type="button" class="btn btn-pink rounded-pill w-25" (click)="getMemberBets()">
        Search
      </button>
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col-md-12 overflow-auto">
    <table class="table tableall" *ngIf="betList.length > 0">
      <thead>
        <tr>
          <th scope="col" class="first">#</th>
          <th scope="col" class="">Member</th>
          <th scope="col" class="">Placed</th>
          <th scope="col" class="">Matched Date</th>
          <th scope="col" class="">Event</th>
          <th scope="col" class="">Market</th>
          <th scope="col" class="">Selection</th>
          <th scope="col" class="">Odds Placed</th>
          <th scope="col" class="">Odds Matched</th>
          <th scope="col" class="">Matched</th>
          <th scope="col" class="">Unmatched</th>
          <th scope="col" class="">Profit Liability</th>
          <th scope="col" class="last text-center">IP</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bet of betList; let i = index">
          <td>
            <span *ngIf="currentPage == 1">{{ i + 1 }}</span>
            <span *ngIf="currentPage > 1">{{
              i + 1 + (currentPage - 1) * limit
              }}</span>
          </td>
          <td>{{ bet.username }}</td>
          <td>{{ bet.placedDate | date : "medium" }}</td>
          <td>{{ bet.createdAt | date : "medium" }}</td>
          <td>{{ bet.event }}</td>
          <td>
            <span *ngIf="!bet.isBack" class="border bg-danger text-danger me-2"></span>
            <span *ngIf="bet.isBack" class="border bg-primary text-primary border-primary me-2"></span>
            {{ bet.betCategory }}
          </td>
          <td>{{ bet.selectionName }}</td>
          <td>{{ bet.betRate }}</td>
          <td>{{ bet.betRate }}</td>
          <td>{{ bet.stake }}</td>
          <td>-</td>
          <td [ngClass]="bet.isBack ? 'text-success' : 'text-danger'">
            {{ bet.profitLiability }}
          </td>
          <td class="tooltipnk">
            <i class="fa-sharp fa-solid fa-info"></i>
            <span class="tooltiptext tabTooltip px-5 w-auto">
              <small>{{ bet.ip }}</small>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="betList.length > 0 && !this.isLoading">
    <button class="btn rounded-pill " [disabled]="currentPage === 1" (click)="prev()">
      Prev
    </button>
    <span class="btn btn-pink rounded-pill ps-4 pe-4">{{ currentPage }} / {{ totalPages }}
    </span>
    <button class="btn rounded-pill " [disabled]="currentPage === totalPages" (click)="next()">
      Next
    </button>
  </div>

  <div class="col-md-12 mt-3" *ngIf="betList.length == 0">
    <div class="border text-center p-5">
      <h4 *ngIf="betList.length == 0 && !isLoading">No data found</h4>
      <h4 *ngIf="isLoading">Loading...</h4>
    </div>
  </div>
</div>