
    <!-- <ul class="nav flex-column mt-4 pb-5 pt-0 rounded header-tow border-0 animate__animated animate__backInUp animate__delay-1s">
        <li class=" leftuser card-header m-0 pt-0 rounded bg-color">
            <span class="float-start pt-2 ps-2 pb-2"><i class="fa fa-star"></i> </span> <span class="leftuserhead">
                FAVORITES </span>
        </li>

        <li class="m-auto mt-5">
            <a class="border-end-0"><i class="fa fa-plus-circle fa-2x text-white pointer"></i> </a>
        </li>
        <li class="m-auto">
            <a class="border-end-0 text-decoration-none">Add to favorite</a>
        </li>
    </ul> -->


<!-- Fav ends -->
