<main id="main" class="main m-0">
  <section class="section gamedetails">
    <div class="row" [formGroup]="filterForm">
      <div class="col-md-12">
        <!--your code will come here start-->
        <h4 class="text-pink">
          <img src="../../../../../assets/images/pnl.png" alt="" /> Player P/L
          Statement
        </h4>
        <hr />
        <div class="row align-items-end mb-3">
          <div class="col-md-3">
            <label>Select Member</label>
            <select formControlName="memberId" id="ab" class="form-select bg-dgre pointer">
              <option value="null">All</option>
              <option *ngFor="let member of allMembers" [value]="member.userId">
                {{ member.username }}
              </option>
            </select>
          </div>

          <div class="col-md-3">
            <label>From Date</label>
            <input type="date" formControlName="fromDate" name="fromDate" class="form-control" id=""
              placeholder="Month" />
          </div>
          <div class="col-md-3">
            <label>To Date</label>
            <input type="date" formControlName="toDate" name="toDate" class="form-control" id="" placeholder="Month" />
          </div>

          <div class="col-md-3 mt-3">
            <button type="button" class="btn btn-pink rounded-pill mt-4 w-100" (click)="searchList()">
              Search
            </button>
          </div>

          <!-- <div class="col-md-6">
            <button
              class="btn btn-outline-pink btn-pink  rounded-pill mt-4 w-100"
              (click)="clearMemberName()"
            >
              <i class="fa fa-user-cog"></i> Clear Members
            </button>
          </div> -->
        </div>
        <div class="row align-items-end">

          <!-- <div class="col-md-3 mt-3">
            <label>Select Sport</label>
            <select
              formControlName="sportsId"
              id="ab"
              class="form-select pointer"
              (change)="changeGame($event)"
            >
              <option [value]="null">All</option>
              <option *ngFor="let game of games" [value]="game.sportId">
                {{ game.sportName }}
              </option>
            </select>
          </div> -->

          <!-- <div class="col-md-3 mt-3">
            <label>Select Match</label>
            <select
              formControlName="matchId"
              id="ab"
              class="form-select pointer"
              (change)="changeMatch($event)"
            >
              <option [value]="null">All</option>
              <option [value]="match.matchId" *ngFor="let match of matchList">
                {{ match.matchName }}
              </option>
            </select>
          </div> -->

          <div class="col-md-4 mt-3">
            <label>Select Match</label>
            <select formControlName="matchId" id="ab" class="form-select pointer" (change)="changeMatch($event)">
              <option [value]=null>All</option>
              <option [value]=" match" *ngFor="let match of matchList">
                {{ match }}
              </option>
            </select>
          </div>

          <!-- <div class="col-md-3 mt-3">
            <label>Select Market</label>
            <select
              formControlName="marketId"
              id="ab"
              class="form-select pointer"
              (change)="changeMarketType($event)"
            >
              <option [value]="null">All</option>
              <option
                [value]="market.marketId"
                *ngFor="let market of marketList"
              >
                {{ market.marketName }}
              </option>
            </select>
          </div> -->

          <div class="col-md-4 mt-3">
            <label>Select Market</label>
            <select formControlName="marketId" id="ab" class="form-select pointer" (change)="changeMarketType($event)">
              <option [value]=null>All</option>
              <option [value]="market" *ngFor="let market of marketList">
                {{ market }}
              </option>
            </select>
          </div>


          <!-- <div class="col-md-3 mt-3">
            <button
              type="button"
              class="btn btn-pink rounded-pill mt-4 w-100"
              (click)="searchList()"
            >
              Search
            </button>
          </div> -->
        </div>
        <!--your code will come here end-->
      </div>
    </div>
  </section>
  <br />
  <div class="col-md-12 text-right font">
    <span>
      <img src="../../../../../assets/images/dollaricon.png" alt="" class="doneLoading" />
    </span>
    <strong> Total Records</strong>&nbsp;&nbsp;
    <span class="text-danger">{{ plStatement.length }}</span>

    <button *ngIf="plStatement.length > 0" type="button" class="btn btn-pink rounded-pill ms-2  float-end"
      (click)="exportExcel()">
      Export
    </button>
  </div>
  <br />
  <div class="col-md-12">
    <div *ngIf="plStatement.length == 0" class="border text-center p-5">
      <h4 *ngIf="plStatement.length == 0 && !isLoading">No data found</h4>
      <h4 *ngIf="isLoading">Loading...</h4>
    </div>
    <div class="table-responsive tableRes tableFixHead">
      <table class="table tableall" *ngIf="plStatement.length > 0">
        <thead class="">
          <tr>
            <th scope="col" class="first"></th>
            <th scope="col" class="pointer" (click)="toggleSort('createDateTime')">
              <i class="fa fa-"></i> Date
            </th>
            <th scope="col" class="pointer" (click)="toggleSort('sport')">
              Sport
            </th>
            <!--<th scope="col">Sub Game</th>-->
            <th scope="col" class="pointer" (click)="toggleSort('match')">
              Match
            </th>
            <th scope="col" class="pointer" (click)="toggleSort('market')">
              Market
            </th>
            <th scope="col" class="pointer" (click)="toggleSort('name')">
              Username
            </th>
            <th scope="col" class="pointer" (click)="toggleSort('amount')">
              Amount
            </th>
            <th scope="col" class="pointer" (click)="toggleSort('amount')">
              Fancy Commission
            </th>
            <th scope="col" class="pointer" (click)="toggleSort('amount')">
              Bookmaker Commission
            </th>
            <!-- <th scope="col">Master</th><th scope="col">Multiplier</th> -->
            <th scope="col" class="last text-center">Details</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="
              let pl of plStatement | sort : sortColumn : sortAscending;
              let i = index
            ">
            <td>
              <span>{{ i + 1 }}</span>
              <span *ngIf="currentPage > 1">{{
                i + 1 + (currentPage - 1) * limit
                }}</span>
            </td>
            <td>{{ pl.createDateTime | date : "medium" }}</td>
            <td>{{ pl.gameData.subGame }}</td>
            <!--<td>{{ pl.gameData.gameName }}</td>-->
            <td>{{ pl.gameData.eventName }}</td>
            <td>{{ pl.gameData.marketName }}</td>
            <td>
              {{ pl.playerData.name }}
            </td>
            <td class="text-center">
              <span [ngClass]="
                  pl.gameData.finalNetAmount > 0
                    ? 'text-success'
                    : 'text-danger'
                ">
                {{ pl.gameData.finalNetAmount | indianCurrency }}
            </span>
            </td>
            <td>{{ pl.gameData.totalFancyCommission }}</td>
            <td>{{ pl.gameData.totalBookmakerCommission }}</td>
            <td class="text-center">
              <i (click)="getOneAccount(pl)" class="fa-sharp fa-solid fa-eye text-pink pointer" aria-hidden="true"
                data-bs-toggle="modal" data-bs-target="#staticBackdrop"></i>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-success"
              [ngClass]="totalAmount > 0 ? 'text-success' : 'text-danger'">
              {{ totalAmount | indianCurrency }}
            </td>
            <td class="text-start">
              {{ totalFancyCommission | indianCurrency }}
            </td>
            <td class="text-start">
              {{ totalBookmakerCommission | indianCurrency }}
            </td>
            <td></td>
            <td></td>
          </tr>
        </tfoot>
      </table>
    </div>
    <!-- <div *ngIf="plStatement.length > 0 && !this.isLoading">
      <button
        class="btn rounded-pill "
        [disabled]="currentPage === 1"
        (click)="prev()"
      >
        Prev
      </button>
      <span class="btn btn-pink rounded-pill ps-4 pe-4"
        >{{ currentPage }} / {{ totalPages }}
      </span>
      <button
        class="btn rounded-pill "
        [disabled]="currentPage === totalPages"
        (click)="next()"
      >
        Next
      </button>
    </div> -->
  </div>
</main>
<!-- Modal start-->
<div class="modal" [ngStyle]="{ display: display }" id="staticBackdrop" data-bs-backdrop="static"
  data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header bg-pink p-2">
        <h5 class="modal-title cassino " id="staticBackdropLabel">
          Game Detail
        </h5>
        <button type="button" (click)="closeModal()" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row mb-4">
          <div class="col-md-6">
            <table class="table tableall">
              <!-- <thead>
                <tr>
                  <th scope="col" class="first">Game Info</th>
                  <th scope="col" class="last"></th>
                </tr>
              </thead> -->
              <tbody>
                <tr>
                  <td>Game Date :</td>
                  <td>{{ pl?.createDateTime | date : "medium" }}</td>
                </tr>
                <tr>
                  <td>Player&nbsp;Name&nbsp;:</td>
                  <td>{{ oneAccount?.playerName }}</td>
                </tr>
                <tr>
                  <td>Game Type:</td>
                  <td>{{ gameData?.subGame }}</td>
                </tr>
                <tr>
                  <td>Win/Loss:</td>
                  <td>{{ oneAccount?.status }}</td>
                </tr>
                <tr>
                  <td>Win Amt:</td>
                  <td [ngClass]="
                      oneAccount?.winAmt > 0 ? 'text-success' : 'text-danger'
                    ">
                    {{ oneAccount?.winAmt | indianCurrency }}
                  </td>
                </tr>
                <tr>
                  <td>Commission&nbsp;Amt&nbsp;:</td>
                  <td>{{ oneAccount?.commissionAmt | indianCurrency }}</td>
                </tr>

                <!-- <tr>
                  <td>Round Id:</td>
                  <td>{{ gameData?.marketId }}</td>
                </tr> -->
              </tbody>
            </table>
          </div>

          <div class="col-md-6">
            <table class="table tableall">
              <tbody>
                <tr>
                  <td>Fancy Commission&nbsp;Amt&nbsp;:</td>
                  <td>
                    {{ oneAccount?.totalFancyCommission | indianCurrency }}
                  </td>
                </tr>
                <tr>
                  <td>Bookmaker Commission&nbsp;Amt&nbsp;:</td>
                  <td>
                    {{ oneAccount?.totalBookmakerCommission | indianCurrency }}
                  </td>
                </tr>
                <tr>
                  <td>Net Amt:</td>
                  <td [ngClass]="
                      oneAccount?.netAmt > 0 ? 'text-success' : 'text-danger'
                    ">
                    {{ oneAccount?.netAmt | indianCurrency }}
                  </td>
                </tr>
                <tr>
                  <td>Winner&nbsp;Name&nbsp;:</td>
                  <td>{{ gameData?.winningHorseName }}</td>
                </tr>
                <tr>
                  <td>Match&nbsp;:</td>
                  <td>{{ gameData?.eventName }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- <div class="col-md-6"> -->

          <!-- </div> -->

          <!-- <div class="col-md-6">
            <table class="table tableall">
              <thead>
                <tr>
                  <th scope="col" class="first">Winner</th>
                  <th scope="col" class="last"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Winner&nbsp;Name&nbsp;:</td>
                  <td>{{ gameData?.winningHorseName }}</td>
                </tr>
                <tr>
                  <td>Match&nbsp;:</td>
                  <td>{{ gameData?.eventName }}</td>
                </tr>
              </tbody>
            </table>
          </div> -->
        </div>

        <div class="row">
          <div class="col-md-12 mb-2">
            <button *ngIf="oneAccount?.bets.length > 0" type="button" class="btn btn-pink rounded-pill ms-2  float-end"
              (click)="exportExcel1()">
              Export
            </button>
          </div>

          <div class="col-md-12">
            <div class="tableFixHead">
              <table class="table tableall text-center">
                <thead>
                  <tr>
                    <th scope="col" class="first w-auto pointer" (click)="toggleSort1('placedDate')">
                      Placed Date
                    </th>
                    <th scope="col" class="pointer" (click)="toggleSort1('matchedDate')">
                      Matched Date
                    </th>
                    <th scope="col" class="pointer" (click)="toggleSort1('type')">
                      Type
                    </th>
                    <th scope="col" class="pointer" (click)="toggleSort1('status')">
                      Status
                    </th>
                    <th scope="col" class="pointer" (click)="toggleSort1('horseName')">
                      Horse Name
                    </th>
                    <!-- <th scope="col" class="">Avg. Odds</th> -->
                    <th scope="col" class="pointer" (click)="toggleSort1('odds')">
                      Odds
                    </th>

                    <th scope="col" class="pointer" (click)="toggleSort1('matchedStake')">
                      Stake
                    </th>
                    <th scope="col" class="pointer" (click)="toggleSort1('profitLoss')">
                      Profit/Loss (In INR)
                    </th>
                    <th scope="col" class="last">IP</th>
                  </tr>
                </thead>
                <table *ngIf="!oneAccount">
                  Loading...
                </table>
                <tbody *ngIf="oneAccount">
                  <tr *ngFor="
                      let bet of oneAccount?.bets
                        | sort : sortColumn1 : sortAscending1;
                      let i = index
                    ">
                    <td>{{ bet.placedDate | date : "medium" }}</td>
                    <td>{{ bet.matchedDate | date : "medium" }}</td>
                    <td>
                      <span *ngIf="bet.isBack == false" class="border r-2 bg-danger text-danger me-2 border-3 border-danger"></span>
                      <span *ngIf="bet.isBack == true"
                        class="border bg-primary text-primary border-primary me-2 border-3"></span>
                      {{ bet.type }}
                    </td>
                    <td>{{ bet.status }}</td>
                    <td>{{ bet.horseName }}</td>
                    <!-- <td>{{ bet.avgOdds | number }}</td> -->
                    <td>{{ bet.odds }}</td>

                    <td>{{ bet.matchedStake }}</td>
                    <td [ngClass]="
                        bet.profitLoss > 0 ? 'text-success' : 'text-danger'
                      ">
                      {{ bet.profitLoss | indianCurrency }}
                    </td>
                    <td class="tooltipnk ms-0 mt-1">
                      <i class="fa-sharp fa-solid fa-info" ngxClipboard [cbContent]="bet.ipAddress"
                        [container]="container"></i>
                      <span class="tooltiptext tabTooltip px-5 w-auto">
                        <small #container>{{ bet.ipAddress }}</small>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal end -->