<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <app-header></app-header>
    </div>
    <div class="col-md-12">
      <div class="row d-flex">
        
        <div (click)="toggleMenu()" class="{{ mainClass }}">
          <main id="main" class="main m-0">
            <h5><i class="fa fa-lock text-pink"></i> Change Password</h5>
            <section class="section gamedetails changepassword m-auto mt-4">
              <div class="row p-4 pt-5">
                <div class="col-md-12">
                  <form [formGroup]="changePasswordForm">
                    <div class="row mb-4">
                      <div class="col-md-4">Current&nbsp;Password*</div>
                      <div class="col-md-8">
                        <input
                          type="password"
                          [(ngModel)]="authObj.currentPassword"
                          class="form-control border-pink bg-transparent rounded-pill pointer"
                          formControlName="oldPassword"
                        />
                        <div
                          class="text-danger"
                          *ngIf="
                            oldPasswordVail &&
                            oldPasswordVail.invalid &&
                            oldPasswordVail.touched
                          "
                        >
                          Current Password is required.
                        </div>
                      </div>
                    </div>
                    <div class="row mb-4">
                      <div class="col-md-4">New Password*</div>
                      <div class="col-md-8">
                        <input
                          type="password"
                          [(ngModel)]="authObj.newPassword"
                          class="form-control border-pink bg-transparent rounded-pill pointer"
                          formControlName="newPassword"
                        />
                        <div
                          *ngIf="
                            newPasswordVail &&
                            newPasswordVail.invalid &&
                            newPasswordVail.touched
                          "
                          class="text-danger"
                        >
                          Password should be atleast 8 characters and maximum 20
                          characters <br />
                          It should contain <br />
                          1 alpha-numeric character <br />
                          1 upper case character <br />
                          1 lower case character <br />
                          1 specialcharacter
                        </div>
                      </div>
                    </div>
                    <div class="row mb-4">
                      <div class="col-md-4">Confirm&nbsp;Password*</div>
                      <div class="col-md-8">
                        <input
                          type="password"
                          [(ngModel)]="authObj.retypePassword"
                          class="form-control border-pink bg-transparent rounded-pill pointer"
                          formControlName="confirmPassword"
                        />
                        <div
                          *ngIf="
                            confirmPasswordVail &&
                            confirmPasswordVail.invalid &&
                            confirmPasswordVail.touched
                          "
                          class="text-danger"
                        >
                          Re-enter New Password is required
                        </div>
                        <div
                          *ngIf="
                            f['confirmPassword'].getError('Mustmatch') != null
                          "
                          class="text-danger"
                        >
                          This password did not match
                        </div>
                      </div>
                    </div>
                    <div class="row mt-5">
                      <div class="col-md-6 col-6 text-end">
                        <button
                          (click)="postChangePassword()"
                          [disabled]="changePasswordForm.invalid"
                          class="btn btn-pink rounded-pill w-100 mt-4"
                        >
                          Save
                        </button>
                      </div>
                      <div class="col-md-6 col-6">
                        <button
                          class="btn btn-pink rounded-pill w-100 mt-4"
                          (click)="resetForm()"
                        >
                          Reset
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </section>
          </main>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="container-fluid">
  <div class="card bg-light my-4">
    <div class="card-body col-4">
      <h5 class="card-title">Change Password</h5>

      <form class="mt-4" [formGroup]="changePasswordForm">
        <div class="mb-3">
          <label for="newPassword" class="form-label">New Password</label>
          <input
          type="password"
          [(ngModel)]="authObj.newPassword"
          class="form-control"
          formControlName="newPassword"
          />
          <div
                          *ngIf="
                            newPasswordVail &&
                            newPasswordVail.invalid &&
                            newPasswordVail.touched
                          "
                          class="text-danger"
                        >
                          Password should be atleast 8 characters and maximum 20
                          characters <br />
                          It should contain <br />
                          1 alpha-numeric character <br />
                          1 upper case character <br />
                          1 lower case character <br />
                          1 specialcharacter
                        </div>
        </div>
        <div class="mb-3">
          <label for="confirmPassword" class="form-label"
            >Confirm Password</label
          >
          <input
          type="password"
          [(ngModel)]="authObj.retypePassword"
          class="form-control"
          formControlName="confirmPassword"
          />
          <div
                          *ngIf="
                            confirmPasswordVail &&
                            confirmPasswordVail.invalid &&
                            confirmPasswordVail.touched
                          "
                          class="text-danger"
                        >
                          Re-enter New Password is required
                        </div>
                        <div
                          *ngIf="
                            f['confirmPassword'].getError('Mustmatch') != null
                          "
                          class="text-danger"
                        >
                          This password did not match
                        </div>
        </div>

        <div class="mb-3">
          <label for="transectionPassword" class="form-label"
            >Transaction Password</label
          >
          <input
            type="password"
            class="form-control"
            id="transectionPassword"
          />
        </div>

        <button type="submit" (click)="postChangePassword()"
        [disabled]="changePasswordForm.invalid" class="btn btn-primary">Load</button>
      </form>
    </div>
  </div>
</div>
