<!--body start-->
<div class="row m-0">
    <!-- <div class="col-md-12 pb-2 pt-2">
      <a  class=" small text-decoration-none"><i class="fa fa-arrow-alt-circle-left"></i> Change Password</a>
     </div> -->
    <hr class="text-color">
    <!--Artical Start-->
    <div class="col-md-12 accordionn">
        <div class="">
            <!--Change Password start-->
            <div class="col-md-4 m-auto gamedetails p-3">
                <form [formGroup]="changePasswordForm" (ngSubmit)="loginuser()">
                    <div class="row changePass mb-3">
                        <div class="input-group mt-3 col-md-12">
                            <span class="input-group-text bg-transparent">
                                <span class="fa fa-lock"></span>
                            </span>
                            <input [type]="show ? 'text' : 'password'" class="form-control border-0 bg-transparent border-bottom " placeholder="Current Password" formControlName="oldPassword">
                            <span class="input-group-text bg-white bg-transparent border-0 border-bottom rounded-0" (click)="show=!show">
                                <span class="fa fa-eye text-dark "  [ngClass]="show ? 'fa-eye' : 'fa-eye-slash'"></span>
                            </span>

                        </div>
                        <div class="small text-danger col-md-12 ps-5"  *ngIf="oldPasswordVail && oldPasswordVail.invalid && oldPasswordVail.touched">Old Password required.</div>
                        <!-- New Password -->
                        <div class="input-group mt-3">
                            <span class="input-group-text bg-transparent">
                                <span class="fa fa-lock"></span>
                            </span>
                            <input  [type]="show1 ? 'text' : 'password'" class="form-control border-0 border-bottom bg-transparent " placeholder="New Password" formControlName="newPassword" (click)="onClickMe()">
                            <span class="input-group-text bg-white bg-transparent border-0 border-bottom rounded-0" (click)="show1=!show1">
                                <span class="fa fa-eye text-dark " [ngClass]="show1 ? 'fa-eye' : 'fa-eye-slash'"></span>
                            </span>
                        </div>
                        <div  *ngIf="newPasswordVail && newPasswordVail.invalid && newPasswordVail.touched" class="small text-danger col-md-12 ps-5">
                            <div *ngIf="newPasswordVail.errors?.['required']">
                                New Password required<br>Oops, this is one of the easy passwords to get hacked! Please use a combination of numbers, alphabets and signs.
                            </div>
                        </div>
                        <p style="white-space: pre-line" class="small  col-md-12 ps-5 m-0">{{clickMessage}}</p>

                        <!-- Confirm Password -->
                        <div class="input-group mt-3">
                            <span class="input-group-text bg-transparent">
                                <span class="fa fa-lock"></span>
                            </span>
                            <input  [type]="show2 ? 'text' : 'password'" class="form-control border-0 border-bottom bg-transparent " placeholder="Re-enter New Password" formControlName="confirmPassword">

                            <span class="input-group-text bg-white bg-transparent border-0 border-bottom rounded-0" (click)="show2=!show2">
                                <span class="fa fa-eye text-dark " [ngClass]="show2 ? 'fa-eye' : 'fa-eye-slash'"></span>
                            </span>
                        </div>
                        <div class="small text-danger col-md-12 ps-5" *ngIf="confirmPasswordVail && confirmPasswordVail.invalid && confirmPasswordVail.touched">
                            <div *ngIf="confirmPasswordVail.errors?.['required']">
                                Re-enter New Password is required
                            </div>
                        </div>

                        <div class="small text-danger col-md-12 ps-5" *ngIf="f['confirmPassword'].getError('Mustmatch')!=null" >This password did not match</div>

                        <div class="input-group" style="justify-content: center;">
                            <button class="btn btn-light bg-color border-0 btn-block mt-3  w-100 " [disabled]="changePasswordForm.invalid">CHANGE
                                PASSWORD</button>
                        </div>
                    </div>
                </form>
            </div>
            <!--Change Password end-->
        </div>
    </div>
    <!--Artical end-->
</div>
<!--Body end-->
