<main id="main" class="main m-0">
  <div *ngIf="!memberForm" class="border text-center p-5">
    <h4>Loading...</h4>
  </div>
  <form *ngIf="memberForm" [formGroup]="memberForm" (ngSubmit)="createMember()">
    <section class="section gamedetails">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6 text-pink">
              <h4>
                <i class="fa fa-solid fa-user text-pink me-2"></i>
                {{ editMode ? "Update Member" : "Create Member" }}
              </h4>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-3 mb-2 mb-2">
              <label>Select Role</label>
              <select [attr.disabled]="editMode" formControlName="roleId" name="roleId" id="ab" class="form-select"
                (change)="onRoleChange($event)">
                <option [value]="null" selected>Select Role</option>
                <option *ngFor="let role of roles" [value]="role.roleId">
                  {{ role.userRoleName }}
                </option>
              </select>
            </div>
            <div class="col-md-3 mb-2">
              <label>Username</label>
              <input [readOnly]="editMode" (keydown)="preventSpace($event)" formControlName="username" type="text" class="form-control"
                placeholder="Username*" />
              <div class="small text-danger" *ngIf="
                  memberForm.controls['username'].errors?.required &&
                  memberForm.controls['username'].touched
                ">
                Username is required
              </div>
            </div>
            <div class="col-md-3 mb-2">
              <label>Display Name</label>
              <input autocomplete="disabled" formControlName="displayName" type="text" class="form-control"
                placeholder="Display Name*" />
              <div class="small text-danger" *ngIf="
                  memberForm.controls['displayName'].errors?.required &&
                  memberForm.controls['displayName'].touched
                ">
                Display Name is required
              </div>
            </div>
            <div class="col-md-3 mb-2" *ngIf="!editMode">
              <label>Password</label>
              <div class="input-group">
                <input [type]="show ? 'text' : 'password'" class="form-control" formControlName="password"
                  placeholder="Password*" id="password" name="password" />
                <span (click)="show = !show" class="input-group-text fa fa-eye  p-0" id="Password"
                  [ngClass]="show ? 'fa-eye' : 'fa-eye-slash'"></span>
              </div>
              <div class="small text-danger" *ngIf="
                  memberForm.controls['password'].errors?.required &&
                  memberForm.controls['password'].touched
                ">
                <small>Password is required</small>
              </div>
              <div class="small text-danger" *ngIf="
                  memberForm.controls['password'].touched &&
                  memberForm.controls['password'].errors?.pattern
                ">
                <small>Password should be atleast 8 characters long. <br />
                  It should Contain <br />
                  1 alpha-numeric character <br />
                  1 upper case character <br />
                  1 lower case character <br />
                  1 specialcharacter</small>
              </div>
            </div>
            <div class="col-md-3 mb-2" *ngIf="!editMode">
              <label>Confirm Password</label>
              <div class="input-group">
                <input [type]="show1 ? 'text' : 'password'" class="form-control" formControlName="confirmPassword"
                  placeholder="Confirm Password*" id="confirm_password" name="password" />
                <span (click)="show1 = !show1" class="input-group-text fa fa-eye  p-0" id="Password"
                  [ngClass]="show1 ? 'fa-eye' : 'fa-eye-slash'"></span>
              </div>
              <div *ngIf="
                  memberForm.controls['confirmPassword'].errors?.required &&
                  memberForm.controls['confirmPassword'].touched
                " class="small text-danger">
                Confirm Password is required
              </div>

              <!-- Add this div to show a password mismatch error -->
              <div class="small text-danger" *ngIf="
                  memberForm.controls['confirmPassword'].hasError(
                    'confirmPasswordValidator'
                  ) && memberForm.controls['confirmPassword'].touched
                ">
                Password and Confirm password do not match
              </div>
            </div>

            <div class="col-md-3 mb-2">
              <label>Credit Limit</label>
              <input type="number" class="form-control" formControlName="playerAvailableCredit"
                placeholder="Player Credit Limit*" />
              <div class="small text-danger" *ngIf="
                  memberForm.controls['playerAvailableCredit'].errors
                    ?.required &&
                  memberForm.controls['playerAvailableCredit'].touched
                ">
                Please enter Credit Limit.
              </div>
              <div class="small text-danger" *ngIf="memberForm.controls['playerAvailableCredit'].errors?.['min']">
                Credit Limit cannot be negative.
              </div>
              <div class="small text-danger" *ngIf="
                  memberForm.controls['playerAvailableCredit'].errors
                    ?.creditLimit
                ">
                {{ selectedUserRole }} Creation Limit has been exceeded. Please
                contact your upline.
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

   <ng-container *ngIf="userDetails.roleId == 1">
    <section class="section gamedetails mt-3" *ngIf="
    setAdminCreationLimit ||
    setSuperMasterCreationLimit ||
    setMasterCreationLimit ||
    setAgentCreationLimit ||
    setDealerCreationLimit ||
    setUserCreationLimit
  ">
      <div class="row">
        <div class="col-md-12 text-pink">
          <h4>Downline Creation Limits</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 mb-2" *ngIf="setAdminCreationLimit">
          <label>Admin Creation Limit</label>
          <input type="number" class="form-control" formControlName="adminCreationLimit"
            placeholder="Admin Creation Limit*" />
          <div class="small text-danger" *ngIf="
              memberForm.controls['adminCreationLimit'].errors?.required &&
              memberForm.controls['adminCreationLimit'].touched
            ">
            Please enter Admin Creation Limit.
          </div>
        </div>
        <div class="col-md-3 mb-2" *ngIf="setSuperMasterCreationLimit">
          <label>Super Master Creation Limit</label>
          <input type="number" class="form-control" formControlName="superMasterCreationLimit"
            placeholder="Super Master Creation Limit*" />
          <div class="small text-danger" *ngIf="
              memberForm.controls['superMasterCreationLimit'].errors
                ?.required &&
              memberForm.controls['superMasterCreationLimit'].touched
            ">
            Please enter Super Master Creation Limit.
          </div>
          <div class="small text-danger" *ngIf="
              memberForm.controls['superMasterCreationLimit'].hasError(
                'superMasterCreationLimit'
              ) && memberForm.controls['superMasterCreationLimit'].touched
            ">
            Creation Limit cannot exceed Player Credit Limit.
          </div>
        </div>
        <div class="col-md-3 mb-2" *ngIf="setMasterCreationLimit">
          <label>Master Creation Limit</label>
          <input type="number" class="form-control" formControlName="masterCreationLimit"
            placeholder="Master Creation Limit*" />
          <div class="small text-danger" *ngIf="
              memberForm.controls['masterCreationLimit'].errors?.required &&
              memberForm.controls['masterCreationLimit'].touched
            ">
            Please enter Master Creation Limit.
          </div>
          <div class="small text-danger" *ngIf="
              memberForm.controls['masterCreationLimit'].hasError(
                'masterCreationLimit'
              ) && memberForm.controls['masterCreationLimit'].touched
            ">
            Creation Limit cannot exceed Player Credit Limit.
          </div>
        </div>
        <div class="col-md-3 mb-2" *ngIf="setAgentCreationLimit">
          <label>Agent Creation Limit</label>
          <input type="number" class="form-control" formControlName="agentCreationLimit"
            placeholder="Agent Creation Limit*" />
          <div class="small text-danger" *ngIf="
              memberForm.controls['agentCreationLimit'].errors?.required &&
              memberForm.controls['agentCreationLimit'].touched
            ">
            Please enter Agent Creation Limit.
          </div>
          <div class="small text-danger" *ngIf="
              memberForm.controls['agentCreationLimit'].hasError(
                'agentCreationLimit'
              ) && memberForm.controls['agentCreationLimit'].touched
            ">
            Creation Limit cannot exceed Player Credit Limit.
          </div>
        </div>
        <div class="col-md-3 mb-2" *ngIf="setDealerCreationLimit">
          <label>Dealer Creation Limit</label>
          <input type="number" class="form-control" formControlName="dealerCreationLimit"
            placeholder="Dealer Creation Limit*" />
          <div class="small text-danger" *ngIf="
              memberForm.controls['dealerCreationLimit'].errors?.required &&
              memberForm.controls['dealerCreationLimit'].touched
            ">
            Please enter Dealer Creation Limit.
          </div>
          <div class="small text-danger" *ngIf="
              memberForm.controls['dealerCreationLimit'].hasError(
                'dealerCreationLimit'
              ) && memberForm.controls['dealerCreationLimit'].touched
            ">
            Creation Limit cannot exceed Player Credit Limit.
          </div>
        </div>
        <div class="col-md-3 mb-2" *ngIf="setUserCreationLimit">
          <label>User Creation Limit</label>
          <input type="number" class="form-control" formControlName="userCreationLimit"
            placeholder="User Creation Limit*" />
          <div class="small text-danger" *ngIf="
              memberForm.controls['userCreationLimit'].errors?.required &&
              memberForm.controls['userCreationLimit'].touched
            ">
            Please enter User Creation Limit.
          </div>
          <div class="small text-danger" *ngIf="
              memberForm.controls['userCreationLimit'].hasError(
                'userCreationLimit'
              ) && memberForm.controls['userCreationLimit'].touched
            ">
            Creation Limit cannot exceed Player Credit Limit.
          </div>
        </div>
      </div>
    </section>
  </ng-container>

    <section class="section gamedetails mt-3">
      <div class="row">
        <div class="col-md-12 text-pink">
          <h4>Game Status</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 mt-3 d-flex" *ngFor="let game of gamesList">
          <p class="me-2">{{ game.name }}</p>
          <div class="toggle-button-cover">
            <div class="button1 r" id="button-2">
              <input (click)="setGameStatus(game.isActive, game.gameId)" type="checkbox" class="checkbox"
                [checked]="!game.isActive" />
              <div class="knobs"></div>
              <div class="layer"></div>
            </div>
          </div>
          <div class="col-lg-1 col-md-3 col-3 text-end">
            <button *ngIf="game.gameId == 4 && game.isActive == true" type="button"
              class="btn-sm btn-pink rounded-pill ms-2 " data-bs-toggle="modal" data-bs-target="#casinoProvider">
              Provider
            </button>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
    </section>
    <section class="section gamedetails mt-3">
      <div class="row">
        <div class="col-md-12 text-pink">
          <h4>Rate</h4>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-md-2">Sportsbook (INR)</div>
        <div class="col-md-2">Max Rate (INR) <br />My Share : 1</div>
        <div class="col-md-8">
          <input
            [readOnly]="true"
            formControlName="sportsBookRate"
            name="sportsBookRate"
            type="number"
            id="sportsBookRate"
            class="form-control pb-2"
          />
          <p>(Min : 1) (Max : 100)</p>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md-2">Live Casino</div>
        <div class="col-md-2">Max Rate (INR) <br />My Share : 1</div>
        <div class="col-md-8">
          <input
            [readOnly]="true"
            formControlName="liveCasinoRate"
            name="liveCasinoRate"
            type="number"
            id=""
            class="form-control pb-2"
          />
          <p>(Min : 1) (Max : 100)</p>
        </div>
      </div> -->
      <div class="row">
        <div class="col-md-2">Partnership Percentage</div>
        <div class="col-md-2">(%)</div>
        <div class="col-md-8">
          <input formControlName="partnerShipPercent" name="partnerShipPercent" type="number" class="form-control pb-2"
            *ngIf="!editMode" (keyup)="calculateMemberPercentage($event)" />
          <span *ngIf="editMode">{{
            memberForm.get("partnerShipPercent")?.value
            }}</span>
          <p>(Min : {{ uplineInfo?.partnerShipPercent }} ) (Max : 100)</p>
          <div *ngIf="f?.partnerShipPercent?.errors?.min" class="small text-danger col-md-12 ps-5">
            value cannot be less than {{ uplineInfo?.partnerShipPercent }}
          </div>
        </div>
        <div class="col-md-2">My Share</div>
        <div class="col-md-2">(%)</div>
        <div class="col-md-8">{{ memberPercentage }}</div>
      </div>
    </section>

    <div class="row my-3">
      <div class="col-md-6 col-6 text-end">
        <button type="button" class="btn btn-pink rounded-pill ps-5 pe-5 py-2" routerLink="member/list">
          Cancel
        </button>
      </div>
      <div class="col-md-6 col-6">
        <button *ngIf="!editMode" type="submit" class="btn btn-pink rounded-pill ps-5 pe-5 py-2"
          [disabled]="!memberForm.valid">
          Save
        </button>
        <button *ngIf="editMode" type="submit" class="btn btn-pink rounded-pill ps-5 pe-5 py-2"
          [disabled]="memberForm.invalid || memberForm.pristine">
          Update
        </button>
      </div>
    </div>
  </form>
</main>

<!-- Modal end -->
<div class="modal" [ngStyle]="{ display: display }" id="staticBackdrop" data-bs-backdrop="static"
  data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-pink">
        <h5 class="modal-title cassino " id="staticBackdropLabel">
          Please enter your Password
        </h5>
        <button type="button" (click)="closeModal()" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <section class="section m-auto">
            <form (ngSubmit)="createMember()">
              <input #confirm_password type="password" class="form-control border-pink bg-transparent rounded-pill"
                placeholder="Enter your password" [(ngModel)]="uplinePwd" name="password" autofocus />
              <div class="row">
                <div class="col-md-6">
                  <button class="btn rounded-pill w-100 mt-3 btn-pink" type="submit" [disabled]="!uplinePwd">
                    Yes
                  </button>
                </div>
                <div class="col-md-6">
                  <button class="btn rounded-pill w-100 mt-3 ms-3 float-right btn-pink" type="button"
                    (click)="closeModal()">
                    Cancel
                  </button>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="casinoProvider" tabindex="-1" aria-labelledby="casinoProviderLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg border-pink">
    <div class="modal-content">
      <div class="modal-header bg-pink">
        <h5 class="modal-title" id="casinoProviderLabel">Casino Provider</h5>
        <button type="button" (click)="closeModal()" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4 mt-3 d-flex" *ngFor="let casino of casinoProviderList">
            <p class="me-2">{{ casino.providerName }}</p>
            <div class="toggle-button-cover">
              <div class="button1 r" id="button-2">
                <input (click)="setCasinoStatus(casino.isActive, casino.providerId)" type="checkbox" class="checkbox"
                  [checked]="!casino.isActive" />
                <div class="knobs"></div>
                <div class="layer"></div>
              </div>
            </div>

            <!-- <div class="form-check form-switch"><input (click)="setGameStatus(game.isActive,game.sportsId)" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" [checked]="game.isActive"></div> -->
          </div>
        </div>
        <div class="row">
          <div class="col-md-5"></div>

          <div class="col-md-2">
            <button class="btn rounded-pill w-100 mt-3 ms-3 float-right btn-pink" data-bs-dismiss="modal"
              (click)="closeModal()">
              Ok
            </button>
          </div>

          <div class="col-md-5"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal end -->
