<main id="main" class="main m-0">
  <section class="section gamedetails">
    <div class="row">
      <div class="col-md-12">
        <!--your code will come here start-->
        <h4 class="text-pink">Betfair rates logs</h4>

        <!--your code will come here end-->
      </div>
    </div>
  </section>
  <div class="col-md-12 mt-3">
    <table class="table tableall">
      <thead>
        <tr>
          <th scope="col " class="first">#</th>
          <th scope="col">From</th>
          <th scope="col">To</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col">Games</th>
          <th scope="col">Percent</th>
          <th scope="col">Old Percent</th>
          <th scope="col">Min bet stack</th>
          <th scope="col">Old Min bet stack</th>
          <th scope="col" class="last">
            <!--Tooltip start-->
            <div class="tooltipnk">
              <i class="fa fa-info-circle fa-2x"></i>
              <span class="tooltiptext tabTooltip px-5 w-auto"><strong>IP</strong></span>
            </div>
            <!--Tooltip end-->
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>CM</td>
          <td>Smart New</td>
          <td></td>
          <td></td>
          <td>Cricket</td>
          <td>620</td>
          <td>500</td>
          <td>25</td>
          <td>25</td>
          <td></td>
        </tr>

        <tr>
          <td>2</td>
          <td>CM</td>
          <td>Smart New</td>
          <td></td>
          <td></td>
          <td>Cricket</td>
          <td>620</td>
          <td>500</td>
          <td>25</td>
          <td>25</td>
          <td></td>
        </tr>

        <tr>
          <td>3</td>
          <td>CM</td>
          <td>Smart New</td>
          <td></td>
          <td></td>
          <td>Cricket</td>
          <td>620</td>
          <td>500</td>
          <td>25</td>
          <td>25</td>
          <td></td>
        </tr>

        <tr>
          <td>4</td>
          <td>CM</td>
          <td>Smart New</td>
          <td></td>
          <td></td>
          <td>Cricket</td>
          <td>620</td>
          <td>500</td>
          <td>25</td>
          <td>25</td>
          <td></td>
        </tr>

        <tr>
          <td>5</td>
          <td>CM</td>
          <td>Smart New</td>
          <td></td>
          <td></td>
          <td>Cricket</td>
          <td>620</td>
          <td>500</td>
          <td>25</td>
          <td>25</td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <div class="col-md-12 mt-4">
      <a class="btn rounded-pill ">First</a>
      <a class="btn rounded-pill ">Previous</a>
      <a class="btn bg-pink rounded-pill  ps-4 pe-4">1</a>
      <a class="btn rounded-pill ">Next</a>
      <a class="btn rounded-pill ">Last</a>
    </div>
  </div>
</main>