<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <app-header></app-header>
    </div>
    <div class="col-md-12">
      <div class="row d-flex">
        
        <div >
          <!-- <main id="main" class="w-100">
            <section class="section gamedetails">
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-12">
                    <div class="row">
                      <h3 class="editmemberUA mb-2">
                        Two-factor Authentication Security
                      </h3>
                      <hr class="hr" />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="row">
                      <div class="col-md-8">
                        <p>
                          Step 1 : Download Google Authenticator on your phone
                          directly from AppStore or GooglePlay.
                        </p>
                        <div class="row">
                          <img
                            src="../../../../../assets/images/google-play.png"
                            alt=""
                            class="google-playimg"
                          />
                          <img
                            src="../../../../../assets/images/apple-store.png"
                            alt=""
                            class="google-playimg"
                          />
                        </div>
                        <p class="mt-4">
                          Step 2 : Setup account within Google Authenticator.
                        </p>
                        <p>
                          Step 3 : Scan QR in Google Authenticator and enter the
                          verification code.
                        </p>
                      </div>
                      <div class="col-md-4 text-center">
                        <img src="../../../../../assets/images/qr.png" alt="" />
                        <input
                          type="text"
                          class="form-control mt-3 inpuths"
                          placeholder="Enter QR Code"
                        />
                        <button class="btn btn-success mt-4 w-100">
                          Enable Two Factor Authentication
                        </button>
                      </div>
                    </div>
                  </div>
 
                </div>
              </div>
            </section>
          </main> -->

          <div class="container-fluid">
            <div class="card bg-light my-4">
              <div class="card-body">
                <h5 class="card-title">Security Auth Verification</h5>
                <div class="row">
                  <div class="col-md-12 small text-center py-4">
                    <h5>
                      Security Auth Verification Status:
                      <span class="bg-danger text-white small p-1">DISABLED</span>
                    </h5>
                    <p class="my-3">
                      Please select below option to enable secure auth verification
                    </p>
                    <button class="btn btn-outline-success">
                      Enable Using Mobile App
                    </button>
                    <button class="btn btn-outline-success">
                      Enable Using Telegram
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
