.busy {
  animation: spin 1s infinite linear;
  display: inline-block;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 20px;
  font-style: normal;
}

.busy::before {
  content: "\25E0";
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}
