<div class="logins">
  <div class="w-30 m-auto">
    <form [formGroup]="signInForm" (ngSubmit)="onSubmitSignIn()">
      <div class="text-center p-4">
        <!-- <img src="assets/images/logo.svg" class="col-6" /> -->
        <a class="navbar-brand m-0" [routerLink]="['/in-play']">
          <img src="assets/images/login_logo.svg" style="width: 17rem" />
          <!-- <span>Sports</span>Zone365 -->
        </a>
      </div>
      <div class="row login pt-3 form-signin m-0">
        <h3 class="text-center m-0 text-uppercase">Backend Login</h3>
        <div class="form-floating mt-3">
          <input
            autocomplete="disabled"
            readonly
            onfocus="this.removeAttribute('readonly');"
            formControlName="username"
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="User Name"
          />
          <label for="floatingInput">User Name</label>
          <div id="validationServer03Feedback" class="invalid-feedback">
            Please provide a valid name.
          </div>
        </div>
        <div class="form-floating mt-3">
          <input
            [type]="show ? 'text' : 'password'"
            readonly
            onfocus="this.removeAttribute('readonly');"
            class="form-control"
            placeholder="Enter Password"
            formControlName="password"
          />
          <!-- <input type="text" class="form-control" autocomplete="disabled" formControlName="password" id="floatingInput" placeholder="Password*">
    -->
          <label for="floatingInput">Password</label>
          <span
            class="fa"
            (click)="show = !show"
            [ngClass]="show ? 'fa-eye' : 'fa-eye-slash'"
          ></span>
        </div>
        <div class="input-group">
          <button
            [disabled]="signInForm.invalid || isLoading"
            class="btn bg-pink w-100 rounded-pill mt-4"
          >
            {{ button }} &nbsp;<i
              class="fa"
              [ngClass]="{ 'fa-spin fa-spinner': isLoading }"
            ></i>
          </button>
        </div>
        <div class="col mt-4 text-center">
          <!-- <a href="forgotpassword.html" class=" mb-3">Forgot Password</a><br>-->
          <span class="small pt-3"> Powered by </span>
          <img src="assets/images/betfair_logo.png" width="150px" />
        </div>
      </div>
    </form>
  </div>
</div>
