<div class="col-md-10 featured-box">
    <!-- nav tab start here -->
    <div class="accountStatement">
      <div class="card">
        <div class="card-header">
          <h4>Change Password</h4>
        </div>
        <div class="card-body">
          <div
            class="container-main-accountdetails container-main-userprofile container-bg"
          >
            <div class="profile-container padding-left-15">
              <div class="profile-panel">
                <div class="row margin-0">
                  <div class="col-lg-6 col-md-12">
                    <div class="change-password-box">
                      <form autocomplete="off" novalidate="" class="  ">
                        <div class="form-group mb-3">
                          <label class="password-text primary-color"
                            >New Password</label
                          ><br /><input
                            autocomplete="nope"
                            class="form-control"
                            formcontrolname="newPwd"
                            onfocus="$(this).removeAttr('readonly');"
                            placeholder="Enter New Password"
                            required=""
                            type="password"
                            readonly=""
                          /><span
                            class="toggelPass fa fa-fw fa-eye"
                            toggle="#password-field"
                          ></span>
                        </div>
                        <div class="form-group mb-3">
                          <label class="password-text primary-color"
                            >Confirm Password</label
                          ><br /><input
                            autocomplete="nope"
                            class="form-control"
                            formcontrolname="confirmPass"
                            onfocus="$(this).removeAttr('readonly');"
                            placeholder="Confirm Password"
                            required=""
                            type="password"
                            readonly=""
                          /><span
                            class="toggelPass fa fa-fw fa-eye"
                            toggle="#password-field"
                          ></span>
                        </div>
                        <div class="form-group mb-3">
                          <label class="password-text primary-color"
                            >Old Password</label
                          ><br /><input
                            autocomplete="false"
                            class="form-control"
                            formcontrolname="password"
                            id="your_password1"
                            name="password"
                            onfocus="$(this).removeAttr('readonly');"
                            type="password"
                            placeholder="Old Password"
                            readonly=""
                          /><span
                            class="toggelPass fa fa-fw fa-eye"
                            toggle="#password-field"
                          ></span>
                        </div>
                        <div
                          class="payment-confirmation payment-confirmation1"
                        >
                          <div class="payment bgnone">
                            <div
                              class="submit-payment display-ib"
                              style="margin-top: 10px"
                            >
                              <button
                                class="btn-submit-payment ripple"
                                type="button"
                              >
                                Change Password
                              </button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
