<!--<div id="overlay" onclick="off()">-->
<div id="overlay">
  <aside id="sidebar" class="flex-shrink-0 fixed-sidebar p-0">
    <ul class="mt-5 mt-md-5 pt-5 pt-md-5 mt-lg-0 pt-5 pt-lg-0">
      <li>
        <a
          class="btn collapsed"
          [ngClass]="
            currentPath == '/member/list' ||
            currentPath == '/member/search-member'
              ? 'btn collapsed show'
              : 'btn collapsed'
          "
          data-bs-toggle="collapse"
          data-bs-target="#home-collapse"
          aria-expanded="false"
        >
          <i class="fa-solid fa-user icon-pink me-2"></i> MEMBER
        </a>
        <div
          [ngClass]="
            currentPath == '/member/list' ||
            currentPath == '/member/search-member'
              ? 'collapse show'
              : 'collapse'
          "
          class="collapse"
          id="home-collapse"
        >
          <ul class="btn-toggle-nav list-unstyled fw-normal">
            <li
              [routerLinkActive]="currentPath == '/member/list' ? 'active' : ''"
              [ngClass]="currentPath == '/member/list' ? 'active' : ''"
            >
              <a
                (click)="storePath('/member/list')"
                routerLink="/member/list"
                class="nav-link small ps-5"
                >MEMBER LIST</a
              >
            </li>
            <li
              [routerLinkActive]="
                currentPath == '/member/search-member' ? 'active' : ''
              "
              [ngClass]="currentPath == '/member/search-member' ? 'active' : ''"
            >
              <a
                (click)="storePath('/member/search-member')"
                routerLink="/member/search-member"
                class="nav-link small ps-5"
                >SEARCH MEMBER</a
              >
            </li>
            <!-- <li><a routerLink="/member/user-access" class="nav-link small ps-5">User Access Level</a></li> -->
          </ul>
        </div>
      </li>
      <li>
        <a
          [ngClass]="
            currentPath == '/book-management/net-exposure' ||
            currentPath == '/book-management/bet-ticker'
              ? 'btn collapsed show'
              : 'btn collapsed'
          "
          data-bs-toggle="collapse"
          data-bs-target="#dashboard-collapse"
          aria-expanded="false"
        >
          <i class="fa-solid fa-bookmark icon-pink me-2"></i> BOOK MANAGEMENT
        </a>
        <div
          [ngClass]="
            currentPath == '/book-management/net-exposure' ||
            currentPath == '/book-management/bet-ticker'
              ? 'collapse show'
              : 'collapse'
          "
          id="dashboard-collapse"
        >
          <ul class="btn-toggle-nav list-unstyled fw-normal">
            <li
              [routerLinkActive]="
                currentPath == '/book-management/net-exposure' ? 'active' : ''
              "
              [ngClass]="
                currentPath == '/book-management/net-exposure' ? 'active' : ''
              "
            >
              <a
                (click)="storePath('/book-management/net-exposure')"
                routerLink="/book-management/net-exposure"
                class="nav-link small ps-5"
                >NET EXPOSURE</a
              >
            </li>
            <!-- <li><a routerLink="/book-management/net-exposure-racing" class="nav-link small ps-5">Net Exposure Racing</a></li> -->
            <li
              [routerLinkActive]="
                currentPath == '/book-management/bet-ticker' ? 'active' : ''
              "
              [ngClass]="
                currentPath == '/book-management/bet-ticker' ? 'active' : ''
              "
            >
              <a
                (click)="storePath('/book-management/bet-ticker')"
                routerLink="/book-management/bet-ticker"
                class="nav-link small ps-5"
                >BET TICKER</a
              >
            </li>
            <li
              [routerLinkActive]="
                currentPath == '/book-management/market-watch' ? 'active' : ''
              "
              [ngClass]="
                currentPath == '/book-management/market-watch' ? 'active' : ''
              "
            >
              <a
                (click)="storePath('/book-management/market-watch')"
                routerLink="/book-management/market-watch"
                class="nav-link small ps-5"
                >MARKET WATCH</a
              >
            </li>
            <!-- <li><a routerLink="/book-management/bet-ticker-flag-final" class="nav-link small ps-5">Bet Ticker Flag Final</a></li> -->
            <!-- <li><a routerLink="/book-management/bet-ticker-previous"  class="nav-link small ps-5">Bet Ticker Previous</a></li> -->
            <!-- <li><a routerLink="/book-management/premium-sportsbook"  class="nav-link small ps-5">Premium Sportsbook</a></li> -->
          </ul>
        </div>
      </li>
      <li>
        <a
          class="btn collapsed"
          [ngClass]="
            currentPath == '/account-statement/my-pl' ||
            currentPath == '/account-statement/player-pl' ||
            currentPath == '/account-statement/transfer-statement' ||
            currentPath == '/account-statement/turnover'
              ? 'btn collapsed show'
              : 'btn collapsed'
          "
          data-bs-toggle="collapse"
          data-bs-target="#orders-collapse"
          aria-expanded="false"
        >
          <i class="fa-solid fa-receipt icon-pink me-2"></i>ACCOUNT
        </a>
        <div
          [ngClass]="
            currentPath == '/account-statement/my-pl' ||
            currentPath == '/account-statement/player-pl' ||
            currentPath == '/account-statement/transfer-statement' ||
            currentPath == '/account-statement/turnover'
              ? 'collapse show'
              : 'collapse'
          "
          id="orders-collapse"
        >

        <!-- *ngIf="adminDetails.refClientid == 3 || adminDetails.refClientid == 4" -->
          <ul class="btn-toggle-nav list-unstyled fw-normal">
            <li *ngIf="clientId == 3 || clientId == 1"
              [routerLinkActive]="
                currentPath == '/account-statement/account-list' ? 'active' : ''
              "
              [ngClass]="
                currentPath == '/account-statement/account-list' ? 'active' : ''
              "
            >
              <a
                (click)="storePath('/account-statement/account-list')"
                routerLink="/account-statement/account-list"
                class="nav-link small ps-5"
                >ACCCOUNT LIST</a
              >
            </li>

            <li
              [routerLinkActive]="
                currentPath == '/account-statement/my-pl' ? 'active' : ''
              "
              [ngClass]="
                currentPath == '/account-statement/my-pl' ? 'active' : ''
              "
            >
              <a
                (click)="storePath('/account-statement/my-pl')"
                routerLink="/account-statement/my-pl"
                class="nav-link small ps-5"
                >MY P/L</a
              >
            </li>
            <li
              [routerLinkActive]="
                currentPath == '/account-statement/player-pl' ? 'active' : ''
              "
              [ngClass]="
                currentPath == '/account-statement/player-pl' ? 'active' : ''
              "
            >
              <a
                (click)="storePath('/account-statement/player-pl')"
                routerLink="/account-statement/player-pl"
                class="nav-link small ps-5"
                >PLAYER P/L</a
              >
            </li>
            <li
            *ngIf="adminDetails.refClientid == 3"
              [routerLinkActive]="
                currentPath == '/account-statement/my-account-statement' ? 'active' : ''
              "
              [ngClass]="
                currentPath == '/account-statement/my-account-statement' ? 'active' : ''
              "
            >
              <a
                (click)="storePath('/account-statement/my-account-statement')"
                routerLink="/account-statement/my-account-statement"
                class="nav-link small ps-5"
                >MY ACCOUNT STATEMENT</a
              >
            </li>
            <li
              *ngIf="adminDetails.refClientid == 2 || adminDetails.refClientid == 5"
              [routerLinkActive]="
                currentPath == '/account-statement/commission' ? 'active' : ''
              "
              [ngClass]="
                currentPath == '/account-statement/commission' ? 'active' : ''
              "
            >
              <a
                (click)="storePath('/account-statement/commission')"
                routerLink="/account-statement/commission"
                class="nav-link small ps-5"
                >COMMISSION REPORT</a
              >
            </li>
            <li
              [routerLinkActive]="
                currentPath == '/account-statement/transfer-statement'
                  ? 'active'
                  : ''
              "
              [ngClass]="
                currentPath == '/account-statement/transfer-statement'
                  ? 'active'
                  : ''
              "
            >
              <a
                (click)="storePath('/account-statement/transfer-statement')"
                routerLink="/account-statement/transfer-statement"
                class="nav-link small ps-5"
                >TRANSFER STATEMENT</a
              >
            </li>
            <li
              [routerLinkActive]="
                currentPath == '/account-statement/turnover' ? 'active' : ''
              "
              [ngClass]="
                currentPath == '/account-statement/turnover' ? 'active' : ''
              "
            >
              <a
                (click)="storePath('/account-statement/turnover')"
                routerLink="/account-statement/turnover"
                class="nav-link small ps-5"
                >TURN OVER</a
              >
            </li>
            <li
              [routerLinkActive]="
                currentPath == '/account-statement/playerwise-account-statement'
                  ? 'active'
                  : ''
              "
              [ngClass]="
                currentPath == '/account-statement/playerwise-account-statement'
                  ? 'active'
                  : ''
              "
            >
              <a
                (click)="
                  storePath('/account-statement/playerwise-account-statement')
                "
                routerLink="/account-statement/playerwise-account-statement"
                class="nav-link small ps-5"
                >PLAYER-WISE ACCOUNT STATEMENT</a
              >
            </li>
            <li
              *ngIf="adminDetails.refClientid == 1 || adminDetails.refClientid == 3"
              [routerLinkActive]="
                currentPath == '/account-statement/casino-report'
                  ? 'active'
                  : ''
              "
              [ngClass]="
                currentPath == '/account-statement/casino-report'
                  ? 'active'
                  : ''
              "
            >
              <a
                (click)="storePath('/account-statement/casino-report')"
                routerLink="/account-statement/casino-report"
                class="nav-link small ps-5"
                >CASINO REPORT</a
              >
            </li>
            <!-- <li [routerLinkActive]="currentPath == '/account-statement/my-account-statement'?'active':''" [ngClass]="currentPath == '/account-statement/my-account-statement'?'active':''">
              <a
              (click)="storePath('/account-statement/my-account-statement')"
                routerLink="/account-statement/my-account-statement"
                class="nav-link small ps-5"
                >My Account Statement</a
              >
            </li> -->
            <!-- <li [routerLinkActive]="currentPath == '/account-statement/player-account-statement'?'active':''" [ngClass]="currentPath == '/account-statement/player-account-statement'?'active':''">
              <a
              (click)="storePath('/account-statement/player-account-statement')"
                routerLink="/account-statement/player-account-statement"
                class="nav-link small ps-5"
                >Player Account Statement</a
              >
            </li> -->
            <!-- <li><a routerLink="/account-statement/commission" class="nav-link small ps-5">Commission</a></li> -->
          </ul>
        </div>
      </li>

      <li *ngIf="(adminDetails.refClientid == 1 || adminDetails.refClientid == 2 || adminDetails.refClientid == 5)"
        [routerLinkActive]="currentPath == '/bank' ? 'active' : ''"
        [ngClass]="currentPath == '/bank' ? 'active' : ''"
      >
        <a
          (click)="storePath('/bank')"
          routerLink="/bank"
          class="btn collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#pwd-collapse"
          aria-expanded="false"
        >
          <i class="fa-solid fa-bank icon-pink me-2"></i> BANK
        </a>
      </li>

      <li>
        <a
          data-bs-toggle="collapse"
          data-bs-target="#allLog-collapse"
          aria-expanded="false"
          [ngClass]="
            currentPath == '/all-logs/cl-transfer' ||
            currentPath == '/all-logs/invalid-bet'
              ? 'btn collapsed show'
              : 'btn collapsed'
          "
        >
          <i class="fa-solid fa-pen-to-square icon-pink me-2"></i> ALL LOGS
        </a>
        <div
          [ngClass]="
            currentPath == '/all-logs/cl-transfer' ||
            currentPath == '/all-logs/invalid-bet'
              ? 'collapse show'
              : 'collapse'
          "
          id="allLog-collapse"
        >
          <ul class="btn-toggle-nav list-unstyled fw-normal">
            <!-- <li><a routerLink="/all-logs/analytics" class="nav-link small ps-5">Analytics</a></li> -->
            <!-- <li><a routerLink="/all-logs/reports" class="nav-link small ps-5">Reports</a></li> -->
            <li
              [routerLinkActive]="
                currentPath == '/all-logs/cl-transfer' ? 'active' : ''
              "
              [ngClass]="currentPath == '/all-logs/cl-transfer' ? 'active' : ''"
            >
              <a
                (click)="storePath('/all-logs/cl-transfer')"
                routerLink="/all-logs/cl-transfer"
                class="nav-link small ps-5"
                >CREDIT TRANSFERS</a
              >
            </li>
            <!-- <li><a routerLink="/all-logs/betfair-rate-log" class="nav-link small ps-5">BetfairRates Log</a></li> -->
            <li
              [routerLinkActive]="
                currentPath == '/all-logs/invalid-bet' ? 'active' : ''
              "
              [ngClass]="currentPath == '/all-logs/invalid-bet' ? 'active' : ''"
            >
              <a
                (click)="storePath('/all-logs/invalid-bet')"
                routerLink="/all-logs/invalid-bet"
                class="nav-link small ps-5"
                >VOID BETS</a
              >
            </li>
            <!-- <li><a routerLink="/all-logs/multiple-ip" class="nav-link small ps-5">Multiple IP</a></li><li><a routerLink="/all-logs/blocked-ip" class="nav-link small ps-5">Blocked IP</a></li><li><a routerLink="/all-logs/login-from-blocked-ip" class="nav-link small ps-5">Login From Blocked IP</a></li> -->
          </ul>
        </div>
      </li>
      <br />
      <!-- <li [routerLinkActive]="currentPath == '/surveillance'?'active':''" [ngClass]="currentPath == '/surveillance'?'active':''">
        <a
          [ngClass]="(currentPath == '/surveillance')?'btn collapsed show':'btn collapsed'"
          routerLink="/surveillance"
          data-bs-toggle="collapse"
          data-bs-target="#surv-collapse"
          aria-expanded="false"
          (click)="storePath('/surveillance')"
        >
          <i class="fa-solid fa-magnifying-glass icon-pink me-2"></i>
          Surveillance
        </a>
      </li> -->
      <li
        [routerLinkActive]="currentPath == '/change-password' ? 'active' : ''"
        [ngClass]="currentPath == '/change-password' ? 'active' : ''"
      >
        <a
          (click)="storePath('/change-password')"
          routerLink="/change-password"
          class="btn collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#pwd-collapse"
          aria-expanded="false"
        >
          <i class="fa-solid fa-lock icon-pink me-2"></i>CHANGE PASSWORD
        </a>
      </li>
      <!-- <li [routerLinkActive]="currentPath == '/google-authentication'?'active':''" [ngClass]="currentPath == '/google-authentication'?'active':''">
        <a (click)="storePath('/google-authentication')" routerLink="/google-authentication" class="btn collapsed">
          <i class="fa fa-key icon-pink me-2"></i> Google Authentication
        </a>
      </li> -->

      <li *ngIf="adminDetails?.userRoleName == 'SUPER ADMIN'">
        <a
          class="btn collapsed"
          [ngClass]="
            currentPath == '/settings/balance' ||
            currentPath == '/settings/match-settings' ||
            currentPath == '/settings/market-settings' ||
            currentPath == '/settings/bet-settings'
              ? 'btn collapsed show'
              : 'btn collapsed'
          "
          data-bs-toggle="collapse"
          data-bs-target="#settings-collapse"
          aria-expanded="false"
        >
          <i class="fa-solid fa-pen-to-square icon-pink me-2"></i>SETTINGS
        </a>
        <div
          [ngClass]="
            currentPath == '/settings/balance' ||
            currentPath == '/settings/match-settings' ||
            currentPath == '/settings/market-settings' ||
            currentPath == '/settings/bet-settings'
              ? 'collapse show'
              : 'collapse'
          "
          class="collapse"
          id="settings-collapse"
        >
          <ul class="btn-toggle-nav list-unstyled fw-normal">
            <li *ngIf="adminDetails.refClientid !== 5"
              [routerLinkActive]="
                currentPath == '/settings/balance' ? 'active' : ''
              "
              [ngClass]="currentPath == '/settings/balance' ? 'active' : ''"
            >
              <a
                (click)="storePath('/settings/balance')"
                routerLink="/settings/balance"
                class="nav-link small ps-5"
                >BALANCE</a
              >
            </li>
            <li
              [routerLinkActive]="
                currentPath == '/settings/bet-settings' ? 'active' : ''
              "
              [ngClass]="
                currentPath == '/settings/bet-settings' ? 'active' : ''
              "
            >
              <a
                (click)="storePath('/settings/bet-settings')"
                routerLink="/settings/bet-settings"
                class="nav-link small ps-5"
                >BET SETTINGS</a
              >
            </li>
            <li
              [routerLinkActive]="
                currentPath == '/settings/match-settings' ? 'active' : ''
              "
              [ngClass]="
                currentPath == '/settings/match-settings' ? 'active' : ''
              "
            >
              <a
                (click)="storePath('/settings/match-settings')"
                routerLink="/settings/match-settings"
                class="nav-link small ps-5"
                >MATCH SETTINGS</a
              >
            </li>
            <li
              [routerLinkActive]="
                currentPath == '/settings/market-settings' ? 'active' : ''
              "
              [ngClass]="
                currentPath == '/settings/market-settings' ? 'active' : ''
              "
            >
              <a
                (click)="storePath('/settings/market-settings')"
                routerLink="/settings/market-settings"
                class="nav-link small ps-5"
                >MARKET SETTINGS</a
              >
            </li>
            <li
              [routerLinkActive]="
                currentPath == '/settings/app-settings' ? 'active' : ''
              "
              [ngClass]="
                currentPath == '/settings/app-settings' ? 'active' : ''
              "
            >
              <a
                (click)="storePath('/settings/app-settings')"
                routerLink="/settings/app-settings"
                class="nav-link small ps-5"
                >APP SETTING</a
              >
            </li>
          </ul>
        </div>
      </li>
      <!-- <li
        *ngIf="
          adminDetails?.userRoleName == 'SUPER ADMIN' ||
          adminDetails?.username == 'KASHI'
        "
        [routerLinkActive]="
          currentPath == '/settings/games-settings' ? 'active' : ''
        "
        [ngClass]="currentPath == '/settings/games-settings' ? 'active' : ''"
      >
        <a
          (click)="storePath('/settings/games-settings')"
          routerLink="/settings/games-settings"
          class="btn collapsed"
          data-bs-toggle="collapse"
          data-bs-target="#pwd-collapse"
          aria-expanded="false"
        >
          <i class="fa-solid fa-pen-to-square icon-pink me-2"></i>GAMES SETTINGS
        </a>
      </li> -->
      <li>
        <a
          class="btn collapsed"
          (click)="onLogout()"
          data-bs-toggle="collapse"
          data-bs-target="#pwd-collapse"
          aria-expanded="false"
        >
          <i class="fa-solid fa-right-from-bracket icon-pink me-2"></i>LOGOUT
        </a>
      </li>
    </ul>
  </aside>
</div>
