<!-- <main id="main" class="main m-0">
  <section class="section gamedetails">
    <div class="row">
      <div class="col-md-3">
        <h3 class="text-pink">Bet Settings</h3>
      </div>
      <hr>
    </div>
    <form [formGroup]="betSettingForm" (ngSubmit)="onSubmitBetListForm()">
    <div class="row">
      <div class="col-md-3 mb-3">
        <label>Select Sport</label>
        <select formControlName="sportsId" id="ab" class="form-select">
          <option value="null">All</option>
          <option *ngFor="let game of games" [value]="game.sportId">{{game.sportName}}</option>
        </select>
      </div>
      <div class="col-md-3 mb-3">
        <label>Select Match</label>
        <select formControlName="matchId"  id="ab" class="form-select">
          <option value="null">All</option>
          <option value="match.matchId" *ngFor="let match of matchList">{{match.matchName}}</option>
        </select>
      </div>


      <div class="col-md-3 mt-2 mb-4">
        <button
          type="submit"
          class="btn btn-pink rounded-pill w-100"
          (click)="searchList()"
        >
          Search
        </button>
      </div>
    </div>
    </form>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-dark" >
          <thead>
            <tr>
              <th scope="col" class="first">#</th>
              <th scope="col">Member</th>
              <th scope="col">Place time</th>
              <th scope="col">Events</th>
              <th scope="col">Market</th>
              <th scope="col">Selection</th>
              <th scope="col">Odds Placed</th>
              <th scope="col">Odds Matched</th>
              <th scope="col">Matched</th>
              <th scope="col">Unmatched</th>
              <th scope="col" class="last">IP</th>
              <th scope="col" class="last">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bets of allBets">
              <td>026agarwal - INR</td>
              <td>{{bets.member}}</td>
              <td>{{bets.placeTime | date }}</td>
              <td>{{bets.event}}</td>
              <td>
                <span *ngIf="!bets.isBack"
                  class="border r-2 bg-danger text-danger  me-2"
                >
                </span>
                <span  *ngIf="bets.isBack"
                class="border  bg-primary text-primary border-primary me-2"
              >
              </span
              >
                {{bets.market}}
              </td>

              <td>{{bets.selection}}</td>
              <td>{{bets.oddsPlaced}}</td>
              <td>{{bets.oddsMatched}}</td>
              <td>{{bets.matched}}</td>
              <td class="text-danger">{{bets.unmatched}}</td>
              <td>
                <i
                  class="fa fa-info-circle"
                  data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop"
                ></i>
                {{bets.ip}}
              </td>
              <td>
                <button type="button" class="btn btn-success rounded-pill btn-sm ps-3 pe-3"> Delete </button>
                {{bets.ip}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-12 mt-3" >
      <div class="border text-center p-5">
        <h4 *ngIf="allBets.length == 0 && !isLoading">No data found</h4>
        <h4 *ngIf="isLoading">Loading...</h4>
      </div>
    </div>
  </section>
</main> -->

<main id="main" class="main m-0">
  <section class="section gamedetails">
    <div [formGroup]="betTickerForm" class="tab-pane fade show active" id="pills-batlist" role="tabpanel"
      aria-labelledby="pills-batlist-tab" tabindex="0">
      <div class="row mb-3 align-items-end">
        <div class="col-md-3">
          <label>Select Member</label>
          <select formControlName="memberId" id="ab" class="form-select pointer">
            <option value="null">All</option>
            <option *ngFor="let member of allMembers" [value]="member.userId">
              {{ member.username }}
            </option>
          </select>
        </div>
        <div class="col-md-3">
          <button class="btn border-pink btn-pink rounded-pill mt-4 w-100 " (click)="clearMember()">
            <i class="fa fa-user-cog"> &nbsp;</i>Clear Members
          </button>
        </div>
        <div class="col-md-3 mt-2">
          <label>From Date</label>
          <input formControlName="fromDate" type="date" class="form-control" id="" placeholder="Month" />
        </div>
        <div class="col-md-3">
          <label>To Date</label>
          <input type="date" formControlName="toDate" class="form-control" id="" placeholder="Month" />
        </div>
      </div>
      <div class="row mb-2 align-items-end">
        <div class="col-md-4 mb-3">
          <label>Select Sport</label>
          <select formControlName="sportsId" id="ab" class="form-select pointer" (change)="changeGame($event)">
            <option value="null">All</option>
            <option *ngFor="let game of games" [value]="game.sportId">
              {{ game.sportName }}
            </option>
          </select>
        </div>
        <div class="col-md-4 mb-3">
          <label>Select Match</label>
          <select formControlName="matchId" id="ab" class="form-select pointer" (change)="changeMatch($event)">
            <option value="null">All</option>
            <option value="{{ match.matchId }}" *ngFor="let match of matchList">
              {{ match.matchName }}
            </option>
          </select>
        </div>
        <div class="col-md-4 mb-3">
          <label>Select Market Type</label>
          <select formControlName="marketId" id="ab" class="form-select pointer" (change)="changeMarketType($event)">
            <option value="null">All</option>
            <option value="{{ market.marketId }}" *ngFor="let market of marketList">
              {{ market.marketName }}
            </option>
          </select>
        </div>

        <div class="col-md-4 mb-3">
          <label>Stakes From Value</label>
          <input formControlName="stakesFromValue" type="number" class="form-control" value=""
            placeholder="Enter Stake From..." />
        </div>
        <div class="col-md-4 mb-3">
          <label>Stakes To Value</label>
          <input formControlName="stakesToValue" type="number" class="form-control" value=""
            placeholder="Enter Stake To..." />
        </div>

        <div class="col-md-4 mb-3 mt-4">
          <button type="button" class="btn btn-pink rounded-pill w-25" (click)="searchList()">
            Search
          </button>
          <button *ngIf="allBets.length > 0" type="button" class="btn btn-pink rounded-pill w-25 ms-2 "
            (click)="exportExcel()">
            Export
          </button>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-12">
        <div class="table-responsive tableRes tableFixHead">
          <table class="table tableall" *ngIf="allBets.length > 0 && !this.isLoading">
            <thead>
              <tr>
                <th scope="col" class="first">#</th>
                <th scope="col" class="pointer" (click)="toggleSort('username')">
                  Member
                </th>
                <th scope="col" class="pointer" (click)="toggleSort('placedDate')">
                  Place time
                </th>
                <th scope="col" class="pointer" (click)="toggleSort('event')">
                  Events
                </th>
                <th scope="col" class="pointer" (click)="toggleSort('betCategory')">
                  Market
                </th>
                <th scope="col" class="pointer" (click)="toggleSort('selectionName')">
                  Selection
                </th>
                <th scope="col" class="pointer" (click)="toggleSort('betRate')">
                  Odds Placed
                </th>
                <th scope="col" class="pointer" (click)="toggleSort('averagePriceMatched')">
                  Odds Matched
                </th>
                <th scope="col" class="pointer" (click)="toggleSort('stake')">
                  Matched Stake
                </th>
                <th scope="col" class="pointer" (click)="toggleSort('stake')">
                  Unmatched Stake
                </th>
                <!-- <th scope="col">Profit/Liability</th> -->
                <th scope="col">IP</th>
                <th scope="col" class="last">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="
                  let bets of allBets | sort : sortColumn : sortAscending;
                  let i = index
                ">
                <td>{{ i + 1 }}</td>
                <td>{{ bets.username }}</td>
                <td>{{ bets.placedDate | date : "medium" }}</td>
                <td>{{ bets.event }}</td>
                <td width="11%">
                  <span *ngIf="!bets.type" class="border r-2 bg-danger text-danger me-2 border-3 border-danger border-danger"></span>
                  <span *ngIf="bets.type" class="border bg-primary text-primary border-primary me-2 border-3"></span>
                  {{ bets.betCategory }}
                </td>

                <td>{{ bets.selectionName }}</td>
                <td>{{ bets.betRate }}</td>
                <td>{{ bets.averagePriceMatched }}</td>
                <td>
                  <ng-container *ngIf="bets.isMatched; else notMatched">
                    {{ bets.stake | indianCurrency }}
                  </ng-container>
                  <ng-template #notMatched> -- </ng-template>
                </td>
                <td>
                  <ng-container *ngIf="!bets.isMatched; else notMatched">
                    {{ bets.stake | indianCurrency }}
                  </ng-container>
                  <ng-template #notMatched> -- </ng-template>
                </td>
                <!-- <td>
                <span [ngClass]="bets.type ? 'text-success' : 'text-danger'">
                {{ bets.profitLiability }}
                </span>
              </td> -->
                <td>
                  <div class="tooltipnk">
                    <i class="fa-sharp fa-solid fa-clipboard cursor-pointer" ngxClipboard [cbContent]="bets.ip"
                      [container]="container"></i>
                    <span class="tooltiptext tabTooltip px-5 w-auto">
                      <small #container>{{ bets.ip }}</small>
                    </span>
                  </div>
                </td>
                <td>
                  <button class="btn btn-pink rounded-pill w-80" (click)="openModal(bets)">
                    Delete
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div *ngIf="allBets.length > 0 && !this.isLoading">
      <button class="btn rounded-pill " [disabled]="currentPage === 1" (click)="prev()">
        Prev
      </button>
      <span class="btn btn-pink rounded-pill ps-4 pe-4">{{ currentPage / totalPages }}
      </span>
      <button class="btn rounded-pill " [disabled]="currentPage === totalPages" (click)="next()">
        Next
      </button>
    </div>

    <div class="col-md-12 mt-3" *ngIf="allBets.length == 0">
      <div class="border text-center p-5">
        <h4 *ngIf="allBets.length == 0 && !isLoading">No data found</h4>
        <h4 *ngIf="isLoading">Loading...</h4>
      </div>
    </div>
  </section>
</main>

<!-- Modal start-->
<div class="modal" [ngStyle]="{ display: display }" id="staticBackdrop" data-bs-backdrop="static"
  data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header bg-pink">
        <h5 class="modal-title cassino " id="staticBackdropLabel">
          Add Remark
        </h5>
        <button type="button" (click)="closeModal()" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <section class="section m-auto mt-4">
            <form [formGroup]="deleteBetForm">
              <div class="row mb-4 align-items-center">
                <div class="col-md-5">Remark*</div>
                <div class="col-md-7">
                  <input type="text" class="form-control border-pink bg-transparent rounded-pill"
                    formControlName="remarks" placeholder="Enter remarks" (keydown.enter)="submitForm()" />
                  <!--<div
                    class="text-danger"
                    *ngIf="
                    remarks &&
                    remarks.invalid &&
                    remarks.touched
                    "
                  >
                  Remark is required.
                  </div>-->
                </div>
              </div>

              <div class="row mt-5">
                <div class="col-md-6">
                  <button class="btn btn-pink rounded-pill w-80 mt-4" (click)="closeModal()">
                    Cancel
                  </button>
                </div>
                <div class="col-md-6 text-end">
                  <button (click)="confirmDeleteBet()" [disabled]="deleteBetForm.invalid"
                    class="btn btn-pink rounded-pill w-80 mt-4">
                    Save Remark and Delete
                  </button>
                </div>
              </div>
            </form>
            <!--your code will come here end-->
            <!-- </div> -->
            <!-- </div> -->
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal end -->