ul {
  list-style: none;
}

.btnList li {
  margin: 0 4px;
}

a {
  text-decoration: none;
}

.autocomplete {
  position: relative;
}

.card-img-top {
  height: 148px;
}

.card-body h6 {
  font-size: 0.85rem;
}
