<div id="sidebar-wrapper" class="opensidebar">
  <div class="row p-3 bg-color" id="menu-toggle">
    <div class="col-md-6 col-10">
      <h5>{{ userDetails["username"] | titlecase }}</h5>
    </div>
    <div class="col-md-6 col-2 text-end">
      <a class="anchorTag" (click)="onClose()">X</a>
    </div>
  </div>
  <div class="row ps-4 pe-2">
    <div class="col-md-12 text-center p-3">
      <i class="fa fa-landmark text-color me-2"></i>
      <strong>Balance Information</strong>
    </div>
    <div class="col-md-6 col-6 p-2 text-muted">Available Credit</div>
    <div class="col-md-6 col-6 p-2">
      {{ userBalance?.availableCredit | number }}
    </div>
    <div class="col-md-6 col-6 p-2 text-muted">Credit Limit</div>
    <div class="col-md-6 col-6 p-2">
      {{ userBalance?.creditLimit | number }}
    </div>
    <div class="col-md-6 col-6 p-2 text-muted">Winnings</div>
    <div
      class="col-md-6 col-6 p-2"
      *ngIf="userBalance?.winnings != 0"
      [ngClass]="userBalance?.winnings > 0 ? 'text-success' : 'text-danger'"
    >
      {{ userBalance?.winnings | number }}
    </div>
    <div class="col-md-6 col-6 p-2" *ngIf="userBalance?.winnings == 0">
      {{ userBalance?.winnings | number }}
    </div>
    <div
      class="col-md-6 col-6 p-2 text-muted"
      *ngIf="userBalance?.casinoWinnings != 0"
    >
      Casino Winnings
    </div>
    <div
      class="col-md-6 col-6 p-2"
      *ngIf="userBalance?.casinoWinnings != 0"
      [ngClass]="
        userBalance?.casinoWinnings > 0 ? 'text-success' : 'text-danger'
      "
    >
      {{ userBalance?.casinoWinnings | number }}
    </div>
    <div class="col-md-6 col-6 p-2 text-muted">Net Exposure</div>
    <div
      class="col-md-6 col-6 p-2"
      *ngIf="userBalance?.exposure != 0"
      [ngClass]="userBalance?.exposure > 0 ? 'text-success' : 'text-danger'"
    >
      {{ userBalance?.exposure | number }}
    </div>
    <div class="col-md-6 col-6 p-2" *ngIf="userBalance?.exposure == 0">
      {{ userBalance?.exposure | number }}
    </div>
  </div>
  <hr />
  <div class="row pt-0 border-0">
    <div class="col">
      <ul class="nav flex-column border-0 pt-0">
        <!-- <li class="nav-item">
                    <a [routerLink]="['/favorites']" [routerLinkActive]="'active'" class="nav-link "  (click)="onClose()"><i class="fa fa-star me-1"></i>&nbsp; &nbsp;<span> Favorites </span>
                        <span class="leftb-icon">12</span> 
                    </a>
                </li> -->
        <li class="nav-item">
          <a
            [routerLink]="['/bets']"
            [routerLinkActive]="'active'"
            class="nav-link"
            (click)="onClose()"
            ><i class="fa fa-list me-1"></i> &nbsp; &nbsp;<span>
              Open Bets
            </span>
            <!-- <span class="leftb-icon">10</span>  -->
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/profit-loss']"
            [routerLinkActive]="'active'"
            (click)="onClose()"
            ><i class="fa fa-coins me-1"></i> &nbsp; &nbsp;<span
              >Betting P&L</span
            ></a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/transfer-statements']"
            [routerLinkActive]="'active'"
            (click)="onClose()"
            ><i class="fa fa-file-invoice me-1"></i>&nbsp; &nbsp;
            <span>Transfer Statements</span></a
          >
        </li>
        <!-- <li class="nav-item">
                    <a class="nav-link " [routerLink]="['/time-settings']" [routerLinkActive]="'active'" (click)="onClose()"><i class="fa fa-calendar-days me-1"></i>&nbsp; &nbsp;<span>Time Settings</span></a>
                </li> -->
        <!-- <li class="nav-item">
                    <a class="nav-link " [routerLinkActive]="'active'" (click)="onClose()"><i class="fa fa-file-lines me-1"></i> &nbsp; &nbsp;<span>News</span></a>
                </li> -->
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/change-password']"
            [routerLinkActive]="'active'"
            (click)="onClose()"
            ><i class="fa fa-lock"></i>&nbsp; &nbsp;
            <span>Change Password</span></a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/account-statement']"
            [routerLinkActive]="'active'"
            (click)="onClose()"
            ><i class="fa fa-tasks"></i> &nbsp; &nbsp;<span
              >Account Statement</span
            ></a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/bet-history']"
            [routerLinkActive]="'active'"
            (click)="onClose()"
            ><i class="fa fa-history"></i> &nbsp; &nbsp;<span
              >Bet History</span
            ></a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/rules-regulations']"
            [routerLinkActive]="'active'"
            (click)="onClose()"
            ><i class="fa fa-memory"></i> &nbsp; &nbsp;<span
              >Rules & Regulations</span
            ></a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/settings']"
            [routerLinkActive]="'active'"
            (click)="onClose()"
            ><i class="fa fa-gear"></i> &nbsp; &nbsp;<span>Settings</span></a
          >
        </li>
        <!-- <li class="nav-item">
                    <a class="nav-link " [routerLink]="['/contact-us']" [routerLinkActive]="'active'" (click)="onClose()"><i class="fa fa-phone"></i> &nbsp; &nbsp;<span>Contact Us</span></a>
                </li> -->
      </ul>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-12 text-center mb-3">
      <button
        type="button"
        class="btn btn-light bg-color text-white"
        (click)="onLogout()"
      >
        LOGOUT
      </button>
    </div>
  </div>
</div>
