<div id="content" class="p-3">
  <div class="row">
    <section class="col-md-12">
      <div class="education">
        <div class="card mbb">
          <div class="card-body">
            <div class="tab-content" id="pills-tabContent">
              <div id="bank-management" aria-labelledby="bank-management-tab">
                <div class="container-fluid">
                  <div class="row mt-2 align-items-center">
                    <div class="col-4">
                      <h6 class="colorp m-0">
                        <img
                          src="assets/images/balanceProgressReport.svg"
                          alt=""
                        />
                        Task Scheduler Details
                      </h6>
                    </div>
                    <div class="col-8 d-flex">
                      <div class="col-md-4">
                        <ul
                        class="list-unstyled p-0 m-0 d-flex align-items-center justify-content-between"
                      >
                        <li class="d-flex align-items-center">
                          <button class="disabled pr-5"></button>
                          <span>Disabled</span>
                        </li>

                        <li class="d-flex align-items-end">
                          <button class="ready ml-3"></button>
                          <span class="ml-2">Ready</span>
                        </li>
                      </ul>
                      </div>
                      <div class="col-md-4">

                      </div>
                      <div class="col-md-4">
                        <div class="ServerIP">
                          <select name="" id="" class="dropselect form-select"  (change)="getServerIpForGraph($event)">
                            <option value="" selected>
                              Server IP
                            </option>
                            <option
                            
                              *ngFor="let server of ServerIPadress"
                              value={{server.ServerIPAddress}}
                             
                              class="a"
                            >
                              {{ server.ServerName }} ({{
                                server.ServerIPAddress
                              }})
                            </option>
                          </select>
                          <!-- <button
                            class="btn btn-info1 mt-2 py-1 rounded-2"
                          >
                            Server IP
                          </button>
                          <div class="dropdown-content"></div> -->
                        </div>
                      </div>
                    
                    </div>
                    <div class="col-md-12 mt-2">
                      <!-- <canvas id="pieChart"></canvas> -->
                      <canvas id="pieChart" width="500" height="150"></canvas>
                    </div>

                    <div class="col-md-12">
                      <div class="row align-items-end">
                        <div class="col-md-6">
                          <form (submit)="searchTask()">
                            <div class="row align-items-end">
                              <div class="col-md-8 mt-2">
                                <div class="d-flex">
                                  <input
                                    type="search"
                                    [(ngModel)]="searchQuery"
                                    (ngModelChange)="onSearchChange()"
                                    name="searchQuery"
                                    class="form-control"
                                    placeholder="Search"
                                  />
                                  &nbsp;&nbsp;
                                  <button class="btn btn-info" type="submit">
                                    <i
                                      class="fa fa-search"
                                      aria-hidden="true"
                                    ></i>
                                  </button>
                                </div>
                              </div>
                              <!-- <div class="col-md-9">
                                <div class="row align-items-end">
                                  <div class="col-md-3">
                                    <label>From Date:</label>
                                    <input
                                      type="date"
                                      [(ngModel)]="fromDate"
                                      name="fromDate"
                                      class="form-control"
                                    />
                                  </div>
                                  <div class="col-md-3">
                                    <label>To Date:</label>
                                    <input
                                      type="date"
                                      [(ngModel)]="toDate"
                                      name="toDate"
                                      class="form-control"
                                    />
                                  </div>
                                  <div class="col-md-2 d-flex">
                                    <div class="serverIP">
                                      <label>Server IP:</label>
                                      <select name="" id="" class="form-select" (change)="getScheduledServerIp($event)">
                                        <option value="" selected disabled>
                                          ---
                                        </option>
                                        <option
                                        
                                          *ngFor="let server of ServerIPadress"
                                          value={{server.ServerIPAddress}}
                                         
                                          class="a"
                                        >
                                          {{ server.ServerName }} ({{
                                            server.ServerIPAddress
                                          }})
                                        </option>
                                      </select>
                                    </div>
                                    
                                  </div>
                                  <div class="col-md-2">
                                    <form class="mt-3">
                                    <label for="cars">Status:</label>
                                    <select name="cars" id="cars" class="form-select" [(ngModel)]="status">
                                      <option value="" selected disabled>---</option>

                                      <option value="Ready">Ready</option>
                                      <option value="Disabled">Disabled</option>
                                      
                                    </select> 
                                  </form></div>

                                 
                                  <div class="col-md-2">
                                    <button
                                      class="btn btn-info mt-2 py-1 rounded-2"
                                      (click)="searchWithServerIp()"
                                    >
                                      Search
                                    </button>
                                  </div>
                                </div>
                              </div> -->
                              <!-- <div class="serverIP">
                                <button class="btn btn-secondary ml-3">
                                  Server IP
                                </button>
                                <div class="dropdown-content">
                                  <a
                                    *ngFor="let server of ServerIPadress"
                                    (click)="getScheduledServerIp(server)"
                                    >{{ server.ServerName }} ({{
                                      server.ServerIPAddress
                                    }})</a
                                  >
                                </div>
                              </div> -->
                            </div>
                          </form>
                        </div>
                        <div class="col-md-6">
                          <div class="row justify-content-end align-items-end">
                            <!-- Show Dropdown -->
                            <div class="col-auto">
                              <div class="dropdown">
                                <button
                                  (click)="showCheckboxes()"
                                  class="dropbtn border mt-2 py-1 rounded-2"
                                >
                                  Column View
                                  <i class="bi bi-arrow-down"></i>
                                </button>
                                <div
                                  id="showCheckboxes"
                                  class="dropdown-content"
                                  [ngClass]="status ? 'show' : ''"
                                >
                                  <a href="#">
                                    <input
                                      type="checkbox"
                                      (change)="toggleAllCheckboxes($event)"
                                      checked
                                    />
                                    All
                                  </a>
                                  <a href="#">
                                    <input
                                      type="checkbox"
                                      (change)="toggleColumn('SrNo')"
                                      checked
                                    />
                                    Sr.No
                                  </a>
                                  <a href="#">
                                    <input
                                      type="checkbox"
                                      (change)="toggleColumn('appName')"
                                      checked
                                    />
                                    App Name
                                  </a>
                                  <a href="#">
                                    <input
                                      type="checkbox"
                                      (change)="toggleColumn('status')"
                                      checked
                                    />
                                    Status
                                  </a>
                                  <a href="#">
                                    <input
                                      type="checkbox"
                                      (change)="toggleColumn('Address')"
                                      checked
                                    />
                                    IP Address
                                  </a>
                                  <a href="#">
                                    <input
                                      type="checkbox"
                                      (change)="toggleColumn('created')"
                                      checked
                                    />
                                    Status Time
                                  </a>
                                  <a href="#">
                                    <input
                                      type="checkbox"
                                      (change)="toggleColumn('nextRunTime')"
                                      checked
                                    />
                                    Next Run Time
                                  </a>
                                  <a href="#">
                                    <input
                                      type="checkbox"
                                      (change)="toggleColumn('lastRunTime')"
                                      checked
                                    />
                                    Last Run Time
                                  </a>
                                  <a href="#">
                                    <input
                                      type="checkbox"
                                      (change)="toggleColumn('author')"
                                      checked
                                    />
                                    Author
                                  </a>
                                 
                                 
                                </div>
                              </div>
                            </div>
                            <div class="col-auto">
                              <div class="dropdown">
                                <select
                                  class="form-control mt-2"
                                  (change)="updateItemsPerPage($event)"
                                >
                                  <option>Show</option>
                                  <option>10</option>
                                  <option>25</option>
                                  <option>50</option>
                                  <option>100</option>
                                </select>
                              </div>
                            </div>
                            <!-- Export Button -->
                            <div class="col-auto">
                              <button
                                class="btn btn-info1"
                                (click)="exportToExcel()"
                              >
                                Export
                              </button>
                            </div>
                            <!-- Column View Button -->
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12">
                      <div class="row align-items-end">
                        <div class="col-md-12">
                          <div class="row align-items-end">
                            <div class="col-md-2">
                              <label>From Date:</label>
                              <input
                                type="date"
                                [(ngModel)]="fromDate"
                                name="fromDate"
                                class="form-control"
                              />
                            </div>
                            <div class="col-md-2">
                              <label>To Date:</label>
                              <input
                                type="date"
                                [(ngModel)]="toDate"
                                name="toDate"
                                class="form-control"
                              />
                            </div>
                            <div class="col-md-2 d-flex">
                              <div class="serverIP">
                                <label>Server IP:</label>
                                <select name="" id="" class="form-select" (change)="getScheduledServerIp($event)">
                                  <option value="" selected disabled>
                                    ---
                                  </option>
                                  <option
                                  
                                    *ngFor="let server of ServerIPadress"
                                    value={{server.ServerIPAddress}}
                                   
                                    class="a"
                                  >
                                    {{ server.ServerName }} ({{
                                      server.ServerIPAddress
                                    }})
                                  </option>
                                </select>
                              </div>
                              
                            </div>
                            <div class="col-md-2">
                              <form class="mt-3">
                              <label for="cars">Status:</label>
                              <select name="cars" id="cars" class="form-select" [(ngModel)]="status">
                                <option value="" selected disabled>---</option>

                                <option value="Ready">Ready</option>
                                <option value="Disabled">Disabled</option>
                                
                              </select> 
                            </form></div>

                           
                            <div class="col-md-2">
                              <button
                                class="btn btn-info py-1 rounded-2"
                                (click)="searchWithServerIp()"
                              >
                                Search
                              </button>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>

                    <div class="col-md-12 mt-4" *ngIf="!allColumnsHidden">
                      <div class="table-responsive">
                        <table class="table table-hover mt-3 table-striped">
                          <thead>
                            <tr class="btn-s">
                              <th id="table_Head" *ngIf="columns.SrNo">
                                Sr.NO.
                              </th>

                              <th id="table_Head" *ngIf="columns.appName">
                                App Name
                              </th>
                              <th id="table_Head" *ngIf="columns.status">
                                Status
                              </th>
                              <th id="table_Head" *ngIf="columns.Address">IP Address</th>

                              <th id="table_Head" *ngIf="columns.created">
                                Status Time
                              </th>
                              <th id="table_Head" *ngIf="columns.nextRunTime">
                                Next Run Time
                              </th>

                              <th id="table_Head" *ngIf="columns.lastRunTime">
                                Last Run Time
                              </th>

                              <th id="table_Head" *ngIf="columns.author">
                                Author
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr
                              *ngFor="
                                let item of filteredData
                                  | paginate
                                    : {
                                        itemsPerPage: itemsPerPage,
                                        currentPage: p
                                      };
                                let i = index
                              "
                            >
                              <td id="for_table_color" *ngIf="columns.SrNo">
                                {{ 1 + i }}
                              </td>
                              <td id="for_table_color" *ngIf="columns.appName">
                                {{ item.taskname }}
                              </td>
                              <td *ngIf="columns.status">
                                <div
                                  class="radioBTN"
                                  [ngClass]="{
                                    connected: item.status === 'Ready',
                                    disconnected: item.status === 'Disabled'
                                  }"
                                >
                                  <input
                                    type="radio"
                                    checked="checked"
                                    name="radio{{ item.taskname }}"
                                    style="display: none"
                                  />
                                  <span class="checkmark"></span>
                                  <span class="tooltip">{{
                                    item.status === "Ready"
                                      ? "Ready"
                                      : "Disabled"
                                  }}</span>
                                </div>
                              </td>
                              <td *ngIf="columns.Address">
                                {{ item.server_ipaddress }}
                              </td>

                              <td *ngIf="columns.created">
                                {{ item.createddate }}
                              </td>
                              <td *ngIf="columns.nextRunTime">
                                {{ item.nextruntime }}
                              </td>
                              <td *ngIf="columns.lastRunTime">
                                {{ item.lastruntime }}
                              </td>
                              <td *ngIf="columns.author">{{ item.author }}</td>

                              <!-- <td *ngIf="columns.server">
                                <div
                                  class="radioBTN"
                                  [ngClass]="{ connected: item.status === 'Ready', disconnected: item.status === 'Disabled' }"
                                >
                                  <input type="radio" checked="checked" name="radio{{ item.app_name }}" style="display: none" />
                              <td id="for_table_color" *ngIf="columns.appName">{{ item.taskname }}</td>
                              <td *ngIf="columns.created">{{ item.createddate }}</td>
                              <td *ngIf="columns.nextRunTime">{{ item.nextruntime }}</td>
                              <td *ngIf="columns.lastRunTime">{{ item.lastruntime }}</td>
                              <td *ngIf="columns.author">{{ item.author }}</td>
                              <td *ngIf="columns.server">
                                <div class="radioBTN" [ngClass]="{ connected: item.status === 'Ready', disconnected: item.status === 'Disabled' }">
                                  <input type="radio" checked="checked" name="radio{{ item.taskname }}" style="display: none" />
                                  <span class="checkmark"></span>
                                  <span class="tooltip">{{ item.status === 'Ready' ? 'Ready' : 'Disabled' }}</span>
                                </div>
                              </td>-->
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="pagination-container">
                        <pagination-controls
                          (pageChange)="p = $event"
                        ></pagination-controls>
                      </div>

                      <!-- <div class="list" style="position: center;">
                        <div class="d-flex" *ngIf="filteredData.length > 0 && !isLoading">
                          <button class="btn rounded-pill" [disabled]="currentPage === 1" (click)="prev()">
                            Prev
                          </button>
                          <span class="btn btn-pink rounded-pill ps-4 pe-4">{{ currentPage }} / {{ totalPages }}</span>
                          <button class="btn rounded-pill" [disabled]="currentPage === totalPages" (click)="next()">
                            Next
                          </button>
                        </div>
                        <div *ngIf="isLoading" class="d-flex justify-content-center align-items-center">
                          <p>Loading...</p>
                        </div>
                        <div *ngIf="filteredData.length === 0 && !isLoading">
                          <p>No data available.</p>
                        </div>
                      </div> -->
                    </div>

                    <div class="col-md-12 mt-4" *ngIf="allColumnsHidden">
                      <p class="text-center">
                        No columns selected, table is hidden.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
