<app-header></app-header>
<!--body start-->
<div class="row m-0">
  <!--Aside start-->
  <div class="col-md-2 mobileTableHide" *ngIf="!isMobileView">
    <app-left-navigation></app-left-navigation>
  </div>
  <!--Aside end-->
  <!--Artical Start-->
  <div class="col-md-10 p-0 m-0">
    <div class="text-center mt-5 text-white">
      <!--Event start-->
      <img src="assets/images/logo.png" alt="">
      <h4>Event Finished</h4>
      <p>The events viewed is finished or no longer available</p>
      <a class="btn rounded-pill bg-pink mb-4">TO MAIN PAGE</a>
      <!--Event end-->
    </div>
  </div>
  <!--Artical end-->
</div>
<!--Body end-->






















<div class="col-md-12 ps-5 pe-5 accordionn">
  <div class="innerpagem text-center">
  <!--Event start-->
    <img src="images/logo.svg" alt="">
    <h4>Event Finished</h4>
    <p>The events viewed is finished or no longer available</p>
    <a class="btn rounded-pill bg-pink mb-4">TO MAIN PAGE</a>
    <!--Event end-->
  </div>
</div>
