<div class="login">
  <div class="w-30 m-auto loginInner1">
    <form [formGroup]="signInForm" (ngSubmit)="onSubmitSignIn()">
      <div class="text-center p-4 text-white">
        <!-- <img src="assets/images/diamond247-logo.png" width="150px" /> -->
         <h1>MAFIASPORTS888</h1>
      </div>
      <div class="featured-box-login featured-box-secundary default">
        <h3 class="text-center m-0">
          Login <i class="fas fa-hand-point-down"></i>
        </h3>
        <div class="form-group form-floating mt-3">
          <input
            type="email"
            class="form-control bg-transparent"
            readonly
            [appAutoFocus]
            onfocus="this.removeAttribute('readonly');"
            placeholder="Enter User Name"
            formControlName="username"
            autocomplete="disabled"
            id="floatingInput"
          />
          <i class="fas fa-user"></i>
          <!-- <span class="fa fa-user text-white bg-transparent"></span> -->
          <label for="floatingInput">User Name</label>

          <div id="validationServer03Feedback" class="invalid-feedback">
            Please provide a valid name.
          </div>
        </div>
        <div class="form-group form-floating mt-3">
          <input
            [type]="show ? 'text' : 'password'"
            class="form-control bg-transparent"
            readonly
            [appAutoFocus]
            onfocus="this.removeAttribute('readonly');"
            placeholder="Enter Password"
            formControlName="password"
            autocomplete="disabled"
          />
          <i
            class="fa"
            (click)="show = !show"
            [ngClass]="show ? 'fa-eye' : 'fa-eye-slash'"
          ></i>
          <label for="floatingInput">Password</label>
          
        </div>
        <div class="input-group">
          <button
            [disabled]="signInForm.invalid || isLoading"
            class="btn btn-submit btn-login"
          >
            {{ button }} &nbsp;<i
              class="fa"
              [ngClass]="{ 'fa-spin fa-spinner': isLoading }"
            ></i>
            <i class="ml-2 fas fa-sign-in-alt"></i>
          </button>
          <small class="recaptchaTerms"
            >This site is protected by reCAPTCHA and the Google
            <a href="https://policies.google.com/privacy">Privacy Policy</a>
            and
            <a href="https://policies.google.com/terms">Terms of Service</a>
            apply.
          </small>
        </div>
        <button (click)="demoLogin();" class="btn btn-login btn-success">Demo Login</button>
      </div>
    </form>
  </div>
</div>
