<main id="main" class="main m-0">
  <section class="gamedetails">
    <div class="row pb-2" [formGroup]="filterForm">
      <div class="col-md-12">
        <!--your code will come here start-->

        <h4 class="text-pink">
          <img src="../../../../../assets/images/master_dashboard.png" alt="" />
          My P/L Statement
        </h4>
        <hr />
        <div class="col-md-12">
          <div class="row align-items-end">
            <div class="col-md-3 mb-3">
              <label>From Date</label>
              <input type="date" formControlName="fromDate" name="fromDate" class="form-control" id=""
                placeholder="Month" />
            </div>
            <div class="col-md-3 mb-3">
              <label>To Date</label>
              <input type="date" formControlName="toDate" name="toDate" class="form-control" id=""
                placeholder="Month" />
            </div>
            <!-- <div class="col-md-3 mb-3">
              <label>Select Sport</label>
              <select formControlName="sportsId" id="ab" class="form-select pointer" (change)="changeGame($event)">
                <option [value]="null">All</option>
                <option *ngFor="let game of games" [value]="game.sportId">
                  {{ game.sportName }}
                </option>
              </select>
            </div> -->
            <div class="col-md-3 mb-3">
              <label>Select Match</label>
              <select formControlName="matchId" id="ab" class="form-select pointer" (change)="changeMatch($event)">
                <option [value]="null">All</option>
                <option [value]="match" *ngFor="let match of matchList">
                  {{ match }}
                </option>
              </select>
            </div>
            <!-- <div class="col-md-4">
              <label>Select Market</label>
              <select formControlName="marketId" id="ab" class="form-select pointer"
                (change)="changeMarketType($event)">
                <option [value]="null">All</option>
                <option [value]="market.marketId" *ngFor="let market of marketList">
                  {{ market.marketName }}
                </option>
              </select>
            </div> -->
            <div class="col-md-3 d-flex align-items-end mb-3">
              <button type="button" (click)="searchList()" class="btn btn-pink rounded-pill mt-4">
                Search
              </button>
              <button *ngIf="plStatement.length >0 " type="button" class="btn btn-pink rounded-pill ms-2 "
                (click)="exportExcel()">Export</button>

            </div>
          </div>
        </div>
        <!--your code will come here end-->
      </div>
    </div>
  </section>
  <div class="row mt-3">
    <div class="col-md-12 ">
      <div *ngIf="plStatement.length == 0" class="border text-center p-5">
        <h4 *ngIf="plStatement.length == 0 && !isLoading">No data found</h4>
        <h4 *ngIf="isLoading">Loading...</h4>
      </div>
      <div class="table-responsive tableRes tableFixHead">
        <table class="table tableall " *ngIf="plStatement.length > 0">
          <thead>
            <tr>
              <th class="thts first">#</th>
              <!-- <th scope="col" class="pointer" (click)="toggleSort('createdAt')">Date</th> -->
              <th scope="col" class="pointer" (click)="toggleSort('gameName')">Game</th>
              <th scope="col" class="pointer" (click)="toggleSort('subGame')">Sub Game</th>
              <th scope="col" class="pointer" (click)="toggleSort('eventName')">Event</th>
              <th scope="col" class="pointer  text-center" (click)="toggleSort('winINR')">Win/Loss</th>
              <!-- <th scope="col">Commission</th>
            <th scope="col">Net Amount</th> -->
              <!-- <th scope="col" class="">U/L Commission</th>
            <th scope="col" class="">D/L Commission</th> -->
              <!-- <th scope="col">User Count</th>
            <th scope="col">Bet Count</th> -->
              <th scope="col" class="last"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pl of plStatement | sort:sortColumn:sortAscending ;let i = index;"
              (click)="openAllBets(pl.matchId)">
              <td class="tds tdts">
                <span>{{ i + 1 }}</span>

              </td>
              <td>{{ pl.createdAt | date : "medium" }}</td>
              <!-- <td>{{ pl.gameName }}</td> -->
              <td>{{ pl.subGame }}</td>
              <td>{{ pl.eventName }}</td>
              <td class="text-center" [ngClass]="pl.isWon ? 'text-success' : 'text-danger'">
                {{ pl.winINR | indianCurrency }}
              </td>
              <!-- <td>{{ pl.commission | number }}</td>
            <td>{{ pl.netAmount | number }}</td> -->
              <!-- <td>0</td>
            <td>0</td> -->
              <!-- <td>{{ pl.userCount }}</td>
            <td>{{ pl.userBetCount }}</td> -->
              <!--<td><button
                class="btn btn-pink rounded-pill w-100 mt-4"
                (click)="getPlStatement()"
              >
                Market
              </button></td><td><button
                class="btn btn-pink rounded-pill w-100 mt-4"
                (click)="getPlStatement()"
              >
                User
              </button></td>-->
              <td class="text-center" [ngClass]="pl.type ? 'text-success' : 'text-danger'">
                {{ pl.profitLiability | indianCurrency }}
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <!-- <td></td> -->
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td class="text-success text-center" [ngClass]="totalAmount > 0 ? 'text-success' : 'text-danger'">
                {{totalAmount | indianCurrency}}</td>
              <td></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <!-- <div class="col-md-12"><a class="btn rounded-pill ">First</a><a class="btn rounded-pill ">Previous</a><a class="btn bg-pink rounded-pill  ps-4 pe-4">1</a><a class="btn rounded-pill ">Next</a><a class="btn rounded-pill ">Last</a></div> -->
    <!-- <div *ngIf="plStatement.length > 0 && !this.isLoading">
      <button
        class="btn rounded-pill  pointer"
        [disabled]="currentPage === 1"
        (click)="prev()"
      >
        Prev
      </button>
      <span class="btn btn-pink rounded-pill ps-4 pe-4"
        >{{ currentPage }} / {{ totalPages }}
      </span>
      <button
        class="btn rounded-pill  pointer"
        [disabled]="currentPage === totalPages"
        (click)="next()"
      >
        Next
      </button>
    </div> -->
  </div>
</main>