<main id="main" class="main m-0">
  <section class="section gamedetails">
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-pink">Net Exposure Racing</h3>
      </div>
      <div class="col-md-12 mb-3 mt-3">
        <span class="me-2"
          ><input type="radio" class="radioselected" name="1" id="1" /> My
          PT</span
        >
        <span
          ><input type="radio" class="radioselected" name="1" id="1" /> Total
          Book</span
        >
      </div>
    </div>
    <div class="col-md-12 mt-3">
      <div class="border text-center p-5">
        <h4>No data found</h4>
      </div>
    </div>
  </section>
</main>
