<main id="main" class="main m-0">
  <section class="section dashboard">
    
    <div class="row align-items-center">
      <h4 class="text-pink">
        <img src="../../../../../assets/images/pnl.png" alt="" /> Account
        List
      </h4>

      <div class="col-md-6 col-lg-6 col-xl-6 mt-2">
        <div class="input-group flex-nowrap">
          <span class="input-group-text bg-dark  border-pink radius-left-tb" id="addon-wrapping">
            <i class="fa fa-search"></i>
          </span>
          <input type="text" class="form-control border-start-0 border-pink radius-right-tb"
            placeholder="Search" aria-label="Search" aria-describedby="addon-wrapping"
            [(ngModel)]="searchTerm" (ngModelChange)="search()" />
        </div>
      </div>

      <div class="col-lg-1 col-md-6 col-6 mt-2">
        <!-- <div class="col-12">Show Entries</div> -->
        <select
          (change)="updateLimit($event)"
          class="form-select-sm border-colour bg-dark rounded-3"
        >
          <!-- <option>25</option>
          <option>50</option> -->
          <option>100</option>
          <option>150</option>
          <option>200</option>
          <option>250</option>
        </select>
      </div>

      <div class="col-md-12 col-lg-12 col-xl-2 text-end">
        ( Total : {{ userList.length }} )
      </div>

      <div class="col-lg-1 col-md-3 col-3 text-end">
        <button *ngIf="userList.length > 0" type="button" class="btn-sm btn-pink rounded-pill ms-2 "
          (click)="exportExcel()">
          Export
        </button>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-12 overflow-auto">
        <div *ngIf="userList.length == 0" class="border text-center p-5">
          <h4 *ngIf="userList.length == 0 && !isLoading">No data found</h4>
          <h4 *ngIf="isLoading">Loading...</h4>
        </div>
        <div class="table-responsive tableRes tableFixHead" *ngIf="userList.length > 0 && !isLoading">
          <table
            #myTable
            class="table tableall"

          >
            <thead>
              <tr>
                <th scope="col" class="first">
                  <i class="fa-sharp fa-regular fa-address-card"></i>
                </th>
                <th
                  scope="col"
                  class="pointer"
                  (click)="toggleSort('username')"
                >
                  USERNAME
                </th>
               
                <th
                  scope="col"
                  class="text-center pointer"
                  (click)="toggleSort('creditLimit')"
                >
                  CR
                </th>

                <th
                  scope="col"
                  class="text-center pointer"
                  (click)="toggleSort('creditLimit')"
                >
                  AVAILABLE CREDIT
                </th>
                
                <th
                  scope="col"
                  class="text-center pointer"
                  (click)="toggleSort('give')"
                >
                  CLIENT(P/L)
                </th>

                <th
                  scope="col"
                  class="text-center pointer"
                  (click)="toggleSort('give')"
                >
                  EXPOSURE
                </th>

                <th
                  scope="col"
                  class="text-center pointer"
                  (click)="toggleSort('give')"
                >
                  ACCOUNT TYPE
                </th>
                
                <th scope="col" class="text-center">ACTION</th>
                <th scope="col" class="text-center">Client Casino P/L</th>
                <th scope="col" class="last text-center">ACTION</th>
              </tr>
            </thead>
            <tbody>
              <h1
                class="text-center"
                *ngIf="userList.length == 0 && !this.isLoading"
              >
                No users Found
              </h1>
              <tr
                *ngFor="
                  let user of userList | sort : sortColumn : sortAscending;
                  let i = index
                "
              >
                <!-- <td>
                  <input
                    type="checkbox"
                    class="pointer"
                    (change)="checkUserForAdjustment(user.userId)"
                    *ngIf="user.take > 0 || user.give > 0"
                    [(ngModel)]="user.state"
                  />
                </td> -->
                <td>
                  <span *ngIf="currentPage == 1">{{ i + 1 }}</span>
                  <span *ngIf="currentPage > 1">{{
                    i + 1 + (currentPage - 1) * limit
                  }}</span>
                </td>
                <td>
                  <span
                    >{{ user.username }}
                  </span>
                </td>
                
                <td class="text-center">
                  <a (click)="openCredit(user)" class="cursor-pointer">{{ user.creditLimit | indianCurrency }}</a> 
                </td>
                
                <td class="text-center">
                  {{ user.availableCredit | indianCurrency }}
                </td>

                <td class="text-center">
                  <ng-container *ngIf="user.take > 0 || user.give > 0">
                    <a class="pointer text-danger text-decoration-none" *ngIf="user.take > 0">
                      {{ user.take | indianCurrency }}
                    </a>
                    <a class="pointer text-success text-decoration-none" *ngIf="user.give > 0">
                      {{ user.give | indianCurrency }}
                    </a>
                  </ng-container>
                </td>

                <td class="text-center">
                  {{ user.exposure ? (user.exposure | indianCurrency) : '--' }}
                </td>

                <td class="text-center">
                 {{user.userRoleName}}
                </td>


                <td class="text-center">
                  <a class="btn btn-success" (click)="openDeposit(user)" *ngIf="user.take > 0">
                    <!-- <i class="fa-sharp fa-solid fa-eye icon-pink pointer"></i> -->
                    D
                  </a>

                  <a class="btn btn-danger"
                  *ngIf="user.give > 0"
                  (click)="openWithdraw(user)"
                  >
                  W
                  </a>
                </td>

                <td class="text-center">
                  <ng-container>
                    <a class="pointer text-danger text-decoration-none" *ngIf="user.casinoWinnings < 0">
                      {{ user.casinoWinnings | indianCurrency }}
                    </a>
                    <a class="pointer text-success text-decoration-none" *ngIf="user.casinoWinnings > 0">
                      {{ user.casinoWinnings | indianCurrency }}
                    </a>
                  </ng-container>
                </td>

                <td class="text-center">
                  <a class="btn btn-success" (click)="openCasinoDeposit(user)" *ngIf="user.casinoWinnings < 0">
                    D
                  </a>

                  <a class="btn btn-danger"
                  *ngIf="user.casinoWinnings > 0"
                  (click)="openCasinoWithdraw(user)"
                  >
                  W
                  </a>
                </td>

              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex" *ngIf="userList.length > 0 && !this.isLoading">
          <button
            class="btn rounded-pill "
            [disabled]="currentPage === 1"
            (click)="prev()"
          >
            Prev
          </button>
          <span class="btn btn-pink rounded-pill ps-4 pe-4"
            >{{ currentPage }} / {{ totalPages }}
          </span>
          <button
            class="btn rounded-pill "
            [disabled]="currentPage === totalPages"
            (click)="next()"
          >
            Next
          </button>
        </div>
        <!--
        <button [disabled]="currentPage === 1" (click)="prev()">Prev</button><span>{{ currentPage }} / {{ totalPages }}</span><button [disabled]="currentPage === totalPages" (click)="next()">
          Next
        </button> -->
        <!-- <div *ngIf="userList.length > 0 && !this.isLoading"><a class="btn rounded-pill text-white">First</a><a class="btn rounded-pill text-white">Previous</a><a class="btn btn-pink rounded-pill ps-4 pe-4">1</a><a class="btn rounded-pill text-white">Next</a><a class="btn rounded-pill text-white">Last</a></div> -->
      </div>
    </div>
  </section>
</main>


<!-- Modal start Deposit-->
<div
  *ngIf="modalNumber == 1"
  class="modal"
  [ngStyle]="{ display: display }"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-pink">
        <h5 class="modal-title cassino" id="staticBackdropLabel">
          DEPOSIT
        </h5>
        <button
          type="button"
          (click)="closeModal()"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <section class="section m-auto mt-4">
            <form [formGroup]="winningDepositForm">
              <div class="row mb-4 align-items-center">
                <div class="col-md-4">{{admin?.username}}</div>
                <div class="col-md-4">
                    <input
                      class="form-control bg-transparent"
                      formControlName="upline_credit"
                      placeholder=""
                      readonly
                      id="upline_credit"
                      name="upline_credit"
                      autocomplete="off"
                    /> 
                </div>
                <div class="col-md-4">
                  <input
                    class="form-control bg-transparent"
                    formControlName="refupline_credit"
                    placeholder=""
                    id="refupline_credit"
                    name="refupline_credit"
                    autocomplete="off"
                    readonly
                  /> 
              </div>
              </div>

              <div class="row mb-4 align-items-center">
                <div class="col-md-4">{{userData?.username}}</div>
                  <div class="col-md-4">
                      <input
                        class="form-control bg-transparent"
                        formControlName="downline_credit"
                        placeholder=""
                        id="downline_credit"
                        name="downline_credit"
                        autocomplete="off"
                        readonly
                      /> 
                  </div>
                  <div class="col-md-4">
                    <input
                      class="form-control bg-transparent"
                      formControlName="refdownline_credit"
                      placeholder=""
                      id="refdownline_credit"
                      name="refdownline_credit"
                      autocomplete="off"
                      readonly
                    /> 
                </div>
                </div>

                <div class="row mb-4 align-items-center">
                  <div class="col-md-4">Profit/Losss</div>
                  <div class="col-md-4">
                      <input
                        class="form-control bg-transparent"
                        formControlName="profitLoss"
                        placeholder="Profit/Losss"
                        id="profitLoss"
                        name="profitLoss"
                        autocomplete="off"
                        readonly
                      /> 
                  </div>
                  <div class="col-md-4">
                    <input
                      class="form-control bg-transparent"
                      formControlName="profitLoss_ref"
                      placeholder="Profit/Losss"
                      id="profitLoss_ref"
                      name="profitLoss_ref"
                      autocomplete="off"
                      readonly
                    /> 
                </div>
                </div>

                <div class="row mb-4 align-items-center">
                  <div class="col-md-4">Amount</div>
                  <div class="col-md-8">
                      <input
                        min="0"
                        class="form-control bg-transparent"
                        formControlName="amount"
                        placeholder="Amount"
                        id="amount"
                        name="amount"
                        type="number"
                        autocomplete="off"
                        (input)="onAmountDepositChange($event)"
                      /> 
                      <span class="small text-danger" *ngIf="winningDepositForm?.get('profitLoss_ref')?.value !== null && winningDepositForm?.get('profitLoss_ref')?.value !== undefined && winningDepositForm?.get('profitLoss_ref')?.value > 0">
                        Enter valid amount
                      </span>
                  </div>
                </div>

                <div class="row mb-4 align-items-center">
                  <div class="col-md-4">Remark</div>
                  <div class="col-md-8">

                    <input
                    class="form-control bg-transparent"
                    formControlName="remark"
                    placeholder="Remark"
                    id="remark"
                    name="remark"
                    autocomplete="off"
                  /> 
                  </div>
                </div>

              
              <div class="row mt-5">
                <div class="col-md-6 text-end">
                  <button
                    (click)="postWinningsData(true)"
                    [disabled]="winningDepositForm.invalid"
                    class="btn btn-pink rounded-pill w-80 mt-4"
                  >
                    Save
                  </button>
                </div>
                <div class="col-md-6">
                  <button
                    class="btn btn-pink rounded-pill w-80 mt-4"
                    (click)="closeModal()"
                  >
                    Close
                  </button>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal end -->


<!-- Modal start  Withdraw-->
<div
  *ngIf="modalNumber == 2"
  class="modal"
  [ngStyle]="{ display: display }"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-pink">
        <h5 class="modal-title cassino" id="staticBackdropLabel">
          WITHDRAW
        </h5>
        <button
          type="button"
          (click)="closeModal()"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <section class="section m-auto mt-4">
            <form [formGroup]="winningWithdrawalForm">
              <div class="row mb-4 align-items-center">
                <div class="col-md-4">{{admin?.username}}</div>
                <div class="col-md-4">
                    <input
                      class="form-control bg-transparent"
                      formControlName="upline_credit"
                      placeholder=""
                      readonly
                      id="upline_credit"
                      name="upline_credit"
                      autocomplete="off"
                    /> 
                </div>
                <div class="col-md-4">
                  <input
                    class="form-control bg-transparent"
                    formControlName="refupline_credit"
                    placeholder=""
                    id="refupline_credit"
                    name="refupline_credit"
                    autocomplete="off"
                    readonly
                  /> 
              </div>
              </div>

              <div class="row mb-4 align-items-center">
                <div class="col-md-4">{{userData?.username}}</div>
                  <div class="col-md-4">
                      <input
                        class="form-control bg-transparent"
                        formControlName="downline_credit"
                        placeholder=""
                        id="downline_credit"
                        name="downline_credit"
                        autocomplete="off"
                        readonly
                      /> 
                  </div>
                  <div class="col-md-4">
                    <input
                      class="form-control bg-transparent"
                      formControlName="refdownline_credit"
                      placeholder=""
                      id="refdownline_credit"
                      name="refdownline_credit"
                      autocomplete="off"
                      readonly
                    /> 
                </div>
                </div>

                <div class="row mb-4 align-items-center">
                  <div class="col-md-4">Profit/Losss</div>
                  <div class="col-md-4">
                      <input
                        class="form-control bg-transparent"
                        formControlName="profitLoss"
                        placeholder="Profit/Losss"
                        id="profitLoss"
                        name="profitLoss"
                        autocomplete="off"
                        readonly
                      /> 
                  </div>
                  <div class="col-md-4">
                    <input
                      class="form-control bg-transparent"
                      formControlName="profitLoss_ref"
                      placeholder="Profit/Losss"
                      id="profitLoss_ref"
                      name="profitLoss_ref"
                      autocomplete="off"
                      readonly
                    /> 
                </div>
                </div>

                <div class="row mb-4 align-items-center">
                  <div class="col-md-4">Amount</div>
                  <div class="col-md-8">
                      <input
                        class="form-control bg-transparent"
                        formControlName="amount"
                        (input)="onWinningWithdrawalChange($event)"
                        placeholder="Amount"
                        min="0"
                        id="amount"
                        name="amount"
                        type="number"
                        autocomplete="off"
                      /> 
                      <span class="small text-danger" *ngIf="winningWithdrawalForm?.get('profitLoss_ref')?.value !== null && winningWithdrawalForm?.get('profitLoss_ref')?.value !== undefined && winningWithdrawalForm?.get('profitLoss_ref')?.value < 0">
                        Enter valid amount
                      </span>
                  </div>
                </div>

                <div class="row mb-4 align-items-center">
                  <div class="col-md-4">Remark</div>
                  <div class="col-md-8">

                    <input
                    class="form-control bg-transparent"
                    formControlName="remark"
                    placeholder="Remark"
                    id="remark"
                    name="remark"
                    autocomplete="off"
                  /> 
                  </div>
                </div>

              
              <div class="row mt-5">
                <div class="col-md-6 text-end">
                  <button
                    (click)="postWithdrawData(false)"
                    [disabled]="winningWithdrawalForm.invalid"
                    class="btn btn-pink rounded-pill w-80 mt-4"
                  >
                    Save
                  </button>
                </div>
                <div class="col-md-6">
                  <button
                    class="btn btn-pink rounded-pill w-80 mt-4"
                    (click)="closeModal()"
                  >
                    Close
                  </button>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal end -->


<!-- Modal start  Credit activity-->
<div
  *ngIf="modalNumber == 3"
  class="modal"
  [ngStyle]="{ display: display }"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-pink">
        <h5 class="modal-title cassino" id="staticBackdropLabel">
          CREDIT ACTIVITY
        </h5>
        <button
          type="button"
          (click)="closeModal()"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <ul class="nav nav-pills memberslist" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button
              (click)="onCreditDepositOpen()"
                class="nav-link active"
                id="pills-activity-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-deposit"
                type="button"
                role="tab"
                aria-controls="pills-deposit"
                aria-selected="true"
              >
                Credit Deposit
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
              (click)="onCreditWithdrawalOpen()"
                class="nav-link"
                id="pills-withdraw-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-withdraw"
                type="button"
                role="tab"
                aria-controls="pills-withdraw"
                aria-selected="false"
              >
                Credit Withdraw
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
              (click)="onCreditHistoryOpen()"
                class="nav-link"
                id="pills-table-tab"
                data-bs-toggle="pill"
                data-bs-target="#pills-table"
                type="button"
                role="tab"
                aria-controls="pills-table"
                aria-selected="false"
              >
                Credit History
              </button>
            </li>
          </ul>
          
          <div class="tab-content" id="pills-tabContent">
            <!-- Deposit Form -->
            <div class="tab-pane fade show active" id="pills-deposit" role="tabpanel" aria-labelledby="pills-deposit-tab">
              
                <section class="section m-auto mt-4">
                  <form [formGroup]="creditDepositeForm">
                    <div class="row mb-4 align-items-center">
                      <div class="col-md-4">{{admin?.username}}</div>
                      <div class="col-md-4">
                          <input
                            class="form-control bg-transparent"
                            formControlName="upline_credit"
                            placeholder=""
                            readonly
                            id="upline_credit"
                            name="upline_credit"
                            autocomplete="off"
                          /> 
                      </div>
                      <div class="col-md-4">
                        <input
                          class="form-control bg-transparent"
                          formControlName="refupline_credit"
                          placeholder=""
                          id="refupline_credit"
                          name="refupline_credit"
                          autocomplete="off"
                          readonly
                        /> 
                        
                    </div>
                    </div>
    
                    <div class="row mb-4 align-items-center">
                      <div class="col-md-4">{{userData?.username}}</div>
                        <div class="col-md-4">
                            <input
                              class="form-control bg-transparent"
                              formControlName="downline_credit"
                              placeholder=""
                              id="downline_credit"
                              name="downline_credit"
                              autocomplete="off"
                              readonly
                            /> 
                        </div>
                        <div class="col-md-4">
                          <input
                            class="form-control bg-transparent"
                            formControlName="refdownline_credit"
                            placeholder=""
                            id="refdownline_credit"
                            name="refdownline_credit"
                            autocomplete="off"
                            readonly
                          /> 
                      </div>
                      </div>
    
                      <div class="row mb-4 align-items-center">
                        <div class="col-md-4">Profit/Losss</div>
                        <div class="col-md-4">
                            <input
                              class="form-control bg-transparent"
                              formControlName="profitLoss"
                              placeholder="Profit/Losss"
                              id="profitLoss"
                              name="profitLoss"
                              autocomplete="off"
                              readonly
                            /> 
                        </div>
                        <div class="col-md-4">
                          <input
                            class="form-control bg-transparent"
                            formControlName="profitLoss"
                            placeholder="Profit/Losss"
                            id="profitLoss"
                            name="profitLoss"
                            autocomplete="off"
                            readonly
                          /> 
                      </div>
                      </div>
    
                      <div class="row mb-4 align-items-center">
                        <div class="col-md-4">Amount</div>
                        <div class="col-md-8">
                            <input
                              class="form-control bg-transparent"
                              formControlName="amount"
                              placeholder="Amount"
                              id="amount"
                              name="amount"
                              type="number"
                              autocomplete="off"
                              (input)="onAmountChange($event)"
                            /> 

                            <span class="text-danger small" *ngIf="creditDepositeForm?.get('refupline_credit')?.value !== null && creditDepositeForm?.get('refupline_credit')?.value !== undefined && creditDepositeForm?.get('refupline_credit')?.value < 0">
                              Enter valid amount
                            </span>
                        </div>
                      </div>
    
                      <div class="row mb-4 align-items-center">
                        <div class="col-md-4">Remark</div>
                        <div class="col-md-8">
    
                          <input
                          class="form-control bg-transparent"
                          formControlName="remark"
                          placeholder="Remark"
                          id="remark"
                          name="remark"
                          autocomplete="off"
                        /> 
                        </div>
                      </div>
    
                    
                    <div class="row mt-5">
                      <div class="col-md-6 text-end">
                        <button
                          (click)="postData(true)"
                          [disabled]="creditDepositeForm.invalid"
                          class="btn btn-pink rounded-pill w-80 mt-4"
                        >
                          Save
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button
                          class="btn btn-pink rounded-pill w-80 mt-4"
                          (click)="closeModal()"
                        >
                          Close
                        </button>
                      </div>
                    </div>
                  </form>
                </section>
              
            </div>
            
            <!-- Withdraw Form -->
            <div class="tab-pane fade" id="pills-withdraw" role="tabpanel" aria-labelledby="pills-withdraw-tab">
              <form>
                <section class="section m-auto mt-4">
                  <form [formGroup]="creditWithdrawForm">
                    <div class="row mb-4 align-items-center">
                      <div class="col-md-4">{{admin?.username}}</div>
                      <div class="col-md-4">
                          <input
                            class="form-control bg-transparent"
                            formControlName="upline_credit"
                            placeholder=""
                            readonly
                            id="upline_credit"
                            name="upline_credit"
                            autocomplete="off"
                          /> 
                      </div>
                      <div class="col-md-4">
                        <input
                          class="form-control bg-transparent"
                          formControlName="refupline_credit"
                          placeholder=""
                          id="refupline_credit"
                          name="refupline_credit"
                          autocomplete="off"
                          readonly
                        /> 
                    </div>
                    </div>
    
                    <div class="row mb-4 align-items-center">
                      <div class="col-md-4">{{userData?.username}}</div>
                        <div class="col-md-4">
                            <input
                              class="form-control bg-transparent"
                              formControlName="downline_credit"
                              placeholder=""
                              id="downline_credit"
                              name="downline_credit"
                              autocomplete="off"
                              readonly
                            /> 
                        </div>
                        <div class="col-md-4">
                          <input
                            class="form-control bg-transparent"
                            formControlName="refdownline_credit"
                            placeholder=""
                            id="refdownline_credit"
                            name="refdownline_credit"
                            autocomplete="off"
                            readonly
                          /> 
                          
                      </div>
                      </div>
    
                      <div class="row mb-4 align-items-center">
                        <div class="col-md-4">Profit/Losss</div>
                        <div class="col-md-4">
                            <input
                              class="form-control bg-transparent"
                              formControlName="profitLoss"
                              placeholder="Profit/Losss"
                              id="profitLoss"
                              name="profitLoss"
                              autocomplete="off"
                              readonly
                            /> 
                        </div>
                        <div class="col-md-4">
                          <input
                            class="form-control bg-transparent"
                            formControlName="profitLoss"
                            placeholder="Profit/Losss"
                            id="profitLoss"
                            name="profitLoss"
                            autocomplete="off"
                            readonly
                          /> 
                      </div>
                      </div>
    
                      <div class="row mb-4 align-items-center">
                        <div class="col-md-4">Amount</div>
                        <div class="col-md-8">
                            <input
                              class="form-control bg-transparent"
                              formControlName="amount"
                              placeholder="Amount"
                              min="0"
                              id="amount"
                              name="amount"
                              type="number"
                              autocomplete="off"
                              (input)="onAmountWithdrawalChange($event)"
                            /> 
                            <span class="text-danger small" *ngIf="creditWithdrawForm?.get('refdownline_credit')?.value !== null && creditWithdrawForm?.get('refdownline_credit')?.value !== undefined && creditWithdrawForm?.get('refdownline_credit')?.value < 0">
                              Enter valid amount
                            </span>
                        </div>
                        
                      </div>
    
                      <div class="row mb-4 align-items-center">
                        <div class="col-md-4">Remark</div>
                        <div class="col-md-8">
    
                          <input
                          class="form-control bg-transparent"
                          formControlName="remark"
                          placeholder="Remark"
                          id="remark"
                          name="remark"
                          autocomplete="off"
                        /> 
                        </div>
                      </div>
    
                    
                    <div class="row mt-5">
                      <div class="col-md-6 text-end">
                        <button
                        (click)="postWithdrawalData(false)"
                          [disabled]="creditWithdrawForm.invalid"
                          class="btn btn-pink rounded-pill w-80 mt-4"
                        >
                          Save
                        </button>
                      </div>
                      <div class="col-md-6">
                        <button
                          class="btn btn-pink rounded-pill w-80 mt-4"
                          (click)="closeModal()"
                        >
                          Close
                        </button>
                      </div>
                    </div>
                  </form>
                </section>
              </form>
            </div>
            
            <!-- Data Table -->
            <div class="tab-pane fade" id="pills-table" role="tabpanel" aria-labelledby="pills-table-tab">
              <!-- Display your table here -->

              <div class="row mt-3">
                <div class="col-md-12 overflow-auto">
                  
                  <div class="table-responsive tableRes tableFixHead">
                    <table
                      #myTable
                      class="table tableall"
                      
                    >
                      <thead>
                        <tr>
                          <th scope="col" class="first">
                            <i class="fa-sharp fa-regular fa-address-card"></i>
                          </th>
                          <th
                            scope="col"
                            class="pointer"
                            (click)="toggleSort('username')"
                          >
                            Creation Date
                          </th>
                         
                          <th
                            scope="col"
                            class="text-center pointer"
                            (click)="toggleSort('creditLimit')"
                          >
                            Amount
                          </th>

                          <th
                            scope="col"
                            class="text-center pointer"
                            (click)="toggleSort('creditLimit')"
                          >
                            Remark
                          </th>
        
                        </tr>
                      </thead>
                      <tbody>
                        <!-- <h4
                          class="text-center"
                          *ngIf="clTransfers.length == 0 && !this.isLoading"
                        >
                          No Record Found
                        </h4> -->
                        <tr
                          *ngFor="
                            let stmt of clTransfers | sort : sortColumn : sortAscending;
                            let i = index
                          "
                        >
                        <td>
                          {{i+1}}
                        </td>
                        <td>
                          {{stmt.createdDate | date : "medium"}}
                        </td>
                        <td class="text-center">
                          <strong class="text-success" *ngIf="!stmt.isGiven">{{stmt.amount}}</strong>
                          <strong class="text-danger" *ngIf="stmt.isGiven">{{stmt.amount}}</strong>
                        </td>
                        <td class="text-center">
                          {{stmt.remark}}
                        </td>
                        </tr>
                      </tbody>
                    </table>


                    <div *ngIf="clTransfers.length == 0" class="border text-center p-5">
                      <h4 *ngIf="clTransfers.length == 0 && !isLoading">No data found</h4>
                      <!-- <h4 *ngIf="isLoading">Loading...</h4> -->
                    </div>
                    <!-- <h4
                            class="text-center"
                            *ngIf="clTransfers.length == 0 && !this.isLoading"
                          >
                            No Record Found
                          </h4> -->
                  </div>
                </div>
              </div>

            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal end -->



<!-- CASINO DEPOSIT -->

<div
  *ngIf="modalNumber == 4"
  class="modal"
  [ngStyle]="{ display: display }"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-pink">
        <h5 class="modal-title cassino" id="staticBackdropLabel">
          CASINO DEPOSIT
        </h5>
        <button
          type="button"
          (click)="closeModal()"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <section class="section m-auto mt-4">
            <form [formGroup]="winningCasinoDepositForm">
              <div class="row mb-4 align-items-center">
                <div class="col-md-4">{{admin?.username}}</div>
                <div class="col-md-4">
                    <input
                      class="form-control bg-transparent"
                      formControlName="upline_credit"
                      placeholder=""
                      readonly
                      id="upline_credit"
                      name="upline_credit"
                      autocomplete="off"
                    /> 
                </div>
                <div class="col-md-4">
                  <input
                    class="form-control bg-transparent"
                    formControlName="refupline_credit"
                    placeholder=""
                    id="refupline_credit"
                    name="refupline_credit"
                    autocomplete="off"
                    readonly
                  /> 
              </div>
              </div>

              <div class="row mb-4 align-items-center">
                <div class="col-md-4">{{userData?.username}}</div>
                  <div class="col-md-4">
                      <input
                        class="form-control bg-transparent"
                        formControlName="downline_credit"
                        placeholder=""
                        id="downline_credit"
                        name="downline_credit"
                        autocomplete="off"
                        readonly
                      /> 
                  </div>
                  <div class="col-md-4">
                    <input
                      class="form-control bg-transparent"
                      formControlName="refdownline_credit"
                      placeholder=""
                      id="refdownline_credit"
                      name="refdownline_credit"
                      autocomplete="off"
                      readonly
                    /> 
                </div>
                </div>

                <div class="row mb-4 align-items-center">
                  <div class="col-md-4">Profit/Losss</div>
                  <div class="col-md-4">
                      <input
                        class="form-control bg-transparent"
                        formControlName="profitLoss"
                        placeholder="Profit/Losss"
                        id="profitLoss"
                        name="profitLoss"
                        autocomplete="off"
                        readonly
                      /> 
                  </div>
                  <div class="col-md-4">
                    <input
                      class="form-control bg-transparent"
                      formControlName="profitLoss_ref"
                      placeholder="Profit/Losss"
                      id="profitLoss_ref"
                      name="profitLoss_ref"
                      autocomplete="off"
                      readonly
                    /> 
                </div>
                </div>

                <div class="row mb-4 align-items-center">
                  <div class="col-md-4">Amount</div>
                  <div class="col-md-8">
                      <input
                        min="0"
                        class="form-control bg-transparent"
                        formControlName="amount"
                        placeholder="Amount"
                        id="amount"
                        name="amount"
                        type="number"
                        autocomplete="off"
                        (input)="onCasinoAmountDepositChange($event)"
                      /> 
                      <span class="small text-danger" *ngIf="winningCasinoDepositForm?.get('profitLoss_ref')?.value !== null && winningCasinoDepositForm?.get('profitLoss_ref')?.value !== undefined && winningCasinoDepositForm?.get('profitLoss_ref')?.value > 0">
                        Enter valid amount
                      </span>
                  </div>
                  
                </div>

                <div class="row mb-4 align-items-center">
                  <div class="col-md-4">Remark</div>
                  <div class="col-md-8">

                    <input
                    class="form-control bg-transparent"
                    formControlName="remark"
                    placeholder="Remark"
                    id="remark"
                    name="remark"
                    autocomplete="off"
                  /> 
                  </div>
                </div>

              
              <div class="row mt-5">
                <div class="col-md-6 text-end">
                  <button
                    (click)="postCasinoDepositeData(true)"
                    [disabled]="winningCasinoDepositForm.invalid"
                    class="btn btn-pink rounded-pill w-80 mt-4"
                  >
                    Save
                  </button>
                </div>
                <div class="col-md-6">
                  <button
                    class="btn btn-pink rounded-pill w-80 mt-4"
                    (click)="closeModal()"
                  >
                    Close
                  </button>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- CASINO WITHDRAW -->

<div
  *ngIf="modalNumber == 5"
  class="modal"
  [ngStyle]="{ display: display }"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-pink">
        <h5 class="modal-title cassino" id="staticBackdropLabel">
          CASINO WITHDRAW
        </h5>
        <button
          type="button"
          (click)="closeModal()"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <section class="section m-auto mt-4">
            <form [formGroup]="winningCasinoWithdrawalForm">
              <div class="row mb-4 align-items-center">
                <div class="col-md-4">{{admin?.username}}</div>
                <div class="col-md-4">
                    <input
                      class="form-control bg-transparent"
                      formControlName="upline_credit"
                      placeholder=""
                      readonly
                      id="upline_credit"
                      name="upline_credit"
                      autocomplete="off"
                    /> 
                </div>
                <div class="col-md-4">
                  <input
                    class="form-control bg-transparent"
                    formControlName="refupline_credit"
                    placeholder=""
                    id="refupline_credit"
                    name="refupline_credit"
                    autocomplete="off"
                    readonly
                  /> 
              </div>
              </div>

              <div class="row mb-4 align-items-center">
                <div class="col-md-4">{{userData?.username}}</div>
                  <div class="col-md-4">
                      <input
                        class="form-control bg-transparent"
                        formControlName="downline_credit"
                        placeholder=""
                        id="downline_credit"
                        name="downline_credit"
                        autocomplete="off"
                        readonly
                      /> 
                  </div>
                  <div class="col-md-4">
                    <input
                      class="form-control bg-transparent"
                      formControlName="refdownline_credit"
                      placeholder=""
                      id="refdownline_credit"
                      name="refdownline_credit"
                      autocomplete="off"
                      readonly
                    /> 
                </div>
                </div>

                <div class="row mb-4 align-items-center">
                  <div class="col-md-4">Profit/Losss</div>
                  <div class="col-md-4">
                      <input
                        class="form-control bg-transparent"
                        formControlName="profitLoss"
                        placeholder="Profit/Losss"
                        id="profitLoss"
                        name="profitLoss"
                        autocomplete="off"
                        readonly
                      /> 
                  </div>
                  <div class="col-md-4">
                    <input
                      class="form-control bg-transparent"
                      formControlName="profitLoss_ref"
                      placeholder="Profit/Losss"
                      id="profitLoss_ref"
                      name="profitLoss_ref"
                      autocomplete="off"
                      readonly
                    /> 
                </div>
                </div>

                <div class="row mb-4 align-items-center">
                  <div class="col-md-4">Amount</div>
                  <div class="col-md-8">
                      <input
                        min="0"
                        class="form-control bg-transparent"
                        formControlName="amount"
                        placeholder="Amount"
                        id="amount"
                        name="amount"
                        type="number"
                        autocomplete="off"
                        (input)="onCasinoAmountWithdrawChange($event)"
                      /> 
                      <span class="text-danger small" *ngIf="winningCasinoWithdrawalForm?.get('profitLoss_ref')?.value !== null && winningCasinoWithdrawalForm?.get('profitLoss_ref')?.value !== undefined && winningCasinoWithdrawalForm?.get('profitLoss_ref')?.value < 0">
                        Enter valid amount
                      </span>
                  </div>
                </div>

                <div class="row mb-4 align-items-center">
                  <div class="col-md-4">Remark</div>
                  <div class="col-md-8">

                    <input
                    class="form-control bg-transparent"
                    formControlName="remark"
                    placeholder="Remark"
                    id="remark"
                    name="remark"
                    autocomplete="off"
                  /> 
                  </div>
                </div>

              
              <div class="row mt-5">
                <div class="col-md-6 text-end">
                  <button
                    (click)="postCasinoWithdrawData(false)"
                    [disabled]="winningCasinoWithdrawalForm.invalid"
                    class="btn btn-pink rounded-pill w-80 mt-4"
                  >
                    Save
                  </button>
                </div>
                <div class="col-md-6">
                  <button
                    class="btn btn-pink rounded-pill w-80 mt-4"
                    (click)="closeModal()"
                  >
                    Close
                  </button>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="modal-backdrop fade" *ngIf="showModal"></div> -->
