@media (min-width: 426px) {
  .mobileHide {
    display: block;
  }
  .mobileShow {
    display: none;
  }
}

@media (max-width: 767px) {
  .nav-tabs {
    background-color: var(--theme1-bg);
    border-radius: 0;
    border-bottom: 0;
    box-shadow: 0px -5px 5px -5px rgba(0, 0, 0, 0.5);
  }
  .game-nav-bar.nav-tabs .nav-item {
    flex: 1 1 auto;
    text-align: center;
  }

  .nav-tabs .nav-item {
    margin-bottom: 0;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .nav_mob {
    background-color: var(--theme2-bg);
  }
  .nav.nav-tabs {
    margin-bottom: 0px !important;
  }
  .home-products-container .row.row5 .col-md-12 a {
    justify-content: space-between;
  }
}
