
    <nav id="sidebar" class="active bg-imp" [ngClass]="{'open': isOpen}">
      <ul class="list-unstyled components mb-5">
        <li class="active">
          <div class="accordion" id="accordionExample">
            <div class="bg-imp">
              <div class="card-header border-0" id="SalesheadingOne">
                <h2 class="mb-0 colorp borderRadiusBottom">
                  <a routerLink="" class="active">Dashboard</a>
                </h2>
              </div>
              <div class="card-header border-0" id="SalesheadingOne">
                <h2 class="mb-0 colorp borderRadiusBottom">
                  <a href="task_details.html">Task Scheduler Details</a>
                </h2>
              </div>

              <div class="card-header border-0" id="SalesheadingOne">
                <h2 class="mb-0 BgcolorOrange borderRadiusBottom">
                  <a routerLink=""> Application Check-up</a>
                </h2>
              </div>
              <div class="card-header border-0" id="SalesheadingOne">
                <h2 class="mb-0 BgcolorOrange borderRadiusBottom">
                  <a href="auto_clear_logs.html"> Auto Clear Logs </a>
                </h2>
              </div>
              <div class="card-header border-0" id="SalesheadingOne">
                <h2 class="mb-0 BgcolorOrange borderRadiusBottom">
                  <a href="reports.html"> Reports </a>
                </h2>
              </div>
              <div class="card-header border-0" id="SalesheadingOne">
                <h2 class="mb-0 BgcolorOrange borderRadiusBottom">
                  <a href="setting.html">Setting</a>
                </h2>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </nav>
