<configuration>
    <appSettings>
        <add key="virtualDirPath" value="/myapp" />
    </appSettings>
    <system.web>
        <customErrors mode="Off" />
    </system.web>
    <system.webServer>
        <httpErrors existingResponse="PassThrough" />
        
        <iisnode
            nodeProcessCommandLine="C:\Program Files\nodejs\node.exe"
            watchedFiles="web.config;*.js;api///*.js" />
        <handlers>
            <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
        </handlers>
        <rewrite>
            <rules>
                <!-- Rule to allow direct access to the uploads folder -->
                <rule name="uploads" stopProcessing="true">
                    <match url="^uploads/(.*)$" />
                    <action type="None" />
                </rule>
                
                <!-- Rule for handling Node.js application requests -->
                <rule name="api">
                    <match url="/*" />
                    <action type="Rewrite" url="server.js" />
                </rule>
            </rules>
        </rewrite>
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="node_modules" />
                </hiddenSegments>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
