<div id="content" class="p-3">
  <div class="row">
    <div class="row text-center">
     
      <div class="col-md-3 col-6 my-3">
        <div class="card mycard">
          <i class="fa fa-user-circle fa-5x text-secondary mt-3"></i>
          <div class="card-body">
            <a routerLink="/settings/profile"
            
              class="btn btn-info1 btn-sm btn-block"
              >Profile</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6 my-3">
        <div class="card mycard">
          <i class="fa fa-info-circle fa-5x text-secondary mt-3"></i>
          <div class="card-body">
            <a routerLink="/settings/company-information"
           
              class="btn btn-info1 btn-sm btn-block"
              >Company Information</a
            >
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6 my-3">
        <div class="card mycard">
          <i class="fa fa-user-secret fa-5x text-secondary mt-3"></i>
          <div class="card-body">
            <a routerLink="/settings/application-masters"
            
              class="btn btn-info1 btn-sm btn-block"
              >App Masters</a
            >
          </div>
        </div>
      </div>
      
        <div class="col-md-3 col-6 my-3">
          <div class="card mycard">
            <i class="fa fa-users fa-5x text-secondary mt-3"></i>
            <div class="card-body">
              <a routerLink="/settings/user-management"
               
                class="btn btn-info1 btn-sm btn-block"
                >User Management</a
              >
            </div>
          </div>
        </div>
        <div class="col-md-3 col-6 my-3">
          <div class="card mycard">
            <i class="fa fa-map-signs fa-5x text-secondary mt-3"></i>
            <div class="card-body">
              <a routerLink="/settings/map-server"
                
                class="btn btn-info1 btn-sm btn-block"
                >Map Server</a
              >
            </div>
          </div>
        </div>

      <div class="col-md-3 col-6 my-3">
        <div class="card mycard">
          <i class="fa fa-bell-o fa-5x text-secondary mt-3"></i>
          <div class="card-body">
            <a routerLink="/settings/alarm-triggers"
              class="btn btn-info1 btn-sm btn-block"
              >Alarms and Triggers</a
            >
          </div>
        </div>
      
    </div>
    <div class="col-md-3 col-6 my-3">
      <div class="card mycard">
        <i class="fa fa-line-chart fa-5x text-secondary mt-3"></i>
        <div class="card-body">
          <a routerLink="/settings/task-scheduler"class="btn btn-info1 btn-sm btn-block"
            >Task Scheduler</a
          >
        </div>
    </div>
  </div>

</div>
