<main id="main" class="main m-0">
  <section class="section gamedetails">
    <div class="row align-items-end" [formGroup]="invalidBetForm">
      <!-- <div class="col-md-12"> -->
      <!--your code will come here start-->
      <h4 class="text-pink">Void Bet</h4>
      <hr />

      <div class="col-md-4">
        <label>Select Member</label>
        <select formControlName="memberName" id="ab" class="form-select bg-dgrey pointer">
          <option value="null">All</option>
          <option *ngFor="let member of allMembers" [value]="member.userId">
            {{ member.username }}
          </option>
        </select>
      </div>

      <div class="col-md-4">
        <label>From Date</label>
        <input type="date" name="" class="form-control" id="" formControlName="fromDate" />
      </div>

      <div class="col-md-4">
        <label>To Date</label>
        <input type="date" name="" class="form-control" id="" formControlName="toDate" />
      </div>

      <!-- <div class="col-md-12"> -->

      <div class="col-md-2 mt-4">
        <button type="button" class="btn btn-pink rounded-pill w-100" (click)="getLogs()">
          Get Log
        </button>
      </div>
      <div class="col-md-2 mt-4">
        <button type="button" class="btn btn-pink rounded-pill w-100" (click)="clearFilters()">
          Clear Filters
        </button>
      </div>
      <div class="col-md-2 mt-4">
        <button type="button" class="btn btn-pink rounded-pill w-100" (click)="exportExcel()">
          Export
        </button>
      </div>
      <!-- </div> -->
      <!-- </div> -->

      <!--your code will come here end-->
    </div>
    <div class="row pt-5">
      <div class="col-md-12">
        <div class="table-responsive tableRes tableFixHead">
          <table class="table table tableall" *ngIf="allBets.length > 0 && !this.isLoading">
            <thead class="">
              <tr>
                <th scope="col" class="first">#</th>
                <th scope="col" class="pointer" (click)="toggleSort('member')">
                  Member
                </th>
                <th scope="col" class="pointer" (click)="toggleSort('placedTime')">
                  Placed Date Time
                </th>
                <th scope="col" class="pointer" (click)="toggleSort('event')">
                  Events
                </th>
                <th scope="col" class="pointer" (click)="toggleSort('market')">
                  Market
                </th>
                <th scope="col" class="pointer" (click)="toggleSort('selection')">
                  Selection
                </th>
                <th scope="col" class="pointer" (click)="toggleSort('oddsPlaced')">
                  Odds Placed
                </th>
                <th scope="col" class="pointer" (click)="toggleSort('stake')">
                  Matched
                </th>
                <th scope="col" class="pointer" (click)="toggleSort('stake')">
                  Unmatched
                </th>
                <th scope="col" class="pointer" (click)="toggleSort('profitLiability')">
                  Profit/Liability
                </th>
                <th scope="col" class="pointer last" (click)="toggleSort('remarks')">
                  Remark
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="
                  let bets of allBets | sort : sortColumn : sortAscending;
                  let i = index
                ">
                <td>
                  <span *ngIf="currentPage == 1">{{ i + 1 }}</span>
                  <span *ngIf="currentPage > 1">{{
                    i + 1 + (currentPage - 1) * limit
                    }}</span>
                </td>
                <td>{{ bets.member }}</td>
                <td>{{ bets.placedTime | date : "medium" }}</td>
                <td>{{ bets.event }}</td>
                <td>
                  <div class="my-1">
                    <span *ngIf="bets.isBack == false" class="border r-2 bg-danger text-danger me-2 border-3 border-danger"></span>
                    <span *ngIf="bets.isBack == true"
                      class="border bg-primary text-primary border-primary me-2 border-3"></span>
                    {{ bets.market }}
                  </div>
                </td>
                <td>{{ bets.selection }}</td>
                <td>{{ bets.oddsPlaced }}</td>
                <td>
                  <ng-container *ngIf="bets.isMatched; else notMatched">
                    {{ bets.stake }}
                  </ng-container>
                  <ng-template #notMatched> -- </ng-template>
                </td>
                <td>
                  <ng-container *ngIf="!bets.isMatched; else notMatched">
                    {{ bets.stake }}
                  </ng-container>
                  <ng-template #notMatched> -- </ng-template>
                </td>
                <td>
                  <span [ngClass]="
                      bets.profitLiability > 0 ? 'text-success' : 'text-danger'
                    ">
                    {{ bets.profitLiability | indianCurrency }}
                  </span>
                </td>
                <td>{{ bets.remarks }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <div *ngIf="allBets.length > 0 && !this.isLoading" class="mt-2">
    <button class="btn bg-dgrey rounded-pill " [disabled]="currentPage === 1" (click)="prev()">
      Prev
    </button>
    <span class="btn btn-pink rounded-pill ps-4 pe-4">{{ currentPage }} / {{ totalPages }}
    </span>
    <button class="btn bg-dgrey rounded-pill " [disabled]="currentPage === totalPages" (click)="next()">
      Next
    </button>
  </div>
  <div class="col-md-12 mt-3" *ngIf="allBets.length == 0">
    <div class="border text-center p-5">
      <h4 *ngIf="allBets.length == 0 && !isLoading">No data found</h4>
      <h4 *ngIf="isLoading">Loading...</h4>
    </div>
  </div>
</main>