<main id="main" class="main m-0">
  <section class="section gamedetails">
    <div class="row" [formGroup]="filterForm">
      <div class="col-md-12">
        <h4 class="text-pink">
          <img src="../../../../../assets/images/pnl.png" alt="" />
          Games Settings
        </h4>
        <hr />
        <div class="row align-items-end">
          <div class="col-md-3">
            <label>Sport Name</label>
            <select formControlName="sportName" id="ab" class="form-select bg-dgrey pointer"
              (change)="_onSportSelect()">
              <option value="null">All</option>
              <option *ngFor="let game of sports" [value]="game.sportId">
                {{ game.sportName }}
              </option>
            </select>
          </div>
          <div class="col-md-3">
            <label>Tournament Name</label>
            <select formControlName="tournamentId" id="ab" class="form-select bg-dgrey pointer"
              (change)="_onTournamentSelect()">
              <option value="null">All</option>
              <option *ngFor="let game of tournamentList" [value]="game.tournamentId">
                {{ game.tournamentName }}
              </option>
            </select>
          </div>
          <div class="col-md-3">
            <label>Match Name</label>
            <select formControlName="matchName" id="ab" class="form-select bg-dgrey pointer"
              (change)="getMarketByMatchId()">
              <option value="null">All</option>
              <option *ngFor="let game of matchList" [value]="game.matchId">
                {{ game.matchName }}
              </option>
            </select>
          </div>
          <!-- <div class="col-md-3">
            <label>Market Type</label>
            <select
              formControlName="marketType"
              id="ab"
              #marketTypeId
              class="form-select bg-dgrey pointer"
              (change)="getMarketByMatchId(marketTypeId.value)"
            >
              <option value="0" disabled>--</option>
              <option value="1">Match Odds</option>
              <option value="12">Bookmaker</option>
              <option value="10">Fancy</option>
            </select>
          </div> -->
        </div>
      </div>
      <div class="col-md-12 mt-3 overflow-auto">
        <div *ngIf="marketList && marketList.length == 0" class="border text-center p-5">
          <h4 *ngIf="marketList.length == 0 && !isLoading">No data found</h4>
          <h4 *ngIf="isLoading">Loading...</h4>
        </div>
        <table class="table tableall marketSetting" *ngIf="marketList && marketList.length > 0">
          <thead class="">
            <tr>
              <th scope="col" class="cursor-pointer first">Market Name</th>
              <th scope="col" class="cursor-pointer">Market Status</th>
              <th scope="col" class="cursor-pointer">Runners</th>
              <th scope="col" class="cursor-pointer last">Runner Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let stmt of marketList; let i = index">
              <td>{{ stmt.marketName }}</td>
              <td>
                <button class="bg-pink btn " (click)="toggleMarketStatus(stmt)">
                  {{ stmt.isMarketSuspended === false ? "Active" : "Suspend" }}
                </button>
              </td>
              <td colspan="2">
                <div *ngFor="let runner of stmt.runnerStatus">
                  <div class="d-flex">
                    <div class="mr-2 col-sm-5">{{ runner.RunnerName }}</div>
                    <button class="bg-pink btn " (click)="toggleRunnerStatus(stmt, runner)">
                      {{ runner.isSuspended === 1 ? "Suspend" : "Active" }}
                    </button>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</main>