<main class="bg-color">
  <div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
            <div class="d-flex justify-content-center py-4">
              <img src="assets/img/product_logo.svg" alt="" width="100%" />
            </div>

            <div class="card mb-3">
              <div class="card-body">
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Forget password</h5>
                  <p class="text-center small">Enter your email here</p>
                </div>

                <form class="row g-3 needs-validation" [formGroup]="forgetPasswordForm" novalidate (ngSubmit)="submit()">
                  <div class="col-12">
                    <label for="yourEmail" class="form-label">Enter email</label>
                    <div class="input-group has-validation">
                      <span class="input-group-text" id="inputGroupPrepend">@</span>
                      <input
                        placeholder="Email"
                        formControlName="email"
                        type="text"
                        name="Enter email"
                        class="form-control"
                        id="yourEmail"
                      />
                    </div>
                    <div *ngIf="getcontrol('email')?.errors && getcontrol('email')?.touched">
                      <small class="text-danger" *ngIf="getcontrol('email')?.errors?.['required']">Email is required.</small>
                      <small class="text-danger" *ngIf="getcontrol('email')?.errors?.['email']">Please insert a valid email address.</small>
                      <small class="text-danger" *ngIf="getcontrol('email')?.errors?.['pattern']">Please insert a valid email pattern.</small>
                    </div>
                  </div>

                  <div class="col-12 pb-3 pt-3">
                    <button class="btn btn-info1 w-100" type="submit">Send Code By Mail</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
