<div class="row m-0">
    <!-- nav tab start here -->
    <div>
      <!-- <div class="card"> -->
        <div class="col-md-12 pb-2 pt-2 secondheader">
          <a 
            ><i class="fa fa-angle-left text-dark" (click)="goBack()"></i
            >&nbsp;&nbsp; UnSetteled Bet</a
          >
        </div>
        <hr class="text-color" />
        <!-- <div class="card-body"> -->
          <form action="" class="mb-4">
            <fieldset>
              <div class="form-check form-check-inline">
                <input class="form-check-input mt-0" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                <label class="form-check-label" for="inlineRadio1">Matched</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input mt-0" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                <label class="form-check-label" for="inlineRadio2">Un-Matched</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input mt-0" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" >
                <label class="form-check-label" for="inlineRadio3">Deleted</label>
              </div>
            </fieldset>
          </form>
          <div class="col-md-12 mt-3">
            <div class="table-responsive">
            <table class=" table  tableFixHead table-bordered table-stripedd">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Event Name</th>
                <th scope="col">Nation</th>
                <th scope="col">Event Type</th>
                <th scope="col">Market Name</th>
                <th scope="col">Side</th>
                <th scope="col">Rate</th>
                <th scope="col">Amount</th>
                <th scope="col">Place Date</th>
                <th scope="col">Match Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="10" class="text-center">No Record Found</td>
              </tr>
            </tbody>
          </table></div>
        </div>
      </div>
      </div>
    <!-- </div> -->
  <!-- </div> -->
