<main id="main" class="main m-0">
  <section class="section gamedetails">
    <div class="row">
      <div class="col-md-12">
        <!--your code will come here start-->
        <div class="col-md-12">
          <div class="row">
            <h5 class="editmemberUA">Member Status</h5>
          </div>
        </div>
        <hr />

        <div class="col-md-12 mt-4">
          <div class="row">
            <div class="col-md-3 imganalytics">
              <h3>0</h3>
              <p>Active (Today's count)</p>
            </div>
            <div class="col-md-3 imganalytics">
              <h3>3</h3>
              <p>Semi-Active (Last 7 day's)</p>
            </div>
            <div class="col-md-3 imganalytics">
              <h3>0</h3>
              <p>IN-Active(Morethan 7day's)</p>
            </div>
            <div class="col-md-3 imganalytics">
              <h3>0</h3>
              <p>Players who never bet</p>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="row">
            <div class="col-md-5 mt-4">
              <select name="" id="ab" class="form-select bg-dark">
                <option value="">All</option>
                <option value="">Monthly</option>
                <option value="">Weekly</option>
              </select>
            </div>
          </div>
        </div>
        <!--your code will come here end-->
      </div>
    </div>
  </section>
</main>
