<div class="row m-0">
  <div class="col-md-12 pb-2 pt-2 secondheader">
    <a 
      ><i class="fa fa-angle-left text-dark" (click)="goBack()"></i
      >&nbsp;&nbsp; Bet History</a
    >
  </div>
  <hr class="text-color" />
  <!--Artical Start-->

  <form [formGroup]="betHistoryForm">
    <div class="col-md-12 ps-md-5 pe-md-5">
      <div class="row mb-4">
        <div class="col-md-2 col-4 mb-2">
          <select
            formControlName="sportId"
            name="game"
            id="casinogame"
            class="w-100  btn btn-md bg-white text-dark border-dark form-select"
          >
            <option *ngFor="let sport of allSports" value="{{ sport.sportId }}">
              {{ sport.sportName }}
            </option>
          </select>
        </div>
        <div class="col-md-2 col-4 mb-2">
          <select
            formControlName="status"
            name="game"
            id="casinogame"
            class="w-100  btn btn-md bg-white text-dark border-dark form-select"
          >
            <option value="Matched">Matched</option>
            <option value="Deleted">Deleted</option>
          </select>
        </div>
        <div class="col-md-3 col-4 mb-2">
          <div class="wrapper"></div>
          <!-- <input type="date" class="form-control"  placeholder="Date">  -->
          <date-range-picker
            [instanceId]="'secondDateRange'"
            [options]="options"
            [controlName]="'secondDateRange'"
            #dateRangePicker
            (rangeSelected)="rangeSelected($event)"
          >
            <div class="form-group">
              <div class="input-group">
                <input
                  id="secondDateRange"
                  class="w-100  btn btn-md ms-2 bg-white text-dark border-dark form-select"
                  type="text"
                  name="dateRange"
                  [value]="dateRangePicker.range"
                  placeholder="From - To"
                />
              </div>
            </div>
          </date-range-picker>
        </div>
        <div class="col-md-2 mb-2">
          <button
            class="btn border-dark w-100  btn-primary"
            (click)="getBetHistoryForUser()"
          >
            Submit
          </button>
        </div>
      </div>
      <div class="col-md-12">
        <div class="gamedetails tabetails p-2 p-md-3">
          <div class="row align-items-center">
            <div class="col-md-6 col-5 mt-3">
              Show
              <select
                (change)="updateLimit($event)"
                class="form-select-sm border-dark bg-white text-dark rounded-3 ms-md-2 me-md-2"
              >
                <option>25</option>
                <option>50</option>
                <option>75</option>
                <option>100</option>
              </select>
              Entries
            </div>
            <div class="col-md-4 col-7 mt-3">
              Search :
              <input
                type="text"
                formControlName="search"
                placeholder="Search"
                class="ms-1 form-control-sm  border-dark bg-transparent text-dark col-9"
                [(ngModel)]="searchTerm"
                (ngModelChange)="search()"
              />
            </div>
            <div class="col-md-2 mt-3 mt-md-0">
              <button
                *ngIf="betHistoryList.length > 0"
                type="button"
                class="btn btn-md w-50  bg-color text-dark"
                (click)="exportExcel()"
              >
                Export
              </button>
            </div>
            <div class="col-md-12 mt-3 mb-3">
              <div *ngIf="betHistoryList.length == 0" class="text-center p-5">
                <h4 *ngIf="betHistoryList.length == 0 && !isLoading">
                  No data found
                </h4>
                <h4 *ngIf="isLoading">Loading...</h4>
              </div>
              <div class="overflow-auto tableFixHead">
                <table
                  *ngIf="betHistoryList.length !== 0"
                  class="table text-dark bg-white border-0 text-center"
                >
                  <thead>
                    <tr
                      class="text-dark"
                      style="
                        background: linear-gradient(90deg, #cd212f 0, #e76f26);
                      "
                    >
                      <th class="text-center tstartcol">Event Name</th>
                      <th class="text-center pe-0">Selection</th>
                      <th class="text-center pe-0">Bet Type</th>
                      <th class="text-center pe-0">User Rate</th>
                      <th class="text-end pe-0">Amount</th>
                      <th
                        *ngIf="betHistoryStatus == 'Matched'"
                        class="text-end pe-0"
                      >
                        Profit/Loss
                      </th>
                      <th *ngIf="betHistoryStatus !== 'Matched'" class="pe-0">
                        Remarks
                      </th>
                      <th class="text-center pe-0">Placed Date</th>
                      <th class="text-center tlastcol">Matched Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let betHistory of betHistoryList">
                      <td
                        *ngIf="betHistory.betType == 'BACK'"
                        class="p-3 border-start-0"
                      >
                        {{ betHistory.eventName }}
                      </td>
                      <td
                        *ngIf="betHistory.betType !== 'BACK'"
                        class="p-3 border-start-0"
                      >
                        {{ betHistory.eventName }}
                      </td>
                      <td *ngIf="betHistory.betType == 'BACK'" class="">
                        {{ betHistory.selection }}
                      </td>
                      <td *ngIf="betHistory.betType != 'BACK'" class="">
                        {{ betHistory.selection }}
                      </td>
                      <td *ngIf="betHistory.betType == 'BACK'" class="">
                        <span
                          *ngIf="betHistory.betType == 'BACK'"
                          class="border bg-primary text-primary border-primary me-2 border-3"
                        ></span>
                        <span
                          *ngIf="betHistory.betType != 'BACK'"
                          class="border r-2 bg-danger text-danger border-danger me-2 border-3"
                        ></span>
                        {{ betHistory.betType }}
                      </td>
                      <td *ngIf="betHistory.betType !== 'BACK'" class="">
                        <span
                        *ngIf="betHistory.betType == 'BACK'"
                        class="border bg-primary text-primary border-primary me-2 border-3"
                      ></span>
                      <span
                        *ngIf="betHistory.betType != 'BACK'"
                        class="border r-2 bg-danger text-danger border-danger me-2 border-3"
                      ></span>
                        {{ betHistory.betType }}
                      </td>
                      <td *ngIf="betHistory.betType == 'BACK'" class="">
                        {{ betHistory.odds }}
                      </td>
                      <td *ngIf="betHistory.betType !== 'BACK'" class="">
                        {{ betHistory.odds }}
                      </td>
                      <td *ngIf="betHistory.betType == 'BACK'" class="text-end">
                        <span>{{ betHistory.amount }}</span>
                      </td>
                      <td *ngIf="betHistory.betType !== 'BACK'" class="text-end">
                        <span>{{ betHistory.amount }}</span>
                      </td>
                      <td
                        *ngIf="
                          betHistory.betType == 'BACK' &&
                          betHistoryStatus == 'Matched'
                        "
                        class="text-end"
                      >
                        <span
                          *ngIf="betHistory.profitLoss >= 0"
                          class="text-success text-center"
                        >
                          {{ betHistory.profitLoss }}
                        </span>
                        <span
                          *ngIf="betHistory.profitLoss < 0"
                          class="text-danger"
                        >
                          {{ betHistory.profitLoss }}
                        </span>
                      </td>
  
                      <td
                        *ngIf="
                          betHistory.betType !== 'BACK' &&
                          betHistoryStatus == 'Matched'
                        "
                        class="text-end"
                      >
                        <span
                          *ngIf="betHistory.profitLoss >= 0"
                          class="text-success"
                        >
                          {{ betHistory.profitLoss }}
                        </span>
                        <span
                          *ngIf="betHistory.profitLoss < 0"
                          class="text-danger"
                        >
                          {{ betHistory.profitLoss }}
                        </span>
                      </td>
  
                      <td
                        *ngIf="
                          betHistory.betType == 'BACK' &&
                          betHistoryStatus !== 'Matched'
                        "
                        class=""
                      >
                        {{ betHistory.remarks }}
                      </td>
                      <td
                        *ngIf="
                          betHistory.betType !== 'BACK' &&
                          betHistoryStatus !== 'Matched'
                        "
                        class=""
                      >
                        {{ betHistory.remarks }}
                      </td>
  
                      <td *ngIf="betHistory.betType == 'BACK'" class="">
                        {{ betHistory.placedTime | date : "MMM d, y, h:mm:ss a" }}
                      </td>
                      <td *ngIf="betHistory.betType !== 'BACK'" class="">
                        {{ betHistory.placedTime | date : "MMM d, y, h:mm:ss a" }}
                      </td>
                      <td *ngIf="betHistory.betType == 'BACK'" class="">
                        {{
                          betHistory.matchedTime | date : "MMM d, y, h:mm:ss a"
                        }}
                      </td>
                      <td *ngIf="betHistory.betType !== 'BACK'">
                        {{
                          betHistory.matchedTime | date : "MMM d, y, h:mm:ss a"
                        }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div *ngIf="betHistoryList.length > 0 && !this.isLoading">
                <button
                  class="btn bg-dgrey  text-dark"
                  [disabled]="currentPage === 1"
                  (click)="prev()"
                >
                  Prev
                </button>
                <span class="btn btn-pink  text-dark ps-4 pe-4"
                  >{{ currentPage }} / {{ totalPages }}
                </span>
                <button
                  class="btn bg-dgrey  text-dark"
                  [disabled]="currentPage === totalPages"
                  (click)="next()"
                >
                  Next
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Artical end-->
    </div>
  </form>
</div>
