<section class="section gamedetails">
  <div class="row">
    <div class="col-md-12">
      <h4 class="text-pink">Net Exposure</h4> 
      <!-- <div class="row">
        <div
          *ngIf="!isLoading && booksForBackend.length > 0"
          class="col-md-12 overflow-scroll"
        >
          <div
            *ngIf="!isLoading && booksForBackend.length > 0"
            class="col-md-12"
          >
            <table class="table table-striped bg-white mt-3 text-center">
              <tbody *ngFor="let book of booksForBackend">
                <tr>
                  <th width="30%" class="text-start">{{ book.matchName }}</th>
                  <th width="10%">
                    <a (click)="redirectUrl('match', book.matchId, book.matchName)" class="btn btn-warning rounded-pill"> View total </a>
                  </th>
                  <th width="10%">Net Exposure</th>
                  <th width="10%">1</th>
                  <th width="10%">X</th>
                  <th width="10%">2</th>
                </tr>
                <tr *ngFor="let data of book.data">
                  <td>
                    <span>{{ data.marketName }}</span>
                  </td>
                  <td>
                    <a class="btn" (click)="redirectUrl('market', data.marketId, book.matchName)">
                       <img src="../../../../../assets/images/net_exposure.png" width="22px" alt=""/></a>
                  </td>
                  <td>
                    <a class="btn btn-pink rounded-pill pt-2 pb-2 w-100 text-danger">
                      <span [ngClass]="data.netExposure > 0 ? 'text-success' : 'text-danger'">{{ data.netExposure }}</span>
                    </a>
                  </td>
                  <td>
                    <a *ngIf="data.horses[0]?.finalAmount>0" class="btn rounded-pill alert alert-success pt-2 pb-2 w-100">
                      <span class="text-success">
                        {{ data.horses[0]?.finalAmount? data.horses[0]?.finalAmount: 0}}
                      </span>
                    </a>
                    <a *ngIf="data.horses[0]?.finalAmount<0" class="btn rounded-pill alert alert-danger pt-2 pb-2 w-100">
                      <span class="text-danger">
                        {{ data.horses[0]?.finalAmount? data.horses[0]?.finalAmount: 0}}
                      </span>
                    </a>
                    <a *ngIf="data.horses[0]?.finalAmount==0" class="btn rounded-pill alert pt-2 pb-2 w-100">
                      <span>
                        --
                      </span>
                    </a>
                  </td>
                  <td>
                    <ng-container *ngIf="data.horses[2]">
                      <a *ngIf="data.horses[2].finalAmount>0"  class="btn rounded-pill alert alert-success pt-2 pb-2 w-100">
                        <span class="text-success">
                          {{ data.horses[2]?.finalAmount? data.horses[2]?.finalAmount: 0}}
                        </span>
                      </a >
                      <a *ngIf="data.horses[2].finalAmount<0"  class="btn rounded-pill alert alert-danger pt-2 pb-2 w-100">
                        <span class="text-danger">
                          {{ data.horses[2]?.finalAmount? data.horses[2]?.finalAmount: 0}}
                        </span>
                      </a >
                      <a *ngIf="data.horses[2].finalAmount==0"  class="btn rounded-pill alert pt-2 pb-2 w-100">
                        <span>
                          --
                        </span>
                      </a >
                    </ng-container>
                  </td>
                  <td>
                    <a *ngIf="data.horses[1]?.finalAmount<0"  class="btn rounded-pill alert alert-danger pt-2 pb-2 w-100">
                      <span class="text-danger">{{ data.horses[1]?.finalAmount? data.horses[1]?.finalAmount: 0}}</span>
                    </a>

                    <a *ngIf="data.horses[1]?.finalAmount>0" class="btn rounded-pill alert alert-success pt-2 pb-2 w-100">
                      <span class="text-success">{{ data.netExposure }}</span>
                    </a>

                    <a *ngIf="data.horses[1]?.finalAmount==0" class="btn rounded-pill alert pt-2 pb-2 w-100">
                      <span>--</span>
                    </a>

                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="col-md-12 mt-3" *ngIf="booksForBackend.length == 0">
          <div class="border text-center p-5">
            <h4 *ngIf="booksForBackend.length == 0 && !isLoading">
              No data found
            </h4>
            <h4 *ngIf="isLoading">Loading...</h4>
          </div>
        </div>
      </div> -->

      <div class="row">
        <div
          *ngIf="booksForBackend.length > 0"
          class="col-md-12 overflow-auto"
        >
          <table
            class="table tableall mt-3 align_thead mb-0"
            *ngFor="let book of booksForBackend"
          >
            <thead>
              <!-- <tr>
                <th width="30%" class="text-start">{{ book.matchName }}</th>
                <th width="20%">
                  <a
                    (click)="
                      redirectUrl(book.data)
                    "
                    class="btn btn-warning rounded-pill"
                  >
                    View total</a
                  >
                </th>
                <th width="20%">Net Exposure</th>
                <th width="10%">1</th>
                <th width="10%">X</th>
                <th width="10%">2</th>

              </tr> -->
              <tr class="bookmatch">
                <th class="text-start first">
                  <span>{{ book.matchName }}</span>
                </th>
                <!-- <th>
                  <a

                    class="btn btn-warning rounded-pill"
                  >
                    View total</a
                  >
                </th> -->
                <th class="text-center">Net Exposure</th>
                <th class="text-center">1</th>
                <th>X</th>
                <th class="last text-center">2</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of book.data">
                <td>
                  <span>{{ data.marketName }}</span>
                </td>
                <!-- <td>
                  <a  class="pointer">
                    <img
                      src="../../../../../assets/images/net_exposure.png"
                      width="22px"
                      alt=""
                  /></a>
                </td> -->
                <td>
                  <a
                    class="btn rounded-pill alert alert-danger pt-2 pb-2 w-100 text-danger"
                  >
                    <span
                      [ngClass]="
                        data.netExposure > 0 ? 'text-success' : 'text-danger'
                      "
                      >{{ data.netExposure | number : "1.2-2" }}</span
                    >
                  </a>
                </td>
                <td>
                  <a
                    *ngIf="data.horses[0]?.finalAmount > 0"
                    class="btn rounded-pill alert alert-success pt-2 pb-2 w-100"
                  >
                    <span class="text-success">
                      {{
                        data.horses[0]?.finalAmount
                          ? (data.horses[0]?.finalAmount | number : "1.2-2")
                          : 0
                      }}
                    </span>
                  </a>
                  <a
                    *ngIf="data.horses[0]?.finalAmount < 0"
                    class="btn rounded-pill alert alert-danger pt-2 pb-2 w-100"
                  >
                    <span class="text-danger">
                      {{
                        data.horses[0]?.finalAmount
                          ? (data.horses[0]?.finalAmount | number : "1.2-2")
                          : 0
                      }}
                    </span>
                  </a>
                  <a
                    *ngIf="data.horses[0]?.finalAmount == 0"
                    class="btn rounded-pill alert pt-2 pb-2 w-100"
                  >
                    <span> 0 </span>
                  </a>
                </td>
                <td>
                  <ng-container *ngIf="data.horses[2]">
                    <a
                      *ngIf="data.horses[2].finalAmount > 0"
                      class="btn rounded-pill alert alert-success pt-2 pb-2 w-100"
                    >
                      <span class="text-success">
                        {{
                          data.horses[2]?.finalAmount
                            ? (data.horses[2]?.finalAmount | number : "1.2-2")
                            : 0
                        }}
                      </span>
                    </a>
                    <a
                      *ngIf="data.horses[2].finalAmount < 0"
                      class="btn rounded-pill alert alert-danger pt-2 pb-2 w-100"
                    >
                      <span class="text-danger">
                        {{
                          data.horses[2]?.finalAmount
                            ? (data.horses[2]?.finalAmount | number : "1.2-2")
                            : 0
                        }}
                      </span>
                    </a>
                    <a
                      *ngIf="data.horses[2].finalAmount == 0"
                      class="btn rounded-pill alert pt-2 pb-2 w-100"
                    >
                      <span> 0 </span>
                    </a>
                  </ng-container>
                </td>
                <td>
                  <a
                    *ngIf="data.horses[1]?.finalAmount < 0"
                    class="btn rounded-pill alert alert-danger pt-2 pb-2 w-100"
                  >
                    <span class="text-danger">{{
                      data.horses[1]?.finalAmount
                        ? (data.horses[1]?.finalAmount | number : "1.2-2")
                        : 0
                    }}</span>
                  </a>

                  <a
                    *ngIf="data.horses[1]?.finalAmount > 0"
                    class="btn rounded-pill alert alert-success pt-2 pb-2 w-100"
                  >
                    <span class="text-success">{{
                      data.horses[1]?.finalAmount
                        ? (data.horses[1]?.finalAmount | number : "1.2-2")
                        : 0
                    }}</span>
                  </a>

                  <a
                    *ngIf="data.horses[1]?.finalAmount == 0"
                    class="btn rounded-pill alert pt-2 pb-2 w-100"
                  >
                    <span>0</span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
