<main id="main" class="main m-0">
  <section class="section gamedetails">
    <h3 *ngIf="isLoading" class="text-center">Loading ...</h3>
    <h3 class="text-center" *ngIf="!isLoading && settingObj">App Settings</h3>
    <br>
    <div class="container">
      <div class="row mb-2" *ngIf="clientId == 1">
        <div class="col-md-3">
          <h3 class="text-pink">Bet Settings</h3>
        </div>
      </div>
      <div class="row align-items-end" *ngIf="clientId == 1">
        <div class="col-md-6 mb-3">
          Turn Bet On/Off
        </div>
        <div class="col-md-6 mb-3">
          <label class="toggle-container">

            <input [checked]="betStatus" type="checkbox" id="toggle-button" class="toggle-class active"
              (change)="_toggleBetStatus(betStatus=!betStatus)" />
            <span class="toggle-class-slider"></span>
          </label>
        </div>
        <hr class="">
      </div>
      <div class="row mb-2"  *ngIf="clientId == 1">
        <div class="col-md-3">
          <h3 class="text-pink">Socket Settings</h3>
        </div>
      </div>
      <div class="row align-items-end" *ngIf="clientId == 1">
        <div class="col-md-6 mb-3">
          Start Backup Socket Server (Azure) :
        </div>
        <div class="col-md-6 mb-3">
          <label class="toggle-container">

            <input [checked]="socketStatus" type="checkbox" id="toggle-button" class="toggle-class active"
              (change)="_toggleSocketStatus(socketStatus=!socketStatus)" />
            <span class="toggle-class-slider"></span>
          </label>
        </div>
        <hr class="">
      </div>
      <div class="row" *ngIf="!isLoading && settingObj">
        <div class="col-3">
          <h3 class="text-pink">Notice Message</h3>
        </div>
      </div>
      <div class="row" *ngIf="!isLoading && settingObj">
        <!-- ! -->
        <div class="col-3">
          <textarea id="noticeMessage" name="noticeMessage" class="form-control" [(ngModel)]="settingObj.noticeMessage"
            rows="4" cols="50">

          </textarea>
        </div>
      </div>
      <div class="row mt-5" *ngIf="!isLoading && settingObj">
        <div class="col-6 offset-md-3 text-center">
          <button class="form-control" class="btn btn-pink rounded-pill w-50" [disabled]="submitting"
            (click)="submit()">{{submitting?'Saving..':'Save'}}</button>
        </div>
      </div>
    </div>

  </section>
</main>