<main id="main" class="main m-0">
  <section class="section gamedetails mb-3">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <h4>
              <a (click)="backClicked()"><i class="fa fa-1x fa-circle-chevron-left"></i></a>
              {{ matchName }}
            </h4>
          </div>
          <div class="col-md-6 text-end">
            <!-- <p>
              <a class="text-decoration-none ">
                <input
                  type="radio"
                  checked=""
                  class="radioselected cursor-pointer"
                  id="html"
                  name="fav_language"
                  value="HTML"
                /><span class="rounded-pill p-2 m-2">My PT</span>
              </a>
              <a class="text-decoration-none ">
                <input
                  type="radio"
                  checked=""
                  class="radioselected cursor-pointer"
                  id="html"
                  name="fav_language"
                  value="HTML"
                /><span class="rounded-pill p-2 m-2">Total Book</span>
              </a>
            </p> -->
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section gamedetails mt-3 mb-3">
    <input type="text" class="form-control border-start-0 border-pink radius-right-tb" placeholder="Search Member Name"
      aria-label="Search" aria-describedby="addon-wrapping" [(ngModel)]="searchTerm" (ngModelChange)="search()" />
    <div class="col-md-12 text-end">Bet Count : {{ viewTotal.length }}</div>
    <div class="col-md-12 overflow-auto">
      <table class="table tableall">
        <thead>
          <tr>
            <th scope="col" class="first">#</th>
            <th scope="col">Place time</th>
            <th scope="col">Events</th>
            <th scope="col">Market</th>
            <th scope="col">Selection</th>
            <th scope="col">Odds Placed</th>
            <th scope="col">Odds Matched</th>
            <th scope="col">Matched</th>
            <th scope="col">Unmatched</th>
            <th scope="col">Profit Liability</th>
            <th scope="col" class="last text-center">IP</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let viewTotalEach of viewTotal; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ viewTotalEach.placedDate | date : "medium" }}</td>
            <td>{{ viewTotalEach.event }}</td>
            <td>
              <span *ngIf="!viewTotalEach.isBack" class="border bg-danger text-danger me-2"></span>
              <span *ngIf="viewTotalEach.isBack" class="border bg-primary text-primary border-primary me-2"></span>
              {{ viewTotalEach.marketName }}
            </td>
            <td>{{ viewTotalEach.selectionName }}</td>
            <td>{{ viewTotalEach.betRate }}</td>
            <td>{{ viewTotalEach.betRate }}</td>
            <td>
              <ng-container *ngIf="viewTotalEach.isMatched; else notMatched">
                {{ viewTotalEach.stake }}
              </ng-container>
              <ng-template #notMatched> -- </ng-template>
            </td>
            <td class="text-danger">
              <ng-container *ngIf="!viewTotalEach.isMatched; else notMatched">
                {{ viewTotalEach.stake }}
              </ng-container>
              <ng-template #notMatched> -- </ng-template>
            </td>
            <td [ngClass]="viewTotalEach.isBack ? 'text-success' : 'text-danger'">
              {{ viewTotalEach.profitLiability }}
            </td>
            <td>
              <div class="tooltipnk">
                <i class="fa-sharp fa-solid fa-info"></i>
                <span class="tooltiptext tabTooltip px-5 w-auto">
                  <small>{{ viewTotalEach.IP }}</small>
                </span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <div *ngIf="viewTotal.length == 0" class="border text-center p-5">
    <h4 *ngIf="viewTotal.length == 0 && !isLoading">No data found</h4>
    <h4 *ngIf="isLoading">Loading...</h4>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div *ngIf="viewTotal.length > 0 && !this.isLoading">
        <button class="btn bg-dgrey rounded-pill " [disabled]="currentPage === 1" (click)="prev()">
          Prev
        </button>
        <span class="btn btn-pink rounded-pill ps-4 pe-4">{{ currentPage }} / {{ totalPages }}
        </span>
        <button class="btn bg-dgrey rounded-pill " [disabled]="currentPage === totalPages" (click)="next()">
          Next
        </button>
      </div>
    </div>
  </div>
</main>