<!--body start-->
<div class="row m-0">
    <div class="col-md-12 pb-2 pt-2">
      <a class="text-color small text-decoration-none h6"><i class="fa fa-angle-left text-white" (click)="goBack()"></i>&nbsp;&nbsp; NEWS</a>
    </div>
    <hr class="text-color">
    <!--Artical Start-->
    <div class="col-md-12 ps-5 pe-5 accordionn">
      <div class="innerpagem" >
        <!--news start-->

        <!--Write your code here-->

        <!--news end-->
      </div>
    </div>
    <!--Artical end-->
  </div>
  <!--Body end-->